Repository torchgeo/torchgeo, pull requests merged in 2021-09, with the labels that each got.

#98 Add trainer for NAIP + Chesapeake
  conf/naipchesapeake.yaml
  conf/task_defaults/naipchesapeake.yaml
  torchgeo/trainers/__init__.py
  torchgeo/trainers/naipchesapeake.py
  train.py
Labels: trainer

#119 Add ETCI2021 Dataset
  docs/api/datasets.rst
  tests/data/etci2021/test_without_ref_labels.zip
  tests/data/etci2021/train.zip
  tests/data/etci2021/val_with_ref_labels.zip
  tests/datasets/test_etci2021.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/etci2021.py
Labels: dataset

#126 Add RESISC45 Dataset
  docs/api/datasets.rst
  tests/data/resisc45/NWPU-RESISC45.rar
  tests/datasets/test_resisc45.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/resisc45.py
Labels: dataset

#128 Adding a length property to GridGeoSampler
  torchgeo/samplers/batch.py
  torchgeo/samplers/single.py
  torchgeo/samplers/utils.py
Labels: sampler

#129 Add Spacenet 1: Building Detection v1
  docs/api/datasets.rst
  tests/data/spacenet/spacenet1/sn1_AOI_1_RIO.tar.gz
  tests/datasets/test_spacenet.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/spacenet.py
Labels: dataset

#131 Cleaning up ChesapeakeCVPR
  docs/tutorials/getting_started.ipynb
  test_chesapeakecvpr_models.py
  tests/datasets/test_cbf.py
  tests/datasets/test_cdl.py
  tests/datasets/test_chesapeake.py
  tests/transforms/test_transforms.py
  torchgeo/datasets/chesapeake.py
  torchgeo/datasets/geo.py
  torchgeo/trainers/chesapeake.py
  torchgeo/transforms/transforms.py
  train.py
Labels: dataset, transform

#134 Proposal: better handling of partial timestamps
  tests/datasets/test_cdl.py
  tests/datasets/test_utils.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/utils.py
Labels: dataset

#138 CDL: don't re-download dataset if zip files are missing
  tests/datasets/test_cdl.py
  torchgeo/datasets/cdl.py
Labels: dataset

#143 Required checks must always be run
  .github/workflows/docs.yaml
  .github/workflows/release.yaml
  .github/workflows/style.yaml
  .github/workflows/tests.yaml
Labels: testing

#142 Feature/chesapeake cvpr training
  conf/chesapeake_cvpr.yaml
  conf/task_defaults/chesapeake_cvpr.yaml
  torchgeo/trainers/chesapeake.py
Labels: trainer

#133 Add ADVANCE dataset
  docs/api/datasets.rst
  docs/requirements.txt
  environment.yml
  requirements.txt
  setup.cfg
  spack.yaml
  tests/data/README.md
  tests/data/advance/ADVANCE_sound.zip
  tests/data/advance/ADVANCE_vision.zip
  tests/datasets/test_advance.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/advance.py
Labels: dataset

#147 Add ZueriCrop dataset
  docs/api/datasets.rst
  tests/data/README.md
  tests/data/zuericrop/ZueriCrop.hdf5
  tests/data/zuericrop/labels.csv
  tests/datasets/test_zuericrop.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/zuericrop.py
Labels: dataset

#152 Add download_radiant_mlhub_collection
  tests/datasets/test_benin_cashews.py
  tests/datasets/test_cv4a_kenya_crop_type.py
  tests/datasets/test_spacenet.py
  tests/datasets/test_utils.py
  torchgeo/datasets/benin_cashews.py
  torchgeo/datasets/cv4a_kenya_crop_type.py
  torchgeo/datasets/cyclone.py
  torchgeo/datasets/spacenet.py
  torchgeo/datasets/utils.py
Labels: dataset

#156 Set src properties for vector test data generation
  tests/data/README.md
Labels: dataset, testing

#150 Add FarSeg model
  tests/models/test_farseg.py
  torchgeo/models/__init__.py
  torchgeo/models/farseg.py
Labels: model

#153 Add installation instructions
  README.md
  docs/index.rst
  docs/user/installation.rst
Labels: documentation

#115 Add dataset/sampler benchmarking script
  .gitignore
  benchmark.py
  run_benchmarks_experiments.py
Labels: dataset, sampler

#157 Adding ChangeStar model
  tests/models/test_changestar.py
  torchgeo/models/__init__.py
  torchgeo/models/changestar.py
  torchgeo/models/farseg.py
Labels: model

#164 Tutorials: use pip install torchgeo
  docs/tutorials/benchmarking.ipynb
  docs/tutorials/getting_started.ipynb
  docs/tutorials/trainers.ipynb
Labels: documentation

#169 Added the UC Merced dataset
  docs/api/datasets.rst
  tests/data/ucmerced/UCMerced_LandUse.zip
  tests/datasets/test_ucmerced.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/ucmerced.py
Labels: dataset

#171 Add VisionClassificationDataset
  docs/api/datasets.rst
  tests/data/visionclassificationdataset/class0/001.jpg
  tests/data/visionclassificationdataset/class1/001.jpg
  tests/datasets/test_geo.py
  tests/datasets/test_patternnet.py
  tests/datasets/test_resisc45.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/patternnet.py
  torchgeo/datasets/resisc45.py
Labels: dataset

#155 SpaceNet 2
  docs/api/datasets.rst
  tests/data/spacenet/sn1_AOI_1_RIO.tar.gz
  tests/data/spacenet/sn2_AOI_2_Vegas.tar.gz
  tests/data/spacenet/sn2_AOI_3_Paris.tar.gz
  tests/data/spacenet/sn2_AOI_4_Shanghai.tar.gz
  tests/data/spacenet/sn2_AOI_5_Khartoum.tar.gz
  tests/datasets/test_spacenet.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/spacenet.py
Labels: dataset
