Repository torchgeo/torchgeo, pull requests merged in 2021-12, with the labels that each got.

#144 Overhaul BoundingBox and ZipDataset classes
  README.md
  benchmark.py
  docs/api/datasets.rst
  docs/tutorials/getting_started.ipynb
  pyproject.toml
  setup.cfg
  tests/data/cbf/Alberta.geojson
  tests/data/cbf/BritishColumbia.geojson
  tests/data/cbf/Manitoba.geojson
  tests/data/cbf/NewBrunswick.geojson
  tests/data/cbf/NewfoundlandAndLabrador.geojson
  tests/data/cbf/NorthwestTerritories.geojson
  tests/data/cbf/NovaScotia.geojson
  tests/data/cbf/Nunavut.geojson
  tests/data/cbf/Ontario.geojson
  tests/data/cbf/PrinceEdwardIsland.geojson
  tests/data/cbf/Quebec.geojson
  tests/data/cbf/Saskatchewan.geojson
  tests/data/cbf/YukonTerritory.geojson
  tests/data/naip/m_3807511_ne_18_060_20190605.tif
  tests/data/sentinel2/T41XNE_20200829T083611_B02_10m.tif.fake
  tests/datasets/test_cbf.py
  tests/datasets/test_cdl.py
  tests/datasets/test_chesapeake.py
  tests/datasets/test_geo.py
  tests/datasets/test_landsat.py
  tests/datasets/test_naip.py
  tests/datasets/test_sentinel.py
  tests/datasets/test_utils.py
  tests/samplers/test_batch.py
  tests/samplers/test_single.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/chesapeake.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/naip.py
  torchgeo/datasets/utils.py
  torchgeo/samplers/batch.py
  torchgeo/samplers/single.py
Labels: dataset

#268 Kornia v0.6.2 test updates
  tests/transforms/test_transforms.py
Labels: testing, transform

#201 Add IDTReeS dataset
  docs/api/datasets.rst
  environment.yml
  setup.cfg
  tests/data/README.md
  tests/data/idtrees/IDTREES_competition_test_v2.zip
  tests/data/idtrees/IDTREES_competition_train_v2.zip
  tests/data/idtrees/task1/RemoteSensing/CHM/MLBS_4.tif
  tests/data/idtrees/task1/RemoteSensing/CHM/OSBS_11.tif
  tests/data/idtrees/task1/RemoteSensing/CHM/TALL_1.tif
  tests/data/idtrees/task1/RemoteSensing/HSI/MLBS_4.tif
  tests/data/idtrees/task1/RemoteSensing/HSI/OSBS_11.tif
  tests/data/idtrees/task1/RemoteSensing/HSI/TALL_1.tif
  tests/data/idtrees/task1/RemoteSensing/LAS/MLBS_4.las
  tests/data/idtrees/task1/RemoteSensing/LAS/OSBS_11.las
  tests/data/idtrees/task1/RemoteSensing/LAS/TALL_1.las
  tests/data/idtrees/task1/RemoteSensing/RGB/MLBS_4.tif
  tests/data/idtrees/task1/RemoteSensing/RGB/OSBS_11.tif
  tests/data/idtrees/task1/RemoteSensing/RGB/TALL_1.tif
  tests/data/idtrees/task2/ITC/test_MLBS.dbf
  tests/data/idtrees/task2/ITC/test_MLBS.shp
  tests/data/idtrees/task2/ITC/test_MLBS.shx
  tests/data/idtrees/task2/ITC/test_OSBS.dbf
  tests/data/idtrees/task2/ITC/test_OSBS.shp
  tests/data/idtrees/task2/ITC/test_OSBS.shx
  tests/data/idtrees/task2/ITC/test_TALL.dbf
  tests/data/idtrees/task2/ITC/test_TALL.shp
  tests/data/idtrees/task2/ITC/test_TALL.shx
  tests/data/idtrees/task2/RemoteSensing/CHM/MLBS_1.tif
  tests/data/idtrees/task2/RemoteSensing/CHM/OSBS_15.tif
  tests/data/idtrees/task2/RemoteSensing/CHM/TALL_2.tif
  tests/data/idtrees/task2/RemoteSensing/HSI/MLBS_1.tif
  tests/data/idtrees/task2/RemoteSensing/HSI/OSBS_15.tif
  tests/data/idtrees/task2/RemoteSensing/HSI/TALL_2.tif
  tests/data/idtrees/task2/RemoteSensing/LAS/MLBS_1.las
  tests/data/idtrees/task2/RemoteSensing/LAS/OSBS_15.las
  tests/data/idtrees/task2/RemoteSensing/LAS/TALL_2.las
  tests/data/idtrees/task2/RemoteSensing/RGB/MLBS_1.tif
  tests/data/idtrees/task2/RemoteSensing/RGB/OSBS_15.tif
  tests/data/idtrees/task2/RemoteSensing/RGB/TALL_2.tif
  tests/data/idtrees/train/ITC/train_MLBS.dbf
  tests/data/idtrees/train/ITC/train_MLBS.shp
  tests/data/idtrees/train/ITC/train_MLBS.shx
  tests/data/idtrees/train/ITC/train_OSBS.dbf
  tests/data/idtrees/train/ITC/train_OSBS.shp
  tests/data/idtrees/train/ITC/train_OSBS.shx
  tests/data/idtrees/train/RemoteSensing/CHM/MLBS_1.tif
  tests/data/idtrees/train/RemoteSensing/CHM/OSBS_1.tif
  tests/data/idtrees/train/RemoteSensing/CHM/OSBS_39.tif
  tests/data/idtrees/train/RemoteSensing/HSI/MLBS_1.tif
  tests/data/idtrees/train/RemoteSensing/HSI/OSBS_1.tif
  tests/data/idtrees/train/RemoteSensing/HSI/OSBS_39.tif
  tests/data/idtrees/train/RemoteSensing/LAS/MLBS_1.las
  tests/data/idtrees/train/RemoteSensing/LAS/OSBS_1.las
  tests/data/idtrees/train/RemoteSensing/LAS/OSBS_39.las
  tests/data/idtrees/train/RemoteSensing/RGB/MLBS_1.tif
  tests/data/idtrees/train/RemoteSensing/RGB/OSBS_1.tif
  tests/data/idtrees/train/RemoteSensing/RGB/OSBS_39.tif
  tests/datasets/test_idtrees.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/idtrees.py
Labels: dataset

#265 Fixing network calls in unit tests
  conf/task_defaults/byol.yaml
  conf/task_defaults/chesapeake_cvpr.yaml
  conf/task_defaults/cyclone.yaml
  conf/task_defaults/etci2021.yaml
  conf/task_defaults/landcoverai.yaml
  conf/task_defaults/naipchesapeake.yaml
  conf/task_defaults/sen12ms.yaml
  tests/data/models/resnet50-sentinel2-2.pt.zip
  tests/models/test_resnet.py
  tests/trainers/test_classification.py
  tests/trainers/test_so2sat.py
  torchgeo/__init__.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/so2sat.py
Labels: testing

#269 NASA Marine Debris dataset
  docs/api/datasets.rst
  tests/data/nasa_marine_debris/nasa_marine_debris_labels.tar.gz
  tests/data/nasa_marine_debris/nasa_marine_debris_labels/nasa_marine_debris_labels_20160928_153233_0e16_16816-29821-16/pixel_bounds.npy
  tests/data/nasa_marine_debris/nasa_marine_debris_labels/nasa_marine_debris_labels_20160928_153233_0e16_16816-29824-16/pixel_bounds.npy
  tests/data/nasa_marine_debris/nasa_marine_debris_labels/nasa_marine_debris_labels_20160928_153233_0e16_16816-29825-16/pixel_bounds.npy
  tests/data/nasa_marine_debris/nasa_marine_debris_labels/nasa_marine_debris_labels_20160928_153233_0e16_16816-29828-16/pixel_bounds.npy
  tests/data/nasa_marine_debris/nasa_marine_debris_source.tar.gz
  tests/data/nasa_marine_debris/nasa_marine_debris_source/nasa_marine_debris_source_20160928_153233_0e16_16816-29821-16/image_geotiff.tif
  tests/data/nasa_marine_debris/nasa_marine_debris_source/nasa_marine_debris_source_20160928_153233_0e16_16816-29824-16/image_geotiff.tif
  tests/data/nasa_marine_debris/nasa_marine_debris_source/nasa_marine_debris_source_20160928_153233_0e16_16816-29825-16/image_geotiff.tif
  tests/data/nasa_marine_debris/nasa_marine_debris_source/nasa_marine_debris_source_20160928_153233_0e16_16816-29828-16/image_geotiff.tif
  tests/datasets/test_nasa_marine_debris.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/nasa_marine_debris.py
Labels: dataset

#232 Add FAIR1M Dataset
  docs/api/datasets.rst
  tests/data/fair1m/images.zip
  tests/data/fair1m/images/0.tif
  tests/data/fair1m/images/1.tif
  tests/data/fair1m/images/2.tif
  tests/data/fair1m/images/3.tif
  tests/data/fair1m/labelXmls.zip
  tests/data/fair1m/labelXmls/0.xml
  tests/data/fair1m/labelXmls/1.xml
  tests/data/fair1m/labelXmls/2.xml
  tests/data/fair1m/labelXmls/3.xml
  tests/datasets/test_fair1m.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/fair1m.py
Labels: dataset

#295 Replace pytorch-gpu with pytorch in environment.yml
  docs/user/installation.rst
  environment.yml
Labels: documentation

#281 Chesapeake: support already downloaded zip files
  tests/datasets/test_chesapeake.py
  torchgeo/datasets/chesapeake.py
Labels: dataset

#284 Add normalized burn ratio transform
  tests/transforms/test_indices.py
  torchgeo/transforms/__init__.py
  torchgeo/transforms/indices.py
Labels: transforms

#288 plotting method for GID15 dataset
  tests/datasets/test_gid15.py
  torchgeo/datasets/gid15.py
Labels: datasets

#287 Rework list of required dependencies
  .github/workflows/docs.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  setup.cfg
  tests/datasets/test_advance.py
  tests/datasets/test_idtrees.py
  tests/datasets/test_nwpu.py
  tests/datasets/test_resisc45.py
  tests/datasets/test_so2sat.py
  tests/datasets/test_utils.py
  torchgeo/datasets/idtrees.py
  torchgeo/datasets/nwpu.py
  torchgeo/datasets/so2sat.py
Labels: testing

#292 Remove sphinx CI test
  .github/workflows/docs.yaml
  .github/workflows/style.yaml
  README.md
Labels: documentation, testing

#298 plotting method Cyclone dataset
  tests/datasets/test_cyclone.py
  tests/datasets/test_gid15.py
  torchgeo/datasets/cyclone.py
  torchgeo/datasets/gid15.py
Labels: datasets

#304 Fix GeoDataset pickling
  tests/datasets/test_geo.py
  torchgeo/datasets/geo.py
Labels: datasets

#306 Transform tests: min Kornia version, filter warnings
  pyproject.toml
  tests/transforms/test_transforms.py
Labels: testing, transforms

#307 So2Sat: prevent test warnings
  tests/data/so2sat/testing.h5
  tests/data/so2sat/training.h5
  tests/data/so2sat/validation.h5
  tests/datasets/test_so2sat.py
Labels: datasets, testing

#313 Use rasterio Affine for mypy
  torchgeo/datasets/spacenet.py
Labels: datasets

#309 Open specific version of tutorial in Colab
  docs/conf.py
Labels: documentation

#262 OSCD: adding configuration file
  conf/oscd.yaml
  conf/task_defaults/oscd.yaml
  tests/datasets/test_oscd.py
  torchgeo/__init__.py
  torchgeo/datasets/oscd.py
Labels: trainers

#311 Update SpaceNet plot fns
  tests/datasets/test_spacenet.py
  torchgeo/datasets/spacenet.py
Labels: datasets

#316 Add Launch in Hub button to tutorials
  docs/_static/workaround.css
  docs/conf.py
Labels: documentation

#277 Docs: get rid of "Return type: None" for procedures with no return value
  docs/conf.py
  docs/requirements.txt
  environment.yml
Labels: documentation

#283 Add custom RasterDataset notebook
  docs/index.rst
  docs/tutorials/custom_raster_dataset.ipynb
  tests/data/xview3/sample_data.tar.gz
Labels: documentation

#327 Only test optional dataset deps on release branch
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Labels: testing

#328 Mark features added in #144 as new
  torchgeo/datasets/geo.py
  torchgeo/datasets/utils.py
Labels: documentation, datasets

#300 Add plotting method for COWC dataset
  tests/datasets/test_cowc.py
  torchgeo/datasets/cowc.py
Labels: datasets, testing

#202 functionality for learning on the prior with QR loss and ChesapeakeCVPR data
  docs/api/losses.rst
  docs/index.rst
  pyproject.toml
  tests/data/chesapeake/cvpr/cvpr_chesapeake_landcover_prior_extension.zip
  tests/data/chesapeake/cvpr/de_1m_2013_extended-debuffered-test_tiles/m_3807504_ne_18_1_prior_from_cooccurrences_101_31_no_osm_no_buildings.tif
  tests/datamodules/test_chesapeake.py
  tests/datasets/test_chesapeake.py
  tests/losses/__init__.py
  tests/losses/test_qr.py
  torchgeo/datamodules/chesapeake.py
  torchgeo/datasets/chesapeake.py
  torchgeo/losses/__init__.py
  torchgeo/losses/qr.py
  torchgeo/models/fcn.py
Labels: documentation, datasets, models, testing, datamodules, losses

#264 Add plot method to ADVANCE, BeninSmallHolderCashews, and BigEarthNet datasets
  tests/datasets/test_advance.py
  tests/datasets/test_benin_cashews.py
  tests/datasets/test_bigearthnet.py
  torchgeo/datasets/advance.py
  torchgeo/datasets/benin_cashews.py
  torchgeo/datasets/bigearthnet.py
Labels: datasets, testing

#333 Quick fix for losses docs
  torchgeo/datasets/chesapeake.py
  torchgeo/losses/qr.py
Labels: documentation, datasets, losses

#312 Add plotting method for CV4A Kenya Crop Type Dataset
  tests/datasets/test_cv4a_kenya_crop_type.py
  torchgeo/datasets/cv4a_kenya_crop_type.py
Labels: datasets, testing

#335 Add plot method to Levir, and change directory path
  tests/data/levircd/LEVIR-CD+.zip
  tests/datasets/test_levircd.py
  torchgeo/datasets/levircd.py
Labels: datasets, testing

#334 Add plot method and band selection to Zueri crop dataset
  tests/data/zuericrop/ZueriCrop.hdf5
  tests/datasets/test_zuericrop.py
  torchgeo/datasets/zuericrop.py
Labels: datasets, testing

#314 Add plot method to PatternNet dataset
  tests/data/patternnet/PatternNet.zip
  tests/datasets/test_patternnet.py
  torchgeo/datasets/patternnet.py
Labels: datasets, testing

#338 Add plotting method and band selection to Sen12ms, replacing #320
  tests/datasets/test_sen12ms.py
  torchgeo/datasets/sen12ms.py
Labels: datasets, testing
