Repository torchgeo/torchgeo, pull requests merged in 2021-11, with the labels that each got.

#216 Add train/val/test splits to UCMerced
  tests/data/ucmerced/uc_merced-test.txt
  tests/data/ucmerced/uc_merced-train.txt
  tests/data/ucmerced/uc_merced-val.txt
  tests/datasets/test_ucmerced.py
  tests/trainers/test_ucmerced.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/ucmerced.py
  torchgeo/trainers/ucmerced.py
Labels: dataset

#215 Refactoring: RegressionTask trainer
  docs/tutorials/trainers.ipynb
  tests/trainers/test_cyclone.py
  tests/trainers/test_tasks.py
  torchgeo/trainers/__init__.py
  torchgeo/trainers/cyclone.py
  torchgeo/trainers/tasks.py
  train.py
Labels: trainer

#209 Add pre-trained models for ResNet
  tests/models/test_resnet.py
  torchgeo/models/__init__.py
  torchgeo/models/resnet.py
Labels: model

#218 Adding splits to RESISC45 and EuroSat
  tests/data/eurosat/ds/images/remote_sensing/otherDatasets/sentinel_2/tif/AnnualCrop/AnnualCrop_1.tif
  tests/data/eurosat/ds/images/remote_sensing/otherDatasets/sentinel_2/tif/Forest/Forest_1.tif
  tests/data/eurosat/eurosat-test.txt
  tests/data/eurosat/eurosat-train.txt
  tests/data/eurosat/eurosat-val.txt
  tests/data/resisc45/resisc45-test.txt
  tests/data/resisc45/resisc45-train.txt
  tests/data/resisc45/resisc45-val.txt
  tests/datasets/test_eurosat.py
  tests/datasets/test_resisc45.py
  tests/trainers/test_resisc45.py
  torchgeo/datasets/eurosat.py
  torchgeo/datasets/resisc45.py
  torchgeo/datasets/ucmerced.py
  torchgeo/trainers/resisc45.py
Labels: dataset

#210 Adding VGG models to the classification task and refactoring
  environment.yml
  setup.cfg
  tests/trainers/test_tasks.py
  tests/trainers/test_utils.py
  torchgeo/trainers/tasks.py
  torchgeo/trainers/utils.py
Labels: trainer

#220 Move DataModules from torchgeo.trainers to torchgeo.datasets
  docs/api/datasets.rst
  docs/tutorials/trainers.ipynb
  experiments/test_chesapeakecvpr_models.py
  setup.cfg
  tests/datasets/test_bigearthnet.py
  tests/datasets/test_chesapeake.py
  tests/datasets/test_cowc.py
  tests/datasets/test_cyclone.py
  tests/datasets/test_landcoverai.py
  tests/datasets/test_naip.py
  tests/datasets/test_resisc45.py
  tests/datasets/test_sen12ms.py
  tests/datasets/test_so2sat.py
  tests/datasets/test_ucmerced.py
  tests/trainers/test_bigearthnet.py
  tests/trainers/test_byol.py
  tests/trainers/test_chesapeake.py
  tests/trainers/test_cowc.py
  tests/trainers/test_cyclone.py
  tests/trainers/test_landcoverai.py
  tests/trainers/test_naipchesapeake.py
  tests/trainers/test_resisc45.py
  tests/trainers/test_sen12ms.py
  tests/trainers/test_so2sat.py
  tests/trainers/test_tasks.py
  tests/trainers/test_ucmerced.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/bigearthnet.py
  torchgeo/datasets/chesapeake.py
  torchgeo/datasets/cowc.py
  torchgeo/datasets/cyclone.py
  torchgeo/datasets/landcoverai.py
  torchgeo/datasets/naip.py
  torchgeo/datasets/resisc45.py
  torchgeo/datasets/sen12ms.py
  torchgeo/datasets/so2sat.py
  torchgeo/datasets/ucmerced.py
  torchgeo/samplers/batch.py
  torchgeo/samplers/single.py
  torchgeo/trainers/__init__.py
  torchgeo/trainers/bigearthnet.py
  torchgeo/trainers/chesapeake.py
  torchgeo/trainers/cowc.py
  torchgeo/trainers/cyclone.py
  torchgeo/trainers/landcoverai.py
  torchgeo/trainers/naipchesapeake.py
  torchgeo/trainers/resisc45.py
  torchgeo/trainers/sen12ms.py
  torchgeo/trainers/so2sat.py
  torchgeo/trainers/ucmerced.py
  train.py
Labels: dataset, trainer

#222 Refactor Classification Tasks
  conf/task_defaults/bigearthnet.yaml
  conf/task_defaults/resisc45.yaml
  conf/task_defaults/so2sat.yaml
  conf/task_defaults/ucmerced.yaml
  tests/trainers/test_tasks.py
  torchgeo/trainers/__init__.py
  torchgeo/trainers/bigearthnet.py
  torchgeo/trainers/resisc45.py
  torchgeo/trainers/so2sat.py
  torchgeo/trainers/tasks.py
  torchgeo/trainers/ucmerced.py
  train.py
Labels: trainer

#221 BigEarthNet Splits
  conf/bigearthnet.yaml
  conf/task_defaults/bigearthnet.yaml
  tests/data/bigearthnet/bigearthnet-test.csv
  tests/data/bigearthnet/bigearthnet-train.csv
  tests/data/bigearthnet/bigearthnet-val.csv
  tests/datasets/test_bigearthnet.py
  torchgeo/datasets/bigearthnet.py
Labels: dataset

#224 Trainers: split tasks into separate files, add SemanticSegmentationTask
  conf/chesapeake_cvpr.yaml
  conf/landcoverai.yaml
  conf/task_defaults/chesapeake_cvpr.yaml
  conf/task_defaults/landcoverai.yaml
  conf/task_defaults/naipchesapeake.yaml
  conf/task_defaults/sen12ms.yaml
  docs/api/datasets.rst
  experiments/test_chesapeakecvpr_models.py
  tests/datasets/test_landcoverai.py
  tests/trainers/test_byol.py
  tests/trainers/test_chesapeake.py
  tests/trainers/test_classification.py
  tests/trainers/test_landcoverai.py
  tests/trainers/test_naipchesapeake.py
  tests/trainers/test_regression.py
  tests/trainers/test_segmentation.py
  tests/trainers/test_so2sat.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/landcoverai.py
  torchgeo/trainers/__init__.py
  torchgeo/trainers/byol.py
  torchgeo/trainers/chesapeake.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/landcoverai.py
  torchgeo/trainers/naipchesapeake.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/segmentation.py
  torchgeo/trainers/so2sat.py
  train.py
Labels: trainer

#223 Adding the SeCo patch datasets
  docs/api/datasets.rst
  tests/data/seco/seco_100k.zip
  tests/data/seco/seco_1m.zip
  tests/datasets/test_seco.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/seco.py
Labels: dataset

#225 Adding RESISC45 trainer with augmentations
  conf/defaults.yaml
  tests/data/resisc45/NWPU-RESISC45.rar
  tests/data/resisc45/NWPU-RESISC45/airplane/airplane_001.jpg
  tests/data/resisc45/NWPU-RESISC45/airplane/airplane_002.jpg
  tests/data/resisc45/NWPU-RESISC45/airplane/airplane_003.jpg
  tests/data/resisc45/NWPU-RESISC45/airport/airport_001.jpg
  tests/data/resisc45/NWPU-RESISC45/airport/airport_002.jpg
  tests/data/resisc45/NWPU-RESISC45/airport/airport_003.jpg
  tests/data/resisc45/NWPU-RESISC45/baseball_diamond/baseball_diamond_001.jpg
  tests/data/resisc45/NWPU-RESISC45/baseball_diamond/baseball_diamond_002.jpg
  tests/data/resisc45/NWPU-RESISC45/baseball_diamond/baseball_diamond_003.jpg
  tests/datasets/test_resisc45.py
  tests/trainers/test_resisc45.py
  torchgeo/trainers/resisc45.py
  train.py
Labels: trainer

#239 VisionClassificationDataset: fix Sphinx base class mapping
  docs/conf.py
  torchgeo/datasets/geo.py
Labels: documentation

#238 Fix: add sort_sentinel2_bands to utils._add__
  torchgeo/datasets/utils.py
Labels: dataset, utility

#241 Add SpaceNet 7
  docs/api/datasets.rst
  tests/data/spacenet/sn7_test_source.tar.gz
  tests/data/spacenet/sn7_train_labels.tar.gz
  tests/data/spacenet/sn7_train_source.tar.gz
  tests/datasets/test_spacenet.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/spacenet.py
Labels: dataset

#246 Add EuroSAT datamodule
  conf/task_defaults/eurosat.yaml
  docs/api/datasets.rst
  tests/datasets/test_eurosat.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/eurosat.py
  train.py
Labels: dataset

#236 Add xView2 Dataset
  docs/api/datasets.rst
  tests/data/xview2/test/images/hurricane-michael_00000105_post_disaster.png
  tests/data/xview2/test/images/hurricane-michael_00000105_pre_disaster.png
  tests/data/xview2/test/images/hurricane-michael_00000450_post_disaster.png
  tests/data/xview2/test/images/hurricane-michael_00000450_pre_disaster.png
  tests/data/xview2/test/targets/hurricane-michael_00000105_post_disaster_target.png
  tests/data/xview2/test/targets/hurricane-michael_00000105_pre_disaster_target.png
  tests/data/xview2/test/targets/hurricane-michael_00000450_post_disaster_target.png
  tests/data/xview2/test/targets/hurricane-michael_00000450_pre_disaster_target.png
  tests/data/xview2/test_images_labels_targets.tar.gz
  tests/data/xview2/train/images/hurricane-harvey_00000072_post_disaster.png
  tests/data/xview2/train/images/hurricane-harvey_00000072_pre_disaster.png
  tests/data/xview2/train/images/hurricane-harvey_00000471_post_disaster.png
  tests/data/xview2/train/images/hurricane-harvey_00000471_pre_disaster.png
  tests/data/xview2/train/targets/hurricane-harvey_00000072_post_disaster_target.png
  tests/data/xview2/train/targets/hurricane-harvey_00000072_pre_disaster_target.png
  tests/data/xview2/train/targets/hurricane-harvey_00000471_post_disaster_target.png
  tests/data/xview2/train/targets/hurricane-harvey_00000471_pre_disaster_target.png
  tests/data/xview2/train_images_labels_targets.tar.gz
  tests/datasets/test_xview2.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/utils.py
  torchgeo/datasets/xview.py
Labels: dataset

#248 Add Vaihingen Segmentation
  docs/api/datasets.rst
  tests/data/vaihingen/ISPRS_semantic_labeling_Vaihingen.zip
  tests/data/vaihingen/ISPRS_semantic_labeling_Vaihingen_ground_truth_COMPLETE.zip
  tests/data/vaihingen/top/top_mosaic_09cm_area1.tif
  tests/data/vaihingen/top/top_mosaic_09cm_area11.tif
  tests/data/vaihingen/top/top_mosaic_09cm_area24.tif
  tests/data/vaihingen/top/top_mosaic_09cm_area6.tif
  tests/data/vaihingen/top_mosaic_09cm_area1.tif
  tests/data/vaihingen/top_mosaic_09cm_area11.tif
  tests/data/vaihingen/top_mosaic_09cm_area24.tif
  tests/data/vaihingen/top_mosaic_09cm_area6.tif
  tests/datasets/test_vaihingen.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/utils.py
  torchgeo/datasets/vaihingen.py
Labels: dataset

#247 Add Potsdam Segmentation
  docs/api/datasets.rst
  tests/data/potsdam/4_Ortho_RGBIR.zip
  tests/data/potsdam/4_Ortho_RGBIR/top_potsdam_2_10_RGBIR.tif
  tests/data/potsdam/4_Ortho_RGBIR/top_potsdam_2_11_RGBIR.tif
  tests/data/potsdam/4_Ortho_RGBIR/top_potsdam_5_15_RGBIR.tif
  tests/data/potsdam/4_Ortho_RGBIR/top_potsdam_6_15_RGBIR.tif
  tests/data/potsdam/5_Labels_all.zip
  tests/data/potsdam/top_potsdam_2_10_label.tif
  tests/data/potsdam/top_potsdam_2_11_label.tif
  tests/data/potsdam/top_potsdam_5_15_label.tif
  tests/data/potsdam/top_potsdam_6_15_label.tif
  tests/datasets/test_potsdam.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/potsdam.py
Labels: dataset

#250 Adding seed to RCF model
  tests/models/test_rcf.py
  torchgeo/models/rcf.py
Labels: model

#251 Add plot functions to datasets
  tests/datasets/test_eurosat.py
  tests/datasets/test_landcoverai.py
  tests/datasets/test_resisc45.py
  tests/datasets/test_seco.py
  tests/datasets/test_so2sat.py
  tests/datasets/test_ucmerced.py
  tests/datasets/test_utils.py
  torchgeo/datasets/etci2021.py
  torchgeo/datasets/eurosat.py
  torchgeo/datasets/landcoverai.py
  torchgeo/datasets/resisc45.py
  torchgeo/datasets/seco.py
  torchgeo/datasets/so2sat.py
  torchgeo/datasets/ucmerced.py
  torchgeo/datasets/utils.py
  torchgeo/datasets/xview.py
Labels: dataset

#255 Implementing OSCDDataModule
  docs/api/datasets.rst
  tests/datasets/test_oscd.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/oscd.py
Labels: dataset

#252 Add plot function for SpaceNet datasets
  tests/datasets/test_spacenet.py
  torchgeo/datasets/spacenet.py
  torchgeo/datasets/utils.py
Labels: dataset

#258 OSCD: reading files with PIL
  torchgeo/datasets/oscd.py
Labels: dataset

#261 GitHub Actions: use Agg backend for matplotlib
  .github/workflows/tests.yaml
Labels: dataset

#256 Add ResNet pre-trained models to the docs
  docs/api/models.rst
  docs/conf.py
Labels: documentation, model

#263 Add SpaceNet5
  docs/api/datasets.rst
  tests/data/spacenet/sn5_AOI_7_Moscow.tar.gz
  tests/data/spacenet/sn5_AOI_8_Mumbai.tar.gz
  tests/datasets/test_spacenet.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/spacenet.py
Labels: dataset
