Repository torchgeo/torchgeo, pull requests merged in 2022-04, with the labels that each got.

#461 Add Swedish Forest Damage dataset
  docs/api/datasets.rst
  tests/data/forestdamage/Data_Set_Larch_Casebearer.zip
  tests/data/forestdamage/Data_Set_Larch_Casebearer/Bebehojd_20190527/Annotations/B01_0004.xml
  tests/data/forestdamage/Data_Set_Larch_Casebearer/Bebehojd_20190527/Annotations/B01_0005.xml
  tests/data/forestdamage/Data_Set_Larch_Casebearer/Bebehojd_20190527/Images/B01_0004.JPG
  tests/data/forestdamage/Data_Set_Larch_Casebearer/Bebehojd_20190527/Images/B01_0005.JPG
  tests/data/forestdamage/data.py
  tests/datasets/test_forestdamage.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/forestdamage.py
Labels: documentation, datasets, testing

#497 Default FCSiam models to random init for tests
  tests/models/test_fcsiam.py
Labels: testing

#479 Add PreChippedGeoSampler for pre-chipped geospatial datasets
  docs/api/samplers.rst
  tests/samplers/test_single.py
  torchgeo/samplers/__init__.py
  torchgeo/samplers/single.py
Labels: documentation, testing, samplers

#477 RandomGeoSampler: several bug fixes
  tests/samplers/test_batch.py
  tests/samplers/test_single.py
  torchgeo/samplers/batch.py
  torchgeo/samplers/single.py
  torchgeo/samplers/utils.py
Labels: testing, samplers

#499 Fix case of missing label in Forest Damage dataset
  tests/data/forestdamage/Data_Set_Larch_Casebearer.zip
  tests/data/forestdamage/Data_Set_Larch_Casebearer/Bebehojd_20190527/Annotations/B01_0004.xml
  tests/data/forestdamage/Data_Set_Larch_Casebearer/Bebehojd_20190527/Annotations/B01_0005.xml
  tests/data/forestdamage/data.py
  tests/datasets/test_forestdamage.py
  torchgeo/datasets/forestdamage.py
Labels: datasets, testing

#407 Add plot method and data.py to NAIP
  tests/data/naip/data.py
  tests/data/naip/m_3807511_ne_18_060_20181104.tif
  tests/data/naip/m_3807511_ne_18_060_20190605.tif
  tests/datasets/test_naip.py
  torchgeo/datasets/naip.py
Labels: datasets, testing

#502 Fix data casting for the SEN12MS dataset
  torchgeo/datasets/sen12ms.py
Labels: datasets

#506 Don't subtract microsecond from mint
  torchgeo/datasets/utils.py
Labels: datasets
