Repository torchgeo/torchgeo, pull requests merged in 2022-02, with the labels that each got.

#371 Added GNDVI and SWI Indices
  tests/transforms/test_indices.py
  torchgeo/transforms/__init__.py
  torchgeo/transforms/indices.py
Labels: testing, transforms

#376 Samplers: avoid bounding boxes smaller than patch size
  tests/samplers/test_batch.py
  tests/samplers/test_single.py
  torchgeo/samplers/batch.py
  torchgeo/samplers/single.py
Labels: testing, samplers

#389 Use proper citation for IDTReeS dataset
  torchgeo/datasets/idtrees.py
Labels: datasets

#390 Adding Esri 2020 Land Cover/Land Use Dataset
  docs/api/datasets.rst
  tests/data/esri2020/io-lulc-model-001-v01-composite-v03-supercell-v02-clip-v01.zip
  tests/data/esri2020/io-lulc-model-001-v01-composite-v03-supercell-v02-clip-v01/00A_20200101-20210101.tif
  tests/datasets/test_esri2020.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/esri2020.py
Labels: documentation, datasets, testing

#375 BoundingBox: add area/volume attributes
  tests/datasets/test_utils.py
  torchgeo/datasets/utils.py
Labels: datasets, testing

#393 Fix regex to work with Sentinel-2 Band 8A
  tests/data/sentinel2/T41XNE_20200829T083611_B8A_20m.tif
  tests/datasets/test_sentinel.py
  torchgeo/datasets/sentinel.py
Labels: datasets, testing

#386 Add BNDVI/NDRE spectral indices
  tests/transforms/test_indices.py
  torchgeo/transforms/__init__.py
  torchgeo/transforms/indices.py
Labels: testing, transforms

#383 LandCover.ai: support already-downloaded dataset
  tests/datasets/test_landcoverai.py
  torchgeo/datasets/landcoverai.py
Labels: datasets, testing

#345 FCCD Models refactor
  docs/api/models.rst
  docs/conf.py
  tests/models/test_fccd.py
  tests/models/test_fcsiam.py
  torchgeo/models/__init__.py
  torchgeo/models/fccd.py
  torchgeo/models/fcsiam.py
Labels: documentation, models, testing

#397 Add band selection to EuroSat and adapt plot method
  tests/datasets/test_eurosat.py
  torchgeo/datasets/eurosat.py
Labels: datasets, testing

#394 Add band selection to So2Sat Dataset and adopt plot method
  tests/datasets/test_so2sat.py
  torchgeo/datasets/so2sat.py
Labels: datasets, testing

#391 Add CMS Global Mangrove Canopy dataset
  docs/api/datasets.rst
  tests/data/cms_mangrove_canopy/CMS_Global_Map_Mangrove_Canopy_1665.zip
  tests/data/cms_mangrove_canopy/CMS_Global_Map_Mangrove_Canopy_1665/data/Mangrove_agb_Angola.tif
  tests/data/cms_mangrove_canopy/CMS_Global_Map_Mangrove_Canopy_1665/data/Mangrove_hba95_Angola.tif
  tests/data/cms_mangrove_canopy/CMS_Global_Map_Mangrove_Canopy_1665/data/Mangrove_hmax95_Angola.tif
  tests/data/cms_mangrove_canopy/data.py
  tests/datasets/test_cms_mangrove_canopy.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/cms_mangrove_canopy.py
Labels: documentation, datasets, testing

#400 Add formulas to indices docs
  docs/conf.py
  torchgeo/transforms/indices.py
Labels: documentation, transforms

#420 Chesapeake: allow multiple datasets to share same root
  torchgeo/datasets/chesapeake.py
Labels: datasets

#418 CDL: add MD5 for 2021 data
  torchgeo/datasets/cdl.py
Labels: datasets

#417 Add plot method to base chesapeake
  tests/datasets/test_chesapeake.py
  torchgeo/datasets/chesapeake.py
Labels: datasets, testing

#422 Make RasterDataset not override custom cmaps
  torchgeo/datasets/geo.py
Labels: datasets

#428 CDL: update checksums
  torchgeo/datasets/cdl.py
Labels: datasets

#294 Add pixel sampling mode
  benchmark.py
  docs/api/samplers.rst
  tests/samplers/test_batch.py
  tests/samplers/test_single.py
  torchgeo/samplers/__init__.py
  torchgeo/samplers/batch.py
  torchgeo/samplers/constants.py
  torchgeo/samplers/single.py
  torchgeo/samplers/utils.py
Labels: documentation, testing, samplers

#430 Adding test coverage for RasterDataset.plot
  tests/data/raster/data.py
  tests/data/raster/test0.tif
  tests/datasets/test_geo.py
Labels: testing

#377 BeninSmallHolderCashews: return geospatial metadata in sample
  torchgeo/datasets/benin_cashews.py
Labels: datasets

#404 Add AsterGDEM dataset
  docs/api/datasets.rst
  tests/data/astergdem/ASTGTMV003_N000000_dem.tif
  tests/data/astergdem/ASTGTMV003_N000010_dem.tif
  tests/data/astergdem/astergdem.zip
  tests/data/astergdem/data.py
  tests/datasets/test_astergdem.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/astergdem.py
Labels: documentation, datasets, testing

#429 Add own data to CDL dataset.
  tests/data/cdl/2020_30m_cdls.zip
  tests/data/cdl/2021_30m_cdls.zip
  tests/data/cdl/data.py
  tests/datasets/test_cdl.py
  torchgeo/datasets/cdl.py
Labels: datasets, testing

#414 3band indices
  tests/transforms/test_indices.py
  torchgeo/transforms/__init__.py
  torchgeo/transforms/indices.py
Labels: testing, transforms

#424 CDL: don't pick up .tif.ovr files
  torchgeo/datasets/cdl.py
Labels: datasets

#427 Add own plot method to CMSMangroveCanopy
  tests/datasets/test_cms_mangrove_canopy.py
  torchgeo/datasets/cms_mangrove_canopy.py
Labels: datasets, testing

#426 Add EUDEM dataset
  docs/api/datasets.rst
  tests/data/eudem/data.py
  tests/data/eudem/eu_dem_v11_E30N10.zip
  tests/datasets/test_eudem.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/eudem.py
Labels: documentation, datasets, testing

#437 Missing plt.close() on dataset tests
  tests/datasets/test_astergdem.py
  tests/datasets/test_cdl.py
  tests/datasets/test_chesapeake.py
  tests/datasets/test_cms_mangrove_canopy.py
  tests/datasets/test_esri2020.py
  tests/datasets/test_eudem.py
  tests/datasets/test_gid15.py
  tests/datasets/test_globbiomass.py
  tests/datasets/test_sentinel.py
Labels: testing

#405 Add plot method and data.py to Esri2020 dataset
  tests/data/esri2020/data.py
  tests/data/esri2020/io-lulc-model-001-v01-composite-v03-supercell-v02-clip-v01.zip
  tests/data/esri2020/io-lulc-model-001-v01-composite-v03-supercell-v02-clip-v01/00A_20200101-20210101.tif
  tests/datasets/test_esri2020.py
  torchgeo/datasets/esri2020.py
Labels: datasets, testing

#363 Adding dataset from MOSAIKS paper
  docs/api/datasets.rst
  tests/data/usavars/data.py
  tests/data/usavars/elevation.csv
  tests/data/usavars/housing.csv
  tests/data/usavars/income.csv
  tests/data/usavars/nightlights.csv
  tests/data/usavars/population.csv
  tests/data/usavars/roads.csv
  tests/data/usavars/treecover.csv
  tests/data/usavars/uar.zip
  tests/data/usavars/uar/tile_0,0.tif
  tests/data/usavars/uar/tile_0,1.tif
  tests/datasets/test_usavars.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/usavars.py
Labels: documentation, datasets, testing

#434 Fixed bug in trainer notebook
  docs/tutorials/trainers.ipynb
Labels: documentation

#425 Add AGB live woody density dataset
  docs/api/datasets.rst
  tests/data/agb_live_woody_density/00N_000E.tif
  tests/data/agb_live_woody_density/Aboveground_Live_Woody_Biomass_Density.geojson
  tests/data/agb_live_woody_density/data.py
  tests/datasets/test_agb_live_woody_density.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/agb_live_woody_density.py
Labels: documentation, datasets, testing

#402 Add OpenBuildings dataset
  docs/api/datasets.rst
  tests/data/openbuildings/000_buildings.csv.gz
  tests/data/openbuildings/data.py
  tests/data/openbuildings/tiles.geojson
  tests/datasets/test_openbuildings.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/openbuildings.py
Labels: documentation, datasets, testing
