Repository torchgeo/torchgeo, pull requests merged in 2022-09, with the labels that each got.

#736 Fix float rounding issues
  tests/data/etci2021/data.py
  tests/data/etci2021/test/florence_20190302t234651/tiles/flood_label/florence_20190302t234651_x-0_y-0.png
  tests/data/etci2021/test/florence_20190302t234651/tiles/vh/florence_20190302t234651_x-0_y-0_vh.png
  tests/data/etci2021/test/florence_20190302t234651/tiles/vv/florence_20190302t234651_x-0_y-0_vv.png
  tests/data/etci2021/test/florence_20190302t234651/tiles/water_body_label/florence_20190302t234651_x-0_y-0.png
  tests/data/etci2021/test_internal/redrivernorth_20190302t234651/tiles/vh/redrivernorth_20190302t234651_x-0_y-0_vh.png
  tests/data/etci2021/test_internal/redrivernorth_20190302t234651/tiles/vv/redrivernorth_20190302t234651_x-0_y-0_vv.png
  tests/data/etci2021/test_internal/redrivernorth_20190302t234651/tiles/water_body_label/redrivernorth_20190302t234651_x-0_y-0.png
  tests/data/etci2021/test_without_ref_labels.zip
  tests/data/etci2021/train.zip
  tests/data/etci2021/train/northal_20190302t234651/tiles/flood_label/northal_20190302t234651_x-0_y-0.png
  tests/data/etci2021/train/northal_20190302t234651/tiles/vh/northal_20190302t234651_x-0_y-0_vh.png
  tests/data/etci2021/train/northal_20190302t234651/tiles/vv/northal_20190302t234651_x-0_y-0_vv.png
  tests/data/etci2021/train/northal_20190302t234651/tiles/water_body_label/northal_20190302t234651_x-0_y-0.png
  tests/data/etci2021/val_with_ref_labels.zip
  tests/datamodules/test_utils.py
  tests/datasets/test_etci2021.py
  tests/models/test_changestar.py
  tests/samplers/test_single.py
  torchgeo/datamodules/chesapeake.py
  torchgeo/datamodules/etci2021.py
  torchgeo/datamodules/utils.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/openbuildings.py
  torchgeo/datasets/so2sat.py
  torchgeo/datasets/spacenet.py
  torchgeo/samplers/single.py
Labels: datasets, testing, samplers, datamodules

#630 GridGeoSampler: change stride of last patch to sample entire ROI
  tests/samplers/test_single.py
  torchgeo/samplers/single.py
Labels: testing, samplers

#759 Tutorials: trainers require optional datasets
  docs/tutorials/trainers.ipynb
Labels: documentation

#756 Tutorials: replace cell magic with shell command
  docs/conf.py
  docs/tutorials/transforms.ipynb
Labels: documentation

#761 Fix torchvision constraint
  tests/trainers/conftest.py
  torchgeo/models/farseg.py
  torchgeo/trainers/byol.py
  torchgeo/trainers/regression.py
Labels: models, testing, trainers

#760 IDTReeS - Clip boxes outside of image bounds
  torchgeo/datasets/idtrees.py
Labels: datasets

#767 Fix transforms notebook
  docs/tutorials/transforms.ipynb
Labels: documentation

#770 Tutorials: clean up file names, execution codes, and output
  docs/tutorials/benchmarking.ipynb
  docs/tutorials/custom_raster_dataset.ipynb
  docs/tutorials/getting_started.ipynb
  docs/tutorials/indices.ipynb
  docs/tutorials/trainers.ipynb
  docs/tutorials/transforms.ipynb
Labels: documentation

#772 Tutorials: overhaul Custom Raster Dataset
  docs/tutorials/custom_raster_dataset.ipynb
  docs/tutorials/indices.ipynb
  docs/tutorials/trainers.ipynb
  docs/tutorials/transforms.ipynb
Labels: documentation

#774 GBIF: fix URL
  torchgeo/datasets/gbif.py
Labels: datasets

#775 iNaturalist: fix ref in datasets table
  torchgeo/datasets/inaturalist.py
Labels: datasets

#773 Tutorials: use ipython lexer
  docs/conf.py
  docs/tutorials/benchmarking.ipynb
  docs/tutorials/custom_raster_dataset.ipynb
  docs/tutorials/getting_started.ipynb
  docs/tutorials/indices.ipynb
  docs/tutorials/trainers.ipynb
  docs/tutorials/transforms.ipynb
Labels: documentation

#687 Allow band indexing in RasterDataset
  tests/datasets/test_geo.py
  torchgeo/datasets/agb_live_woody_density.py
  torchgeo/datasets/astergdem.py
  torchgeo/datasets/cdl.py
  torchgeo/datasets/chesapeake.py
  torchgeo/datasets/cms_mangrove_canopy.py
  torchgeo/datasets/esri2020.py
  torchgeo/datasets/eudem.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/globbiomass.py
  torchgeo/datasets/landsat.py
  torchgeo/datasets/sentinel.py
Labels: datasets, testing

#783 Tutorials: remove execution count
  docs/_static/button-width.css
  docs/_static/notebook-prompt.css
  docs/conf.py
Labels: documentation

#787 Remove "labels" folder from verify for xView2
  torchgeo/datasets/xview.py
Labels: datasets

#780 Inria fixes
  conf/inria.yaml
  tests/conf/inria.yaml
  torchgeo/datamodules/inria.py
Labels: testing, datamodules

#786 UnionDataset: fix __getitem__ bug
  tests/datasets/test_geo.py
  torchgeo/datasets/geo.py
Labels: datasets, testing

#793 Bump mypy from 0.971 to 0.981
  requirements/tests.txt
  setup.cfg
Labels: dependencies

#792 MultiLabelClassificationTask predict step
  tests/trainers/test_classification.py
  torchgeo/trainers/classification.py
Labels: testing, trainers
