Repository torchgeo/torchgeo, pull requests merged in 2022-01, with the labels that each got.

#341 Add pad_size arg to OSCDDataModule
  conf/task_defaults/oscd_all.yaml
  conf/task_defaults/oscd_rgb.yaml
  torchgeo/datamodules/oscd.py
Labels: datamodules

#342 Add type hints for numpy
  docs/conf.py
  tests/datasets/test_utils.py
  torchgeo/datamodules/utils.py
  torchgeo/datasets/advance.py
  torchgeo/datasets/bigearthnet.py
  torchgeo/datasets/chesapeake.py
  torchgeo/datasets/cowc.py
  torchgeo/datasets/cv4a_kenya_crop_type.py
  torchgeo/datasets/cyclone.py
  torchgeo/datasets/etci2021.py
  torchgeo/datasets/fair1m.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/gid15.py
  torchgeo/datasets/idtrees.py
  torchgeo/datasets/landcoverai.py
  torchgeo/datasets/levircd.py
  torchgeo/datasets/loveda.py
  torchgeo/datasets/nasa_marine_debris.py
  torchgeo/datasets/nwpu.py
  torchgeo/datasets/oscd.py
  torchgeo/datasets/potsdam.py
  torchgeo/datasets/spacenet.py
  torchgeo/datasets/utils.py
  torchgeo/datasets/vaihingen.py
  torchgeo/datasets/xview.py
Labels: documentation, datasets, testing, datamodules

#343 ZueriCrop test data update
  tests/data/zuericrop/ZueriCrop.hdf5
  tests/data/zuericrop/data.py
Labels: testing

#285 Refactor all indices to one module.
  tests/transforms/test_indices.py
  tests/transforms/test_transforms.py
  torchgeo/transforms/__init__.py
  torchgeo/transforms/indices.py
Labels: testing, transforms

#286 Remove dataset-specific trainers
  conf/task_defaults/eurosat.yaml
  conf/task_defaults/resisc45.yaml
  conf/task_defaults/ucmerced.yaml
  docs/api/datasets.rst
  tests/datasets/test_utils.py
  tests/trainers/test_chesapeake.py
  tests/trainers/test_classification.py
  tests/trainers/test_landcoverai.py
  tests/trainers/test_naipchesapeake.py
  tests/trainers/test_regression.py
  tests/trainers/test_resisc45.py
  tests/trainers/test_segmentation.py
  tests/trainers/test_utils.py
  torchgeo/datamodules/bigearthnet.py
  torchgeo/datamodules/cowc.py
  torchgeo/datamodules/etci2021.py
  torchgeo/datamodules/eurosat.py
  torchgeo/datamodules/landcoverai.py
  torchgeo/datamodules/resisc45.py
  torchgeo/datamodules/ucmerced.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/cowc.py
  torchgeo/datasets/utils.py
  torchgeo/trainers/chesapeake.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/landcoverai.py
  torchgeo/trainers/naipchesapeake.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/resisc45.py
  torchgeo/trainers/segmentation.py
  train.py
Labels: documentation, datasets, testing, trainers, datamodules

#344 Speeding up and reducing the memory footprint of the trainer tests
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_regression.py
  tests/trainers/test_segmentation.py
  tests/trainers/test_utils.py
Labels: testing

#348 0.2.0 release
  docs/tutorials/benchmarking.ipynb
  docs/tutorials/indices.ipynb
  docs/tutorials/trainers.ipynb
  tests/data/sen12ms/ROIs1158_spring/lc_1/ROIs1158_spring_lc_1_p1.tif
  tests/data/sen12ms/ROIs1158_spring/lc_1/ROIs1158_spring_lc_1_p2.tif
  tests/data/sen12ms/ROIs1158_spring/s1_1/ROIs1158_spring_s1_1_p1.tif
  tests/data/sen12ms/ROIs1158_spring/s1_1/ROIs1158_spring_s1_1_p2.tif
  tests/data/sen12ms/ROIs1158_spring/s2_1/ROIs1158_spring_s2_1_p1.tif
  tests/data/sen12ms/ROIs1158_spring/s2_1/ROIs1158_spring_s2_1_p2.tif
  tests/data/sen12ms/ROIs1158_spring_lc.tar.gz
  tests/data/sen12ms/ROIs1158_spring_s1.tar.gz
  tests/data/sen12ms/ROIs1158_spring_s2.tar.gz
  tests/data/sen12ms/ROIs1868_summer/lc_1/ROIs1868_summer_lc_1_p1.tif
  tests/data/sen12ms/ROIs1868_summer/lc_1/ROIs1868_summer_lc_1_p2.tif
  tests/data/sen12ms/ROIs1868_summer/s1_1/ROIs1868_summer_s1_1_p1.tif
  tests/data/sen12ms/ROIs1868_summer/s1_1/ROIs1868_summer_s1_1_p2.tif
  tests/data/sen12ms/ROIs1868_summer/s2_1/ROIs1868_summer_s2_1_p1.tif
  tests/data/sen12ms/ROIs1868_summer/s2_1/ROIs1868_summer_s2_1_p2.tif
  tests/data/sen12ms/ROIs1868_summer_lc.tar.gz
  tests/data/sen12ms/ROIs1868_summer_s1.tar.gz
  tests/data/sen12ms/ROIs1868_summer_s2.tar.gz
  tests/data/sen12ms/ROIs1970_fall/lc_1/ROIs1970_fall_lc_1_p1.tif
  tests/data/sen12ms/ROIs1970_fall/lc_1/ROIs1970_fall_lc_1_p2.tif
  tests/data/sen12ms/ROIs1970_fall/s1_1/ROIs1970_fall_s1_1_p1.tif
  tests/data/sen12ms/ROIs1970_fall/s1_1/ROIs1970_fall_s1_1_p2.tif
  tests/data/sen12ms/ROIs1970_fall/s2_1/ROIs1970_fall_s2_1_p1.tif
  tests/data/sen12ms/ROIs1970_fall/s2_1/ROIs1970_fall_s2_1_p2.tif
  tests/data/sen12ms/ROIs1970_fall_lc.tar.gz
  tests/data/sen12ms/ROIs1970_fall_s1.tar.gz
  tests/data/sen12ms/ROIs1970_fall_s2.tar.gz
  tests/data/sen12ms/ROIs2017_winter/lc_1/ROIs2017_winter_lc_1_p1.tif
  tests/data/sen12ms/ROIs2017_winter/lc_1/ROIs2017_winter_lc_1_p2.tif
  tests/data/sen12ms/ROIs2017_winter/s1_1/ROIs2017_winter_s1_1_p1.tif
  tests/data/sen12ms/ROIs2017_winter/s1_1/ROIs2017_winter_s1_1_p2.tif
  tests/data/sen12ms/ROIs2017_winter/s2_1/ROIs2017_winter_s2_1_p1.tif
  tests/data/sen12ms/ROIs2017_winter/s2_1/ROIs2017_winter_s2_1_p2.tif
  tests/data/sen12ms/ROIs2017_winter_lc.tar.gz
  tests/data/sen12ms/ROIs2017_winter_s1.tar.gz
  tests/data/sen12ms/ROIs2017_winter_s2.tar.gz
  tests/data/sen12ms/data.py
  tests/datasets/test_sen12ms.py
  tests/samplers/test_batch.py
  tests/samplers/test_single.py
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_regression.py
  tests/trainers/test_segmentation.py
  tests/trainers/test_utils.py
  torchgeo/__init__.py
Labels: documentation, testing

#354 Add DFC2022 dataset
  docs/api/datasets.rst
  tests/data/dfc2022/data.py
  tests/data/dfc2022/labeled_train.zip
  tests/data/dfc2022/labeled_train/Nantes_Saint-Nazaire/BDORTHO/44-2013-0295-6713-LA93-0M50-E080.tif
  tests/data/dfc2022/labeled_train/Nantes_Saint-Nazaire/RGEALTI/44-2013-0295-6713-LA93-0M50-E080_RGEALTI.tif
  tests/data/dfc2022/labeled_train/Nantes_Saint-Nazaire/UrbanAtlas/44-2013-0295-6713-LA93-0M50-E080_UA2012.tif
  tests/data/dfc2022/labeled_train/Nice/BDORTHO/06-2014-1007-6318-LA93-0M50-E080.tif
  tests/data/dfc2022/labeled_train/Nice/RGEALTI/06-2014-1007-6318-LA93-0M50-E080_RGEALTI.tif
  tests/data/dfc2022/labeled_train/Nice/UrbanAtlas/06-2014-1007-6318-LA93-0M50-E080_UA2012.tif
  tests/data/dfc2022/unlabeled_train.zip
  tests/data/dfc2022/unlabeled_train/Calais_Dunkerque/BDORTHO/59-2012-0650-7077-LA93-0M50-E080.tif
  tests/data/dfc2022/unlabeled_train/Calais_Dunkerque/RGEALTI/59-2012-0650-7077-LA93-0M50-E080_RGEALTI.tif
  tests/data/dfc2022/unlabeled_train/LeMans/BDORTHO/72-2013-0469-6789-LA93-0M50-E080.tif
  tests/data/dfc2022/unlabeled_train/LeMans/RGEALTI/72-2013-0469-6789-LA93-0M50-E080_RGEALTI.tif
  tests/data/dfc2022/val.zip
  tests/data/dfc2022/val/Clermont-Ferrand/BDORTHO/63-2013-0711-6530-LA93-0M50-E080.tif
  tests/data/dfc2022/val/Clermont-Ferrand/RGEALTI/63-2013-0711-6530-LA93-0M50-E080_RGEALTI.tif
  tests/data/dfc2022/val/Marseille_Martigues/BDORTHO/13-2014-0900-6268-LA93-0M50-E080.tif
  tests/data/dfc2022/val/Marseille_Martigues/RGEALTI/13-2014-0900-6268-LA93-0M50-E080_RGEALTI.tif
  tests/datasets/test_dfc2022.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/dfc2022.py
Labels: documentation, datasets, testing

#355 Add InriaAerialImageLabeling dataset
  docs/api/datasets.rst
  tests/data/inria/AerialImageDataset/test/images/austin10.tif
  tests/data/inria/AerialImageDataset/test/images/austin11.tif
  tests/data/inria/AerialImageDataset/train/gt/austin1.tif
  tests/data/inria/AerialImageDataset/train/gt/austin2.tif
  tests/data/inria/AerialImageDataset/train/images/austin1.tif
  tests/data/inria/AerialImageDataset/train/images/austin2.tif
  tests/data/inria/NEW2-AerialImageDataset.zip
  tests/data/inria/data.py
  tests/datasets/test_inria.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/inria.py
Labels: documentation, datasets, testing

#282 extract_archive: support deflate64-compressed zip files
  conf/naipchesapeake.yaml
  environment.yml
  setup.cfg
  tests/conf/naipchesapeake.yaml
  tests/data/chesapeake/BAYWIDE/Baywide_13Class_20132014.tif
  tests/data/chesapeake/BAYWIDE/Baywide_13Class_20132014.zip
  tests/data/chesapeake/BAYWIDE/data.py
  tests/datasets/test_chesapeake.py
  tests/datasets/test_utils.py
  tests/trainers/test_segmentation.py
  torchgeo/datasets/chesapeake.py
  torchgeo/datasets/utils.py
Labels: datasets, testing

#361 torchmetrics: IoU -> JaccardIndex
  environment.yml
  evaluate.py
  setup.cfg
  torchgeo/trainers/classification.py
  torchgeo/trainers/segmentation.py
Labels: trainers

#359 Update the prior extension data to point to the 1.1 version on zenodo
  torchgeo/datasets/chesapeake.py
Labels: datasets

#364 Add the EnviroAtlas dataset
  docs/api/datasets.rst
  tests/data/enviroatlas/data.py
  tests/data/enviroatlas/enviroatlas_lotp.zip
  tests/datasets/test_enviroatlas.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/chesapeake.py
  torchgeo/datasets/enviroatlas.py
Labels: documentation, datasets, testing

#373 LandCover.ai: fix test data zip file
  tests/data/landcoverai/landcover.ai.v1.zip
  tests/datasets/test_landcoverai.py
Labels: testing

#374 Fix len for empty GeoDataset
  setup.cfg
  tests/datasets/test_geo.py
  torchgeo/datasets/geo.py
Labels: datasets, testing

#381 Update tests for bboxes in kornia 0.6.3
  tests/transforms/test_transforms.py
Labels: testing
