Repository torchgeo/torchgeo, pull requests merged in 2022-03, with the labels that each got.

#440 RESISC45 statistics fix
  torchgeo/datamodules/resisc45.py
Labels: datamodules

#415 Add plot method to CDL dataset
  tests/data/cdl/2020_30m_cdls.zip
  tests/data/cdl/2021_30m_cdls.zip
  tests/data/cdl/data.py
  tests/datasets/test_cdl.py
  torchgeo/datasets/cdl.py
Labels: datasets, testing

#469 Update SpaceNet2
  tests/data/spacenet/sn2_AOI_2_Vegas.tar.gz
  tests/datasets/test_spacenet.py
  torchgeo/datasets/spacenet.py
Labels: datasets, testing

#467 VectorDataset: fix issue with empty query
  tests/data/vector/data.py
  tests/data/vector/vector.geojson
  tests/datasets/test_geo.py
  torchgeo/datasets/geo.py
Labels: datasets, testing

#468 Fix integration tests on macOS/Windows
  tests/samplers/test_batch.py
  tests/samplers/test_single.py
Labels: testing

#472 Update train.py integration tests
  tests/test_train.py
Labels: testing

#471 Chesapeake: skip all tests if zipfile_deflate64 missing
  tests/datasets/test_chesapeake.py
Labels: testing

#410 Add own plot method and data.py to CBF
  tests/data/cbf/Alberta.geojson
  tests/data/cbf/Alberta.zip
  tests/data/cbf/BritishColumbia.geojson
  tests/data/cbf/BritishColumbia.zip
  tests/data/cbf/Manitoba.geojson
  tests/data/cbf/Manitoba.zip
  tests/data/cbf/NewBrunswick.geojson
  tests/data/cbf/NewBrunswick.zip
  tests/data/cbf/NewfoundlandAndLabrador.geojson
  tests/data/cbf/NewfoundlandAndLabrador.zip
  tests/data/cbf/NorthwestTerritories.geojson
  tests/data/cbf/NorthwestTerritories.zip
  tests/data/cbf/NovaScotia.geojson
  tests/data/cbf/NovaScotia.zip
  tests/data/cbf/Nunavut.geojson
  tests/data/cbf/Nunavut.zip
  tests/data/cbf/Ontario.geojson
  tests/data/cbf/Ontario.zip
  tests/data/cbf/PrinceEdwardIsland.geojson
  tests/data/cbf/PrinceEdwardIsland.zip
  tests/data/cbf/Quebec.geojson
  tests/data/cbf/Quebec.zip
  tests/data/cbf/Saskatchewan.geojson
  tests/data/cbf/Saskatchewan.zip
  tests/data/cbf/YukonTerritory.geojson
  tests/data/cbf/YukonTerritory.zip
  tests/data/cbf/data.py
  tests/datasets/test_cbf.py
  torchgeo/datasets/cbf.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/openbuildings.py
Labels: datasets, testing

#478 Work on Data table
  docs/api/datasets.rst
  docs/api/generic_datasets.csv
  docs/api/non_geo_datasets.csv
Labels: documentation

#487 Fix PyTorch Lightning 1.6 type hints
  tests/trainers/test_classification.py
  tests/trainers/test_regression.py
  tests/trainers/test_segmentation.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/segmentation.py
Labels: testing, trainers

#486 Upgrade all files to Python 3.7+ syntax
  .github/workflows/style.yaml
  .pre-commit-config.yaml
  docs/user/contributing.rst
  setup.cfg
  tests/data/globbiomass/data.py
  tests/data/openbuildings/data.py
  tests/datasets/test_openbuildings.py
  tests/test_train.py
  torchgeo/datasets/advance.py
  torchgeo/datasets/agb_live_woody_density.py
  torchgeo/datasets/benin_cashews.py
  torchgeo/datasets/bigearthnet.py
  torchgeo/datasets/cms_mangrove_canopy.py
  torchgeo/datasets/eurosat.py
  torchgeo/datasets/globbiomass.py
  torchgeo/datasets/idtrees.py
  torchgeo/datasets/levircd.py
  torchgeo/datasets/nasa_marine_debris.py
  torchgeo/datasets/openbuildings.py
  torchgeo/datasets/oscd.py
  torchgeo/datasets/resisc45.py
  torchgeo/datasets/sen12ms.py
  torchgeo/datasets/ucmerced.py
  torchgeo/datasets/usavars.py
  torchgeo/datasets/utils.py
  torchgeo/models/fcsiam.py
Labels: documentation, datasets, models, testing

#491 Remove random package from data.py
  tests/data/agb_live_woody_density/data.py
  tests/data/astergdem/data.py
  tests/data/dfc2022/data.py
  tests/data/esri2020/data.py
  tests/data/eudem/data.py
  tests/data/globbiomass/data.py
  tests/data/openbuildings/data.py
  tests/data/sentinel2/data.py
Labels: testing
