Repository torchgeo/torchgeo, pull requests merged in 2022-11, with the labels that each got.

#884 Evaluation -> Elevation
  torchgeo/datasets/astergdem.py
Labels: datasets

#870 Add transforms to UnionDataset and IntersectionDataset
  tests/datasets/test_geo.py
  torchgeo/datasets/geo.py
Labels: datasets, testing

#852 Docs/trainers for Classification and Segmentation Task
  torchgeo/trainers/classification.py
  torchgeo/trainers/segmentation.py
Labels: trainers

#878 Add SpaceNet6 & data.py
  docs/api/datasets.rst
  tests/data/spacenet/data.py
  tests/data/spacenet/sn1_AOI_1_RIO.tar.gz
  tests/data/spacenet/sn2_AOI_2_Vegas.tar.gz
  tests/data/spacenet/sn2_AOI_3_Paris.tar.gz
  tests/data/spacenet/sn2_AOI_4_Shanghai.tar.gz
  tests/data/spacenet/sn2_AOI_5_Khartoum.tar.gz
  tests/data/spacenet/sn3_AOI_2_Vegas.tar.gz
  tests/data/spacenet/sn3_AOI_3_Paris.tar.gz
  tests/data/spacenet/sn3_AOI_4_Shanghai.tar.gz
  tests/data/spacenet/sn3_AOI_5_Khartoum.tar.gz
  tests/data/spacenet/sn4_AOI_6_Atlanta.tar.gz
  tests/data/spacenet/sn5_AOI_7_Moscow.tar.gz
  tests/data/spacenet/sn5_AOI_8_Mumbai.tar.gz
  tests/data/spacenet/sn7_test_source.tar.gz
  tests/data/spacenet/sn7_train_labels.tar.gz
  tests/data/spacenet/sn7_train_source.tar.gz
  tests/data/spacenet/spacenet6/sn6_AOI_11_Rotterdam/collection.json
  tests/data/spacenet/spacenet6/sn6_AOI_11_Rotterdam/sn6_AOI_11_Rotterdam_img1-labels/labels.geojson
  tests/data/spacenet/spacenet6/sn6_AOI_11_Rotterdam/sn6_AOI_11_Rotterdam_img1/PAN.tif
  tests/data/spacenet/spacenet6/sn6_AOI_11_Rotterdam/sn6_AOI_11_Rotterdam_img1/PS-RGB.tif
  tests/data/spacenet/spacenet6/sn6_AOI_11_Rotterdam/sn6_AOI_11_Rotterdam_img1/PS-RGBNIR.tif
  tests/data/spacenet/spacenet6/sn6_AOI_11_Rotterdam/sn6_AOI_11_Rotterdam_img1/RGBNIR.tif
  tests/data/spacenet/spacenet6/sn6_AOI_11_Rotterdam/sn6_AOI_11_Rotterdam_img1/SAR-Intensity.tif
  tests/data/spacenet/spacenet6/sn6_AOI_11_Rotterdam/sn6_AOI_11_Rotterdam_img2-labels/labels.geojson
  tests/data/spacenet/spacenet6/sn6_AOI_11_Rotterdam/sn6_AOI_11_Rotterdam_img2/PAN.tif
  tests/data/spacenet/spacenet6/sn6_AOI_11_Rotterdam/sn6_AOI_11_Rotterdam_img2/PS-RGB.tif
  tests/data/spacenet/spacenet6/sn6_AOI_11_Rotterdam/sn6_AOI_11_Rotterdam_img2/PS-RGBNIR.tif
  tests/data/spacenet/spacenet6/sn6_AOI_11_Rotterdam/sn6_AOI_11_Rotterdam_img2/RGBNIR.tif
  tests/data/spacenet/spacenet6/sn6_AOI_11_Rotterdam/sn6_AOI_11_Rotterdam_img2/SAR-Intensity.tif
  tests/datasets/test_spacenet.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/spacenet.py
Labels: documentation, datasets, testing

#907 Fix ReforesTree entry
  docs/api/non_geo_datasets.csv
Labels: documentation

#735 So2Sat: rename bands
  tests/datasets/test_so2sat.py
  torchgeo/datasets/so2sat.py
Labels: datasets, testing, backwards-incompatible
