Repository torchgeo/torchgeo, pull requests merged in 2022-08, with the labels that each got.

#699 Docs: USAVars is a regression dataset
  docs/api/non_geo_datasets.csv
Labels: documentation

#706 Add COWC counting experiment
  conf/cowc_counting.yaml
  experiments/find_optimal_hyperparams.py
  experiments/run_cowc_experiments.py
  experiments/run_cowc_seed_experiments.py
  tests/trainers/test_regression.py
  torchgeo/trainers/regression.py
Labels: testing, trainers

#714 Fix NDVI and SWI calculation
  docs/tutorials/indices.ipynb
  torchgeo/transforms/indices.py
Labels: documentation, transforms

#707 Tutorials: use IntersectionDataset in sampler
  docs/tutorials/benchmarking.ipynb
  docs/tutorials/getting_started.ipynb
Labels: documentation

#740 Skip Python 3.7 Windows tests
  .github/workflows/tests.yaml
Labels: testing

#510 Add Radiant MLHub (REF) Cloud Cover Dataset
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/data/ref_cloud_cover_detection_challenge_v1/data.py
  tests/data/ref_cloud_cover_detection_challenge_v1/ref_cloud_cover_detection_challenge_v1_test_labels.tar.gz
  tests/data/ref_cloud_cover_detection_challenge_v1/ref_cloud_cover_detection_challenge_v1_test_labels/collection.json
  tests/data/ref_cloud_cover_detection_challenge_v1/ref_cloud_cover_detection_challenge_v1_test_labels/ref_cloud_cover_detection_challenge_v1_test_labels_aaaa/labels.tif
  tests/data/ref_cloud_cover_detection_challenge_v1/ref_cloud_cover_detection_challenge_v1_test_labels/ref_cloud_cover_detection_challenge_v1_test_labels_aaaa/ref_cloud_cover_detection_challenge_v1_test_labels_aaaa.json
  tests/data/ref_cloud_cover_detection_challenge_v1/ref_cloud_cover_detection_challenge_v1_test_source.tar.gz
  tests/data/ref_cloud_cover_detection_challenge_v1/ref_cloud_cover_detection_challenge_v1_test_source/collection.json
  tests/data/ref_cloud_cover_detection_challenge_v1/ref_cloud_cover_detection_challenge_v1_test_source/ref_cloud_cover_detection_challenge_v1_test_source_aaaa/B02.tif
  tests/data/ref_cloud_cover_detection_challenge_v1/ref_cloud_cover_detection_challenge_v1_test_source/ref_cloud_cover_detection_challenge_v1_test_source_aaaa/B03.tif
  tests/data/ref_cloud_cover_detection_challenge_v1/ref_cloud_cover_detection_challenge_v1_test_source/ref_cloud_cover_detection_challenge_v1_test_source_aaaa/B04.tif
  tests/data/ref_cloud_cover_detection_challenge_v1/ref_cloud_cover_detection_challenge_v1_test_source/ref_cloud_cover_detection_challenge_v1_test_source_aaaa/B08.tif
  tests/data/ref_cloud_cover_detection_challenge_v1/ref_cloud_cover_detection_challenge_v1_test_source/ref_cloud_cover_detection_challenge_v1_test_source_aaaa/ref_cloud_cover_detection_challenge_v1_test_source_aaaa.json
  tests/datasets/test_cloud_cover.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/cloud_cover.py
Labels: documentation, datasets, testing

#734 dependabot: fewer setuptools updates
  .github/dependabot.yml
Labels: dependencies

#701 Test rarfile on Windows
  .github/workflows/tests.yaml
  tests/datasets/test_nwpu.py
  tests/datasets/test_resisc45.py
  tests/datasets/test_utils.py
Labels: testing
