Repository torchgeo/torchgeo, pull requests merged in 2022-10, with the labels that each got.

#755 Random GeoSamplers: add default length
  docs/api/samplers.rst
  tests/samplers/test_single.py
  tests/samplers/test_utils.py
  torchgeo/samplers/__init__.py
  torchgeo/samplers/batch.py
  torchgeo/samplers/single.py
  torchgeo/samplers/utils.py
Labels: documentation, testing, samplers

#802 Datasets: add default 'root' argument
  torchgeo/datasets/geo.py
  torchgeo/datasets/inria.py
  torchgeo/datasets/spacenet.py
Labels: datasets

#790 ClassificationTask predict step
  tests/trainers/test_classification.py
  torchgeo/trainers/classification.py
Labels: testing, trainers

#808 Dependabot: manage GitHub Actions
  .github/dependabot.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yaml
  .github/workflows/style.yaml
  .github/workflows/tests.yaml
Labels: testing, dependencies

#812 Remove print statement from LoveDa
  torchgeo/datasets/loveda.py
Labels: datasets

#758 Add support for ObjectDetection
  conf/nasa_marine_debris.yaml
  evaluate.py
  tests/conf/nasa_marine_debris.yaml
  tests/trainers/test_detection.py
  torchgeo/datamodules/nasa_marine_debris.py
  torchgeo/datasets/nasa_marine_debris.py
  torchgeo/trainers/__init__.py
  torchgeo/trainers/detection.py
  train.py
Labels: datasets, testing, trainers, datamodules

#818 add predict_step to RegressionTask and tests
  tests/trainers/test_regression.py
  torchgeo/trainers/regression.py
Labels: testing, trainers

#819 add predict_step to BYOLTask
  tests/trainers/test_byol.py
  torchgeo/trainers/byol.py
Labels: testing, trainers

#806 Labeler: new label for root scripts
  .github/labeler.yml
Labels: scripts

#820 Adding plotting to ChesapeakeCVPR dataset
  tests/datasets/test_chesapeake.py
  torchgeo/datasets/chesapeake.py
Labels: datasets, testing

#826 Trainers: fix plotting file handle leak
  torchgeo/trainers/classification.py
  torchgeo/trainers/detection.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/segmentation.py
Labels: trainers

#845 explicitly convert image tensor to numpy before plotting
  docs/tutorials/custom_raster_dataset.ipynb
Labels: documentation

#846 Datamodule naming TropicalCyclone
  docs/api/datamodules.rst
  docs/api/datasets.rst
  docs/tutorials/trainers.ipynb
  tests/datasets/test_cyclone.py
  tests/trainers/test_regression.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/cyclone.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/cyclone.py
  train.py
Labels: documentation, datasets, testing, datamodules, backwards-incompatible, scripts

#850 Replace dead link in Vaihingen dataset documentation
  torchgeo/datasets/vaihingen.py
Labels: datasets

#861 Fix a bug for ETCI2021 loader
  torchgeo/datasets/etci2021.py
Labels: datasets

#862 Allow multilabels in VectorDataset
  tests/data/vector/data.py
  tests/data/vector/vector.geojson
  tests/datasets/test_geo.py
  torchgeo/datasets/geo.py
Labels: datasets, testing
