Repository torchgeo/torchgeo, pull requests merged in 2022-12, with the labels that each got.

#916 Change "classification_model" to "model"
  conf/bigearthnet.yaml
  conf/eurosat.yaml
  conf/resisc45.yaml
  conf/so2sat.yaml
  conf/ucmerced.yaml
  evaluate.py
  experiments/run_resisc45_experiments.py
  experiments/run_so2sat_byol_experiments.py
  experiments/run_so2sat_experiments.py
  experiments/run_so2sat_seed_experiments.py
  tests/conf/bigearthnet_all.yaml
  tests/conf/bigearthnet_s1.yaml
  tests/conf/bigearthnet_s2.yaml
  tests/conf/eurosat.yaml
  tests/conf/resisc45.yaml
  tests/conf/so2sat_supervised.yaml
  tests/conf/so2sat_unsupervised.yaml
  tests/conf/ucmerced.yaml
  tests/trainers/conftest.py
  tests/trainers/test_classification.py
  tests/trainers/test_utils.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/utils.py
Labels: testing, trainers, backwards-incompatible, scripts

#939 add predict_step to SemanticSegmentationTask
  tests/trainers/test_segmentation.py
  torchgeo/trainers/segmentation.py
Labels: testing, trainers

#920 Change argument name Object Detection Task
  tests/conf/nasa_marine_debris.yaml
  tests/trainers/test_detection.py
  torchgeo/trainers/detection.py
Labels: testing, trainers, backwards-incompatible

#919 Change segmentation model argument names
  conf/chesapeake_cvpr.yaml
  conf/etci2021.yaml
  conf/inria.yaml
  conf/landcoverai.yaml
  conf/naipchesapeake.yaml
  conf/oscd.yaml
  conf/sen12ms.yaml
  evaluate.py
  experiments/run_chesapeake_cvpr_experiments.py
  experiments/run_landcoverai_experiments.py
  experiments/run_landcoverai_seed_experiments.py
  tests/conf/chesapeake_cvpr_5.yaml
  tests/conf/chesapeake_cvpr_7.yaml
  tests/conf/chesapeake_cvpr_prior.yaml
  tests/conf/deepglobelandcover_0.yaml
  tests/conf/deepglobelandcover_5.yaml
  tests/conf/etci2021.yaml
  tests/conf/inria.yaml
  tests/conf/landcoverai.yaml
  tests/conf/naipchesapeake.yaml
  tests/conf/oscd_all.yaml
  tests/conf/oscd_rgb.yaml
  tests/conf/sen12ms_all.yaml
  tests/conf/sen12ms_s1.yaml
  tests/conf/sen12ms_s2_all.yaml
  tests/conf/sen12ms_s2_reduced.yaml
  tests/trainers/test_segmentation.py
  torchgeo/trainers/segmentation.py
Labels: testing, trainers, backwards-incompatible, scripts

#918 Change BYOL task argument name and switch to timm models
  conf/byol.yaml
  conf/chesapeake_cvpr.yaml
  tests/conf/byol.yaml
  tests/conf/chesapeake_cvpr_5.yaml
  tests/conf/chesapeake_cvpr_7.yaml
  tests/conf/chesapeake_cvpr_prior.yaml
  tests/trainers/conftest.py
  tests/trainers/test_byol.py
  tests/trainers/test_utils.py
  torchgeo/trainers/byol.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/utils.py
Labels: testing, trainers, backwards-incompatible

#663 Replace open3d with pyvista
  .github/workflows/tests.yaml
  docs/conf.py
  environment.yml
  requirements/datasets.old
  requirements/datasets.txt
  requirements/min.old
  setup.cfg
  tests/datasets/test_idtrees.py
  torchgeo/datasets/idtrees.py
Labels: documentation, datasets, testing, dependencies

#959 Fix landcoverai datamodule
  conf/landcoverai.yaml
  torchgeo/datamodules/landcoverai.py
Labels: datamodules

#778 Datasets: consistent capitalization of band names
  tests/datasets/test_benin_cashews.py
  tests/datasets/test_seco.py
  torchgeo/datasets/benin_cashews.py
  torchgeo/datasets/cloud_cover.py
  torchgeo/datasets/cv4a_kenya_crop_type.py
  torchgeo/datasets/eurosat.py
  torchgeo/datasets/seco.py
  torchgeo/datasets/sen12ms.py
  torchgeo/datasets/sentinel.py
  torchgeo/datasets/so2sat.py
  torchgeo/datasets/zuericrop.py
Labels: datasets, testing

#963 Test using best checkpoint
  train.py
Labels: scripts

#964 Remove unused param from FAIR1M datamodule
  tests/datamodules/test_fair1m.py
Labels: testing

#965 Datamodule for SpaceNet1
  conf/spacenet1.yaml
  docs/api/datamodules.rst
  tests/conf/spacenet1.yaml
  tests/data/spacenet/data.py
  tests/data/spacenet/sn1_AOI_1_RIO.tar.gz
  tests/datasets/test_spacenet.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/spacenet.py
  torchgeo/datasets/utils.py
  train.py
Labels: documentation, datasets, testing, datamodules, scripts

#972 SpaceNet1: add test data to git
  tests/data/spacenet/sn1_AOI_1_RIO/collection.json
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img1-labels/labels.geojson
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img1/8Band.tif
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img1/RGB.tif
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img2-labels/labels.geojson
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img2/8Band.tif
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img2/RGB.tif
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img3-labels/labels.geojson
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img3/8Band.tif
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img3/RGB.tif
Labels: testing

#974 DataModules: only instantiate when download requested
  tests/conf/bigearthnet_all.yaml
  tests/conf/bigearthnet_s1.yaml
  tests/conf/bigearthnet_s2.yaml
  tests/conf/byol.yaml
  tests/conf/chesapeake_cvpr_5.yaml
  tests/conf/chesapeake_cvpr_7.yaml
  tests/conf/chesapeake_cvpr_prior.yaml
  tests/conf/cowc_counting.yaml
  tests/conf/cyclone.yaml
  tests/conf/etci2021.yaml
  tests/conf/eurosat.yaml
  tests/conf/landcoverai.yaml
  tests/conf/naipchesapeake.yaml
  tests/conf/nasa_marine_debris.yaml
  tests/conf/oscd_all.yaml
  tests/conf/oscd_rgb.yaml
  tests/conf/resisc45.yaml
  tests/conf/spacenet1.yaml
  tests/conf/ucmerced.yaml
  tests/datamodules/test_loveda.py
  tests/datamodules/test_usavars.py
  torchgeo/datamodules/bigearthnet.py
  torchgeo/datamodules/chesapeake.py
  torchgeo/datamodules/cowc.py
  torchgeo/datamodules/cyclone.py
  torchgeo/datamodules/etci2021.py
  torchgeo/datamodules/eurosat.py
  torchgeo/datamodules/landcoverai.py
  torchgeo/datamodules/loveda.py
  torchgeo/datamodules/naip.py
  torchgeo/datamodules/nasa_marine_debris.py
  torchgeo/datamodules/oscd.py
  torchgeo/datamodules/resisc45.py
  torchgeo/datamodules/so2sat.py
  torchgeo/datamodules/spacenet.py
  torchgeo/datamodules/ucmerced.py
  torchgeo/datamodules/usavars.py
Labels: testing, datamodules

#976 Remove __module__ hacks
  tests/models/test_changestar.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/bigearthnet.py
  torchgeo/datamodules/chesapeake.py
  torchgeo/datamodules/cowc.py
  torchgeo/datamodules/cyclone.py
  torchgeo/datamodules/fair1m.py
  torchgeo/datamodules/landcoverai.py
  torchgeo/datamodules/loveda.py
  torchgeo/datamodules/naip.py
  torchgeo/datamodules/nasa_marine_debris.py
  torchgeo/datamodules/resisc45.py
  torchgeo/datamodules/sen12ms.py
  torchgeo/datamodules/so2sat.py
  torchgeo/datamodules/spacenet.py
  torchgeo/datamodules/ucmerced.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/geo.py
  torchgeo/losses/__init__.py
  torchgeo/losses/qr.py
  torchgeo/models/__init__.py
  torchgeo/models/changestar.py
  torchgeo/models/farseg.py
  torchgeo/models/fcn.py
  torchgeo/models/fcsiam.py
  torchgeo/models/rcf.py
  torchgeo/samplers/__init__.py
  torchgeo/samplers/batch.py
  torchgeo/samplers/single.py
  torchgeo/trainers/__init__.py
  torchgeo/trainers/byol.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/detection.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/segmentation.py
  torchgeo/trainers/utils.py
  torchgeo/transforms/__init__.py
  torchgeo/transforms/indices.py
  torchgeo/transforms/transforms.py
Labels: documentation, datasets, models, testing, samplers, trainers, transforms, datamodules, losses

#977 LoveDA: fix URL formatting
  torchgeo/datasets/loveda.py
Labels: datasets

#979 Remove tests/datamodules/test_nasa_marine_debris.py
  tests/datamodules/test_nasa_marine_debris.py
Labels: testing

#975 InriaAerialImageLabelingDataModule: fix predict dimensions
  tests/conf/inria_test.yaml
  tests/conf/inria_train.yaml
  tests/conf/inria_val.yaml
  tests/datamodules/test_inria.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/inria.py
Labels: testing, datamodules

#983 OSCDDataModule: does not support SemanticSegmentationTask
  tests/conf/oscd_all.yaml
  tests/conf/oscd_rgb.yaml
  tests/datamodules/test_oscd.py
  tests/trainers/test_segmentation.py
  train.py
Labels: testing, scripts

#876 Add random crop logic to DeepGlobeLandCover Datamodule
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  environment.yml
  requirements/min.old
  setup.cfg
  tests/conf/deepglobelandcover.yaml
  tests/conf/deepglobelandcover_5.yaml
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/inria.py
  torchgeo/datasets/deepglobelandcover.py
  torchgeo/samplers/utils.py
  torchgeo/transforms/transforms.py
Labels: documentation, datasets, testing, samplers, transforms, datamodules, backwards-incompatible

#991 Added CSVLogger
  train.py
Labels: scripts

#966 Add LoveDADataModule to the trainer tests
  tests/conf/loveda.yaml
  tests/datamodules/test_loveda.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/loveda.py
  train.py
Labels: testing, datamodules, scripts

#853 Fix Vaihingen datamodule
  conf/deepglobelandcover.yaml
  conf/vaihingen2d.yaml
  tests/conf/vaihingen2d.yaml
  tests/datamodules/test_vaihingen.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/vaihingen.py
  torchgeo/datasets/vaihingen.py
  train.py
Labels: datasets, testing, datamodules, backwards-incompatible, scripts

#929 Add crop logic to Potsdam2D datamodule
  conf/potsdam2d.yaml
  tests/conf/potsdam2d.yaml
  tests/datamodules/test_potsdam.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/potsdam.py
  torchgeo/datasets/potsdam.py
  train.py
Labels: datasets, testing, datamodules, scripts

#928 Add datamodule for GID-15 dataset
  conf/gid15.yaml
  docs/api/datamodules.rst
  pyproject.toml
  tests/conf/gid15.yaml
  tests/data/gid15/GID/ann_dir/train/GF2_PMS1__L1A0000564539-MSS1_15label.png
  tests/data/gid15/GID/ann_dir/train/GF2_PMS1__L1A0000575925-MSS1_15label.png
  tests/data/gid15/GID/ann_dir/val/GF2_PMS1__L1A0001064454-MSS1_15label.png
  tests/data/gid15/GID/ann_dir/val/GF2_PMS1__L1A0001118839-MSS1_15label.png
  tests/data/gid15/GID/img_dir/test/GF2_PMS1__L1A0000708367-MSS1.tif
  tests/data/gid15/GID/img_dir/test/GF2_PMS1__L1A0001344822-MSS1.tif
  tests/data/gid15/GID/img_dir/train/GF2_PMS1__L1A0000564539-MSS1.tif
  tests/data/gid15/GID/img_dir/train/GF2_PMS1__L1A0000575925-MSS1.tif
  tests/data/gid15/GID/img_dir/val/GF2_PMS1__L1A0001064454-MSS1.tif
  tests/data/gid15/GID/img_dir/val/GF2_PMS1__L1A0001118839-MSS1.tif
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/gid15.py
  torchgeo/datasets/gid15.py
  train.py
Labels: documentation, datasets, testing, datamodules, scripts

#988 Fix for warning raised if model outputs no box predictions
  torchgeo/datasets/nasa_marine_debris.py
Labels: datasets
