Repository torchgeo/torchgeo, pull requests merged in 2022-06, with the labels that each got.

#555 Fix compatibility with torchmetrics 0.9, failing Windows tests
  setup.cfg
  torchgeo/trainers/segmentation.py
Labels: trainers

#551 Set up dependabot configuration for pip
  .github/dependabot.yml
  .github/workflows/release.yaml
  .github/workflows/style.yaml
  .github/workflows/tests.yaml
  .readthedocs.yaml
  docs/requirements.txt
  docs/tutorials/benchmarking.ipynb
  docs/tutorials/custom_raster_dataset.ipynb
  docs/tutorials/getting_started.ipynb
  docs/tutorials/indices.ipynb
  docs/tutorials/trainers.ipynb
  docs/tutorials/transforms.ipynb
  requirements.txt
  setup.cfg
Labels: documentation

#524 Fix loading encoder weights trained with BYOL
  tests/trainers/conftest.py
  torchgeo/trainers/utils.py
Labels: testing, trainers

#550 Update md5sum of the s1 data file
  torchgeo/datasets/bigearthnet.py
Labels: datasets

#567 Resolve DeprecationWarnings
  environment.yml
  pyproject.toml
  setup.cfg
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_regression.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/landcoverai.py
  torchgeo/datamodules/resisc45.py
  torchgeo/datasets/cyclone.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/seco.py
Labels: datasets, testing, datamodules

#570 Datasets: download from HTTPS
  torchgeo/datasets/bigearthnet.py
  torchgeo/datasets/cyclone.py
  torchgeo/datasets/eddmaps.py
  torchgeo/datasets/eurosat.py
Labels: datasets

#579 Update landcover.ai dataset download link
  torchgeo/datasets/landcoverai.py
Labels: datasets

#581 Add note about Windows installation
  docs/user/installation.rst
Labels: documentation

#571 Docs: shorter dataset/datamodule/model names
  docs/api/datamodules.rst
  docs/api/datasets.rst
  docs/api/models.rst
Labels: documentation

#574 Test minimum version of deps
  .github/dependabot.yml
  .github/workflows/release.yaml
  .github/workflows/style.yaml
  .github/workflows/tests.yaml
  .readthedocs.yaml
  environment.yml
  pyproject.toml
  requirements/requirements-min.txt
  requirements/requirements.txt
  setup.cfg
  tests/datasets/test_advance.py
  tests/datasets/test_idtrees.py
  tests/datasets/test_openbuildings.py
  tests/datasets/test_so2sat.py
  tests/datasets/test_usavars.py
  tests/datasets/test_zuericrop.py
  tests/trainers/test_classification.py
  tests/transforms/test_transforms.py
  torchgeo/datasets/advance.py
  torchgeo/datasets/cyclone.py
  torchgeo/datasets/seco.py
Labels: datasets, testing

#605 Move requirements-min.txt, split deps in multiple files
  .github/workflows/release.yaml
  .github/workflows/style.yaml
  .github/workflows/tests.yaml
  .readthedocs.yaml
  docs/requirements.txt
  docs/user/contributing.rst
  environment.yml
  requirements/datasets.txt
  requirements/docs.txt
  requirements/min/all.txt
  requirements/required.txt
  requirements/style.txt
  requirements/tests.txt
  setup.cfg
Labels: documentation, testing

#590 Add issue templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/labeler.yml
Labels: testing

#610 Move requirements-min.txt again
  .github/requirements-min.txt
  .github/workflows/tests.yaml
Labels: testing

#435 Add dataset table to the documentation
  docs/api/datasets.rst
  docs/api/geo_datasets.csv
  docs/api/non_geo_datasets.csv
  docs/user/contributing.rst
  torchgeo/datasets/advance.py
  torchgeo/datasets/bigearthnet.py
  torchgeo/datasets/cbf.py
  torchgeo/datasets/cdl.py
  torchgeo/datasets/dfc2022.py
  torchgeo/datasets/eddmaps.py
  torchgeo/datasets/enviroatlas.py
  torchgeo/datasets/eudem.py
  torchgeo/datasets/eurosat.py
  torchgeo/datasets/fair1m.py
  torchgeo/datasets/gbif.py
  torchgeo/datasets/gid15.py
  torchgeo/datasets/idtrees.py
  torchgeo/datasets/inria.py
  torchgeo/datasets/landcoverai.py
  torchgeo/datasets/landsat.py
  torchgeo/datasets/levircd.py
  torchgeo/datasets/loveda.py
  torchgeo/datasets/nasa_marine_debris.py
  torchgeo/datasets/openbuildings.py
  torchgeo/datasets/patternnet.py
  torchgeo/datasets/potsdam.py
  torchgeo/datasets/resisc45.py
  torchgeo/datasets/sen12ms.py
  torchgeo/datasets/sentinel.py
  torchgeo/datasets/so2sat.py
  torchgeo/datasets/spacenet.py
  torchgeo/datasets/ucmerced.py
  torchgeo/datasets/vaihingen.py
  torchgeo/datasets/xview.py
  torchgeo/datasets/zuericrop.py
Labels: documentation, datasets

#616 Correct Inria task
  docs/api/non_geo_datasets.csv
Labels: documentation

#615 Ignore pytorch-sphinx-theme installation
  .github/workflows/style.yaml
  .gitignore
  pyproject.toml
  setup.cfg
Labels: testing

#450 Added 3 Bands indices AppendRBNDVI , AppendGBNDVI and AppendGRNDVI
  tests/transforms/test_indices.py
  torchgeo/transforms/__init__.py
  torchgeo/transforms/indices.py
Labels: testing, transforms

#441 USAVars: implementing DataModule
  docs/api/datamodules.rst
  tests/data/usavars/data.py
  tests/data/usavars/test_split.txt
  tests/data/usavars/train_split.txt
  tests/data/usavars/val_split.txt
  tests/datamodules/test_usavars.py
  tests/datasets/test_usavars.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/usavars.py
  torchgeo/datasets/usavars.py
Labels: documentation, datasets, testing, datamodules

#626 Better README
  CITATION.cff
  README.md
  images/geodataset.png
  images/inria.png
  images/vhr10.png
  pyproject.toml
  setup.cfg
  torchgeo/__init__.py
Labels: documentation
