Repository torchgeo/torchgeo, pull requests merged in 2022-05, with the labels that each got.

#522 Fix error when using other than 4 channel images with BYOL task
  torchgeo/trainers/byol.py
Labels: trainers

#507 Add GBIF dataset
  .gitignore
  docs/api/datasets.rst
  tests/data/gbif/0123456-012345678901234.csv
  tests/data/gbif/data.py
  tests/datasets/test_gbif.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/gbif.py
Labels: documentation, datasets, testing

#457 Test on Python 3.10
  .github/workflows/release.yaml
  .github/workflows/style.yaml
  .github/workflows/tests.yaml
  setup.cfg
Labels: testing

#531 Tutorials: fix NAIP downloads
  docs/tutorials/benchmarking.ipynb
  docs/tutorials/getting_started.ipynb
Labels: documentation

#532 Add iNaturalist dataset
  docs/api/datasets.rst
  tests/data/inaturalist/data.py
  tests/data/inaturalist/observations-012345.csv
  tests/datasets/test_inaturalist.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/inaturalist.py
Labels: documentation, datasets, testing

#533 Add EDDMapS dataset
  docs/api/datasets.rst
  tests/data/eddmaps/data.py
  tests/data/eddmaps/mappings.csv
  tests/datasets/test_eddmaps.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/eddmaps.py
Labels: documentation, datasets, testing

#498 Add Inria datamodule
  conf/inria.yaml
  docs/api/datamodules.rst
  docs/conf.py
  setup.cfg
  tests/conf/inria.yaml
  tests/data/inria/AerialImageDataset/test/images/austin10.tif
  tests/data/inria/AerialImageDataset/test/images/austin11.tif
  tests/data/inria/AerialImageDataset/test/images/austin12.tif
  tests/data/inria/AerialImageDataset/test/images/austin13.tif
  tests/data/inria/AerialImageDataset/test/images/austin14.tif
  tests/data/inria/AerialImageDataset/train/gt/austin1.tif
  tests/data/inria/AerialImageDataset/train/gt/austin2.tif
  tests/data/inria/AerialImageDataset/train/gt/austin3.tif
  tests/data/inria/AerialImageDataset/train/gt/austin4.tif
  tests/data/inria/AerialImageDataset/train/gt/austin5.tif
  tests/data/inria/AerialImageDataset/train/images/austin1.tif
  tests/data/inria/AerialImageDataset/train/images/austin2.tif
  tests/data/inria/AerialImageDataset/train/images/austin3.tif
  tests/data/inria/AerialImageDataset/train/images/austin4.tif
  tests/data/inria/AerialImageDataset/train/images/austin5.tif
  tests/data/inria/NEW2-AerialImageDataset.zip
  tests/data/inria/data.py
  tests/datamodules/test_inria.py
  tests/datasets/test_inria.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/inria.py
  torchgeo/datasets/inria.py
  train.py
Labels: documentation, datasets, testing, datamodules
