Repository torchgeo/torchgeo, pull requests merged in 2022-07, with the labels that each got.

#643 LandCover.ai: add data.py script
  tests/data/landcoverai/data.py
  tests/data/landcoverai/images/M-33-20-D-c-4-2.tif
  tests/data/landcoverai/landcover.ai.v1.zip
  tests/data/landcoverai/masks/M-33-20-D-c-4-2.tif
  tests/data/landcoverai/output/M-33-20-D-c-4-2_0.jpg
  tests/data/landcoverai/output/M-33-20-D-c-4-2_0_m.png
  tests/data/landcoverai/output/M-33-20-D-c-4-2_1.jpg
  tests/data/landcoverai/output/M-33-20-D-c-4-2_1_m.png
  tests/data/landcoverai/output/fake_1.jpg
  tests/data/landcoverai/output/fake_1_m.png
  tests/data/landcoverai/output/fake_2.jpg
  tests/data/landcoverai/output/fake_2_m.png
  tests/data/landcoverai/split.py
  tests/data/landcoverai/test.txt
  tests/data/landcoverai/train.txt
  tests/data/landcoverai/val.txt
  tests/datasets/test_landcoverai.py
  tests/trainers/test_segmentation.py
Labels: testing

#644 SemanticSegmentationTrainer: ignore_zeros -> ignore_index
  conf/chesapeake_cvpr.yaml
  conf/etci2021.yaml
  conf/inria.yaml
  conf/landcoverai.yaml
  conf/naipchesapeake.yaml
  conf/oscd.yaml
  conf/sen12ms.yaml
  tests/conf/chesapeake_cvpr_5.yaml
  tests/conf/chesapeake_cvpr_7.yaml
  tests/conf/chesapeake_cvpr_prior.yaml
  tests/conf/etci2021.yaml
  tests/conf/inria.yaml
  tests/conf/landcoverai.yaml
  tests/conf/naipchesapeake.yaml
  tests/conf/oscd_all.yaml
  tests/conf/oscd_rgb.yaml
  tests/conf/sen12ms_all.yaml
  tests/conf/sen12ms_s1.yaml
  tests/conf/sen12ms_s2_all.yaml
  tests/conf/sen12ms_s2_reduced.yaml
  tests/trainers/test_segmentation.py
  torchgeo/trainers/segmentation.py
Labels: testing, trainers

#646 Move minimum requirements file... again
  .github/workflows/tests.yaml
  requirements/min
Labels: testing

#578 Add DeepGlobe dataset for land cover
  docs/api/datamodules.rst
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/conf/deepglobelandcover_0.yaml
  tests/conf/deepglobelandcover_5.yaml
  tests/data/deepglobelandcover/data.py
  tests/data/deepglobelandcover/data.zip
  tests/datasets/test_deepglobelandcover.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/deepglobelandcover.py
  torchgeo/datasets/utils.py
Labels: documentation, datasets, testing, datamodules

#651 DeepGlobe: add uncompressed fake data to repo
  tests/data/deepglobelandcover/data/test_data/images/10_sat.jpg
  tests/data/deepglobelandcover/data/test_data/images/8_sat.jpg
  tests/data/deepglobelandcover/data/test_data/images/9_sat.jpg
  tests/data/deepglobelandcover/data/test_data/masks/10_mask.png
  tests/data/deepglobelandcover/data/test_data/masks/8_mask.png
  tests/data/deepglobelandcover/data/test_data/masks/9_mask.png
  tests/data/deepglobelandcover/data/training_data/images/1_sat.jpg
  tests/data/deepglobelandcover/data/training_data/images/2_sat.jpg
  tests/data/deepglobelandcover/data/training_data/images/3_sat.jpg
  tests/data/deepglobelandcover/data/training_data/masks/1_mask.png
  tests/data/deepglobelandcover/data/training_data/masks/2_mask.png
  tests/data/deepglobelandcover/data/training_data/masks/3_mask.png
Labels: testing

#655 Bump rasterio dep to v1.3.0
  .github/workflows/tests.yaml
  requirements/required.old
  requirements/required.txt
Labels: testing, dependencies

#649 Improvements to dataset tables
  docs/api/datasets.rst
  docs/api/geo_datasets.csv
  docs/api/non_geo_datasets.csv
Labels: documentation

#657 Datamodule cleanup
  conf/etci2021.yaml
  tests/conf/etci2021.yaml
  torchgeo/datamodules/chesapeake.py
  torchgeo/datamodules/cowc.py
  torchgeo/datamodules/cyclone.py
  torchgeo/datamodules/etci2021.py
  torchgeo/datamodules/fair1m.py
  torchgeo/datamodules/inria.py
  torchgeo/datamodules/landcoverai.py
  torchgeo/datamodules/loveda.py
  torchgeo/datamodules/naip.py
  torchgeo/datamodules/nasa_marine_debris.py
  torchgeo/datamodules/oscd.py
  torchgeo/datamodules/resisc45.py
  torchgeo/datamodules/sen12ms.py
  torchgeo/datamodules/so2sat.py
  torchgeo/datamodules/ucmerced.py
  torchgeo/datamodules/usavars.py
Labels: testing, datamodules

#582 Add ReforesTree dataset
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/data/reforestree/data.py
  tests/data/reforestree/reforesTree.zip
  tests/data/reforestree/reforesTree/mapping/final_dataset.csv
  tests/data/reforestree/reforesTree/tiles/Site1/Site1_RGB_0_0_0_4000_4000.png
  tests/data/reforestree/reforesTree/tiles/Site2/Site2_RGB_0_0_0_4000_4000.png
  tests/datasets/test_reforestree.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/reforestree.py
Labels: documentation, datasets, testing

#455 Million-AID dataset
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/data/millionaid/data.py
  tests/data/millionaid/test.zip
  tests/data/millionaid/test/agriculture_land/grassland/meadow/P0115918.jpg
  tests/data/millionaid/test/water_area/beach/P0060208.jpg
  tests/data/millionaid/train.zip
  tests/data/millionaid/train/agriculture_land/grassland/meadow/P0115918.jpg
  tests/data/millionaid/train/water_area/beach/P0060208.jpg
  tests/datasets/test_millionaid.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/millionaid.py
Labels: documentation, datasets, testing

#627 Rename VisionDataset to NonGeoDataset
  docs/api/datasets.rst
  docs/api/samplers.rst
  docs/user/contributing.rst
  tests/data/README.md
  tests/data/nongeoclassification/class0/001.jpg
  tests/data/nongeoclassification/class1/001.jpg
  tests/datasets/test_geo.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/utils.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/advance.py
  torchgeo/datasets/benin_cashews.py
  torchgeo/datasets/bigearthnet.py
  torchgeo/datasets/cowc.py
  torchgeo/datasets/cv4a_kenya_crop_type.py
  torchgeo/datasets/cyclone.py
  torchgeo/datasets/deepglobelandcover.py
  torchgeo/datasets/dfc2022.py
  torchgeo/datasets/etci2021.py
  torchgeo/datasets/eurosat.py
  torchgeo/datasets/fair1m.py
  torchgeo/datasets/forestdamage.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/gid15.py
  torchgeo/datasets/idtrees.py
  torchgeo/datasets/inria.py
  torchgeo/datasets/landcoverai.py
  torchgeo/datasets/levircd.py
  torchgeo/datasets/loveda.py
  torchgeo/datasets/millionaid.py
  torchgeo/datasets/nasa_marine_debris.py
  torchgeo/datasets/nwpu.py
  torchgeo/datasets/oscd.py
  torchgeo/datasets/patternnet.py
  torchgeo/datasets/potsdam.py
  torchgeo/datasets/reforestree.py
  torchgeo/datasets/resisc45.py
  torchgeo/datasets/seco.py
  torchgeo/datasets/sen12ms.py
  torchgeo/datasets/so2sat.py
  torchgeo/datasets/spacenet.py
  torchgeo/datasets/ucmerced.py
  torchgeo/datasets/usavars.py
  torchgeo/datasets/utils.py
  torchgeo/datasets/vaihingen.py
  torchgeo/datasets/xview.py
  torchgeo/datasets/zuericrop.py
  torchgeo/samplers/single.py
Labels: documentation, datasets, testing, samplers, datamodules

#661 Landsat: add plot method
  docs/api/geo_datasets.csv
  tests/datasets/test_landsat.py
  torchgeo/datasets/cdl.py
  torchgeo/datasets/chesapeake.py
  torchgeo/datasets/landsat.py
  torchgeo/datasets/naip.py
  torchgeo/datasets/sentinel.py
Labels: documentation, datasets, testing

#664 0.3.0 release
  .github/workflows/release.yaml
  docs/tutorials/trainers.ipynb
  pyproject.toml
  setup.cfg
  tests/datamodules/test_usavars.py
  tests/datasets/test_landcoverai.py
  tests/datasets/test_openbuildings.py
  tests/datasets/test_reforestree.py
  tests/test_train.py
  torchgeo/__init__.py
  torchgeo/datasets/eurosat.py
  torchgeo/datasets/so2sat.py
  torchgeo/trainers/segmentation.py
  torchgeo/transforms/indices.py
Labels: documentation, datasets, testing, trainers, transforms

#675 Fixes VectorDataset rounding bug causing sample mask size mismatch
  tests/datasets/test_geo.py
  torchgeo/datasets/geo.py
Labels: datasets, testing

#683 Fix coordinate swap bug in IDTReeS
  torchgeo/datasets/idtrees.py
Labels: datasets
