Repository torchgeo/torchgeo, pull requests merged in 2023-07, with the labels that each got.

#1413 fix: Support tensors and arrays for class_weight
  tests/trainers/test_segmentation.py
  torchgeo/trainers/segmentation.py
Labels: testing, trainers

#1441 DataModules: improve error messages
  tests/datamodules/test_geo.py
  torchgeo/datamodules/geo.py
Labels: testing, datamodules

#1484 Bump minimum support pycocotools version
  environment.yml
  pyproject.toml
  requirements/min-reqs.old
Labels: dependencies

#1481 Make Landsats plural
  experiments/ssl4eo/landsat/band_data.csv
Labels: scripts

#1453 Move USAVars to Huggingface
  torchgeo/datasets/usavars.py
Labels: datasets
