Repository torchgeo/torchgeo, pull requests merged in 2023-02, with the labels that each got.

#1077 Codecov: use repository upload token
  .github/workflows/tests.yaml
Labels: testing

#1072 EuroSAT: redistribute on Hugging Face
  torchgeo/datasets/eurosat.py
Labels: datasets

#1076 UC Merced: redistribute on Hugging Face
  torchgeo/datasets/ucmerced.py
Labels: datasets

#1057 CI: cache pip installs
  .github/workflows/release.yaml
  .github/workflows/style.yaml
  .github/workflows/tests.yaml
Labels: testing

#1095 One extra to rule them all
  setup.cfg
Labels: dependencies

#1094 CI: cancel in-progress jobs when new commit
  .github/workflows/labeler.yml
  .github/workflows/release.yaml
  .github/workflows/style.yaml
  .github/workflows/tests.yaml
Labels: testing

#1099 Fix folder name for labels_root in the FAIR1M dataset
  tests/data/fair1m/labelXml/0.xml
  tests/data/fair1m/labelXml/1.xml
  tests/data/fair1m/labelXml/2.xml
  tests/data/fair1m/labelXml/3.xml
  tests/data/fair1m/labelXmls.zip
  tests/datasets/test_fair1m.py
  torchgeo/datasets/fair1m.py
Labels: datasets, testing

#1084 Fix load_state_dict for all timm models
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_regression.py
  tests/trainers/test_utils.py
  torchgeo/trainers/byol.py
  torchgeo/trainers/utils.py
Labels: testing, trainers

#1097 CI: test notebooks when modified
  .github/workflows/tutorials.yaml
  docs/tutorials/trainers.ipynb
Labels: documentation, testing

#1102 Support for radiant-mlhub 0.5+
  .github/dependabot.yml
  environment.yml
  setup.cfg
  tests/datasets/test_benin_cashews.py
  tests/datasets/test_cloud_cover.py
  tests/datasets/test_cv4a_kenya_crop_type.py
  tests/datasets/test_cyclone.py
  tests/datasets/test_nasa_marine_debris.py
  torchgeo/datasets/benin_cashews.py
  torchgeo/datasets/cloud_cover.py
  torchgeo/datasets/cv4a_kenya_crop_type.py
  torchgeo/datasets/cyclone.py
  torchgeo/datasets/nasa_marine_debris.py
Labels: datasets, testing, dependencies

#1105 Weights: add sha256 suffix
  docs/api/resnet_pretrained_weights.csv
  docs/api/vit_pretrained_weights.csv
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
Labels: documentation, models

#1127 Change BigEarthNet class mapping order to match original code
  torchgeo/datasets/bigearthnet.py
Labels: datasets

#1119 Add seco transforms and zhu normalization to pretrained weights
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
Labels: models

#866 Add splitting utilities for GeoDatasets
  docs/api/datasets.rst
  tests/datasets/test_splits.py
  tests/datasets/test_utils.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/splits.py
  torchgeo/datasets/utils.py
Labels: documentation, datasets, testing, utilities

#1126 LandCover.ai: add GeoDataset version
  docs/api/datasets.rst
  docs/api/geo_datasets.csv
  tests/datasets/test_landcoverai.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/landcoverai.py
Labels: documentation, datasets, testing

#1135 RasterDataset: fix band indexing bug
  tests/datasets/test_geo.py
  tests/datasets/test_landsat.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/landsat.py
Labels: datasets, testing

#1138 Usa vars label bug
  torchgeo/datasets/usavars.py
Labels: datasets

#1136 Update pyupgrade Python version support
  docs/user/contributing.rst
Labels: documentation

#1132 Trainers: refactor tests
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_regression.py
  tests/trainers/test_segmentation.py
  tests/trainers/test_utils.py
Labels: testing

#1130 EuroSAT100: add new dataset/datamodule
  tests/datasets/test_eurosat.py
  tests/trainers/test_classification.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/eurosat.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/eurosat.py
Labels: datasets, testing, datamodules

#1145 Trainers: fix support for non-TensorBoardLogger
  torchgeo/trainers/classification.py
  torchgeo/trainers/detection.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/segmentation.py
Labels: trainers

#1144 Fix version selection button in docs
  .github/dependabot.yml
  environment.yml
  requirements/docs.txt
  setup.cfg
Labels: dependencies

#1125 Fix broken URLs
  docs/index.rst
  docs/tutorials/benchmarking.ipynb
  docs/tutorials/getting_started.ipynb
  docs/tutorials/indices.ipynb
  docs/tutorials/trainers.ipynb
  docs/user/contributing.rst
  torchgeo/datasets/chesapeake.py
  torchgeo/datasets/cv4a_kenya_crop_type.py
  torchgeo/datasets/enviroatlas.py
  torchgeo/datasets/eudem.py
  torchgeo/datasets/forestdamage.py
  torchgeo/datasets/naip.py
  torchgeo/datasets/potsdam.py
  torchgeo/datasets/resisc45.py
  torchgeo/datasets/seco.py
  torchgeo/datasets/sen12ms.py
  torchgeo/datasets/vhr10.py
  torchgeo/datasets/zuericrop.py
  torchgeo/trainers/byol.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/regression.py
  torchgeo/transforms/indices.py
Labels: documentation, datasets, trainers, transforms

#1148 Speed up detection tests
  tests/trainers/test_detection.py
  torchgeo/trainers/detection.py
Labels: testing, trainers
