Repository torchgeo/torchgeo, pull requests merged in 2023-08, with the labels that each got.

#315 PASTIS dataset
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/data/pastis/PASTIS-R.zip
  tests/data/pastis/data.py
  tests/datasets/test_pastis.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/pastis.py
Labels: documentation, datasets, testing

#1504 Use pytest parametrize cross product
  tests/models/test_changestar.py
  tests/models/test_fcsiam.py
Labels: testing

#1510 SSL4EO: fix sampling script
  experiments/ssl4eo/sample_ssl4eo.py
Labels: scripts

#1526 L7 Irish/L8 Biome: fix default CRS
  torchgeo/datasets/l7irish.py
  torchgeo/datasets/l8biome.py
Labels: datasets

#1516 SSL4EO: add script to measure flops of models
  experiments/ssl4eo/flops.py
Labels: scripts
