Repository torchgeo/torchgeo, pull requests merged in 2023-06, with the labels that each got.

#1385 sample_ssl4eo: faster top 10K population cities
  experiments/ssl4eo/sample_ssl4eo.py
Labels: scripts

#1383 Add script to plot Landsat mission timeline
  experiments/ssl4eo/plot_landsat_timeline.py
Labels: scripts

#1378 Improve customizability of Landsat band plots
  experiments/ssl4eo/band_data.csv
  experiments/ssl4eo/plot_landsat_bands.py
Labels: scripts

#1390 Add copyright to files we forgot
  experiments/ssl4eo/compress_l5_l1.sh
  experiments/ssl4eo/compress_l7_l1.sh
  experiments/ssl4eo/compress_l7_l2.sh
  experiments/ssl4eo/compress_l8_l1.sh
  experiments/ssl4eo/compress_l8_l2.sh
  experiments/ssl4eo/compute_dataset_pca.py
  experiments/ssl4eo/delete_mismatch.py
  experiments/ssl4eo/delete_mismatch.sh
  experiments/ssl4eo/sample_conus.sh
Labels: scripts

#1389 Compute class imbalance
  experiments/ssl4eo/class_imbalance.py
Labels: scripts

#1382 Define data augmentations for benchmark tasks
  torchgeo/datamodules/l7irish.py
  torchgeo/datamodules/l8biome.py
  torchgeo/datamodules/ssl4eo_benchmark.py
  torchgeo/transforms/transforms.py
Labels: transforms, datamodules

#1392 CDL/NLCD/SSL4EO: allow selection of classes
  tests/conf/ssl4eo_l_benchmark_cdl.yaml
  tests/conf/ssl4eo_l_benchmark_nlcd.yaml
  tests/data/cdl/2020_30m_cdls/2020_30m_cdls.tif
  tests/data/cdl/2020_30m_cdls/2020_30m_cdls.tif.ovr
  tests/data/cdl/2021_30m_cdls/2021_30m_cdls.tif
  tests/data/cdl/2021_30m_cdls/2021_30m_cdls.tif.ovr
  tests/data/fire_risk/data.py
  tests/data/nlcd/data.py
  tests/data/ref_cloud_cover_detection_challenge_v1/data.py
  tests/data/skippd/data.py
  tests/data/spacenet/data.py
  tests/data/ssl4eo_benchmark_landsat/data.py
  tests/data/sustainbench_crop_yield/data.py
  tests/data/vhr10/data.py
  tests/data/western_usa_live_fuel_moisture/data.py
  tests/datasets/test_cdl.py
  tests/datasets/test_nlcd.py
  tests/datasets/test_ssl4eo_benchmark.py
  torchgeo/datasets/cdl.py
  torchgeo/datasets/nlcd.py
  torchgeo/datasets/ssl4eo_benchmark.py
Labels: datasets, testing

#1400 SSL4EO-L Benchmark ETM+: copy nodata pixels from img to mask
  experiments/ssl4eo/chip_landsat_downstream.py
  torchgeo/datasets/ssl4eo_benchmark.py
Labels: datasets, scripts

#1416 SSL4EO-L: add reproducibility instructions
  experiments/ssl4eo/landsat/README.md
  experiments/ssl4eo/landsat/band_data.csv
  experiments/ssl4eo/landsat/chip_landsat_benchmark.py
  experiments/ssl4eo/landsat/compress_etm_sr.sh
  experiments/ssl4eo/landsat/compress_etm_toa.sh
  experiments/ssl4eo/landsat/compress_oli_sr.sh
  experiments/ssl4eo/landsat/compress_oli_tirs_toa.sh
  experiments/ssl4eo/landsat/compress_tm_toa.sh
  experiments/ssl4eo/landsat/delete_mismatch.sh
  experiments/ssl4eo/landsat/download_etm_sr.sh
  experiments/ssl4eo/landsat/download_etm_toa.sh
  experiments/ssl4eo/landsat/download_mss_raw.sh
  experiments/ssl4eo/landsat/download_oli_sr.sh
  experiments/ssl4eo/landsat/download_oli_tirs_toa.sh
  experiments/ssl4eo/landsat/download_tm_toa.sh
  experiments/ssl4eo/landsat/plot_landsat_bands.py
  experiments/ssl4eo/landsat/plot_landsat_timeline.py
  experiments/ssl4eo/landsat/sample_30.sh
  experiments/ssl4eo/landsat/sample_60.sh
  experiments/ssl4eo/landsat/sample_conus.sh
Labels: scripts

#1397 NLCD: support future product versions
  torchgeo/datasets/nlcd.py
Labels: datasets

#1423 Improve CI concurrency robustness
  .github/workflows/release.yaml
  .github/workflows/style.yaml
  .github/workflows/tests.yaml
  .github/workflows/tutorials.yaml
Labels: testing

#1425 SSL4EO: Add script to delete excess files
  experiments/ssl4eo/delete_excess.py
  experiments/ssl4eo/landsat/README.md
  experiments/ssl4eo/landsat/delete_excess.sh
Labels: scripts

#1431 Change SSL4EO-L-Benchmark Huggingface links
  torchgeo/datasets/ssl4eo_benchmark.py
Labels: datasets

#1433 Fix USA Vars
  torchgeo/datasets/usavars.py
Labels: datasets

#1435 SSL4EO-L: add citation information to datasets
  torchgeo/datasets/ssl4eo.py
  torchgeo/datasets/ssl4eo_benchmark.py
Labels: datasets

#1446 Move project configuration from setup.cfg to pyproject.toml
  .flake8
  environment.yml
  pyproject.toml
  requirements/min-reqs.old
  setup.cfg
Labels: dependencies
