Repository torchgeo/torchgeo, pull requests merged in 2023-11, with the labels that each got.

#1707 Add data module for LEVIR-CD+ dataset
  tests/datamodules/test_levircd.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/levircd.py
  torchgeo/datasets/levircd.py
Labels: datasets, testing, datamodules

#1713 Fix Download Link AGB Live Woody Biomass dataset
  tests/data/agb_live_woody_density/Aboveground_Live_Woody_Biomass_Density.geojson
  tests/data/agb_live_woody_density/data.py
  torchgeo/datasets/agb_live_woody_density.py
Labels: datasets, testing

#1712 Fix for Blank Images in plot due to Float Tensor Ranges
  torchgeo/datasets/ucmerced.py
Labels: datasets

#1647 Remove configure_callbacks
  torchgeo/trainers/base.py
Labels: trainers

#1718 Fix formatting for BioMassters
  docs/api/non_geo_datasets.csv
Labels: documentation

#1719 Add SSL4EO-L Benchmark to docs
  docs/api/datamodules.rst
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
Labels: documentation

#1670 Trainers: skip weights and augmentations when saving hparams
  tests/conf/ssl4eo_l_moco_1.yaml
  torchgeo/trainers/base.py
  torchgeo/trainers/byol.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/moco.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/segmentation.py
  torchgeo/trainers/simclr.py
Labels: testing, trainers

#1723 CI: use unique names for release caches
  .github/workflows/release.yaml
  .github/workflows/tutorials.yaml
Labels: testing

#1717 Fix another path/root inconsistency
  torchgeo/datasets/agb_live_woody_density.py
  torchgeo/datasets/astergdem.py
  torchgeo/datasets/cdl.py
  torchgeo/datasets/chesapeake.py
  torchgeo/datasets/cms_mangrove_canopy.py
  torchgeo/datasets/esri2020.py
  torchgeo/datasets/eudem.py
  torchgeo/datasets/globbiomass.py
  torchgeo/datasets/l7irish.py
  torchgeo/datasets/l8biome.py
  torchgeo/datasets/nlcd.py
  torchgeo/datasets/openbuildings.py
Labels: datasets

#1705 Removed ``os.path.expanduser`` in ``datasets`` module.
  torchgeo/datasets/benin_cashews.py
  torchgeo/datasets/rwanda_field_boundary.py
Labels: datasets, backwards-incompatible

#1666 Adding Northeastern China Crop Map Dataset
  docs/api/datasets.rst
  docs/api/geo_datasets.csv
  tests/data/nccm/13090442.zip
  tests/data/nccm/13090442/CDL2017_clip.tif
  tests/data/nccm/13090442/CDL2018_clip1.tif
  tests/data/nccm/13090442/CDL2019_clip.tif
  tests/data/nccm/data.py
  tests/datasets/test_nccm.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/nccm.py
Labels: documentation, datasets, testing

#1733 CI: fix lightning-utilities deprecation warning
  requirements/min-cons.old
Labels: dependencies

#1739 ObjectDetectionTask: increase test coverage for torchvision 0.14+
  tests/trainers/test_detection.py
Labels: testing

#1358 Satlas pretrained Swin Transformer v2 models
  docs/api/models.rst
  docs/api/naip_pretrained_weights.csv
  docs/api/sentinel2_pretrained_weights.csv
  docs/conf.py
  pyproject.toml
  requirements/min-reqs.old
  tests/models/test_api.py
  tests/models/test_swin.py
  torchgeo/models/__init__.py
  torchgeo/models/api.py
  torchgeo/models/swin.py
Labels: documentation, models, testing, dependencies

#1259 Add ChaBuD Dataset
  docs/api/datamodules.rst
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/conf/chabud.yaml
  tests/data/chabud/data.py
  tests/data/chabud/train_eval.hdf5
  tests/datasets/test_chabud.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/chabud.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/chabud.py
Labels: documentation, datasets, testing, datamodules
