Repository torchgeo/torchgeo, pull requests merged in 2023-10, with the labels that each got.

#1628 Update info on LightningCLI
  README.md
Labels: documentation

#1658 CI: minimize storage usage
  .github/workflows/release.yaml
  .github/workflows/style.yaml
  .github/workflows/tests.yaml
  .github/workflows/tutorials.yaml
  pyproject.toml
  requirements/min-reqs.old
Labels: testing, dependencies

#1656 Format OSCD images to float
  torchgeo/datasets/oscd.py
Labels: datasets

#1646 Align Sentinel-2 band names in EuroSAT and transforms tutorial
  docs/tutorials/transforms.ipynb
  torchgeo/datasets/eurosat.py
Labels: documentation, datasets

#1660 Move conf files to experiment subdirs
  conf/bigearthnet.yaml
  conf/cyclone.yaml
  conf/deepglobelandcover.yaml
  conf/gid15.yaml
  conf/inria.yaml
  conf/naipchesapeake.yaml
  conf/nasa_marine_debris.yaml
  conf/potsdam2d.yaml
  conf/seco_100k.yaml
  conf/sen12ms.yaml
  conf/spacenet1.yaml
  conf/vaihingen2d.yaml
  experiments/ssl4eo/landsat/README.md
  experiments/ssl4eo/landsat/conf/l7irish.yaml
  experiments/ssl4eo/landsat/conf/l8biome.yaml
  experiments/ssl4eo/landsat/conf/ssl4eo_benchmark_etm_sr_cdl.yaml
  experiments/ssl4eo/landsat/conf/ssl4eo_benchmark_etm_sr_nlcd.yaml
  experiments/ssl4eo/landsat/conf/ssl4eo_benchmark_etm_toa_cdl.yaml
  experiments/ssl4eo/landsat/conf/ssl4eo_benchmark_etm_toa_nlcd.yaml
  experiments/ssl4eo/landsat/conf/ssl4eo_benchmark_oli_sr_cdl.yaml
  experiments/ssl4eo/landsat/conf/ssl4eo_benchmark_oli_sr_nlcd.yaml
  experiments/ssl4eo/landsat/conf/ssl4eo_benchmark_oli_tirs_toa_cdl.yaml
  experiments/ssl4eo/landsat/conf/ssl4eo_benchmark_oli_tirs_toa_nlcd.yaml
  experiments/ssl4eo/landsat/conf/ssl4eo_benchmark_tm_toa_cdl.yaml
  experiments/ssl4eo/landsat/conf/ssl4eo_benchmark_tm_toa_nlcd.yaml
  experiments/ssl4eo/landsat/conf/ssl4eo_l_oli_tirs_toa_mocov2_resnet50.yaml
  experiments/ssl4eo/landsat/conf/ssl4eo_l_oli_tirs_toa_mocov2_vits16.yaml
  experiments/ssl4eo/landsat/conf/ssl4eo_l_oli_tirs_toa_simclr_resnet50.yaml
  experiments/ssl4eo/landsat/conf/ssl4eo_l_oli_tirs_toa_simclr_vits16.yaml
  experiments/torchgeo/conf/chesapeake_cvpr.yaml
  experiments/torchgeo/conf/cowc_counting.yaml
  experiments/torchgeo/conf/etci2021.yaml
  experiments/torchgeo/conf/eurosat.yaml
  experiments/torchgeo/conf/landcoverai.yaml
  experiments/torchgeo/conf/resisc45.yaml
  experiments/torchgeo/conf/so2sat.yaml
  experiments/torchgeo/conf/ucmerced.yaml
Labels: scripts

#1659 labeler: dependency files have changed
  .github/labeler.yml
Labels: github_actions

#1657 MapInWild: prevent download during testing
  tests/datasets/test_mapinwild.py
Labels: testing

#1650 Fix classes in EuroSAT
  torchgeo/datasets/eurosat.py
  torchgeo/datasets/resisc45.py
  torchgeo/datasets/ucmerced.py
Labels: datasets

#1681 EuroSATDataModule: set mean/std based on bands
  torchgeo/datamodules/eurosat.py
Labels: datamodules

#1669 SSL4EO: convert script from MiB to MB
  experiments/ssl4eo/flops.py
Labels: scripts

#1667 Headless PyVista plots
  tests/datasets/test_idtrees.py
Labels: testing

#1697 CI: fix RAR backend installation
  .github/workflows/tests.yaml
Labels: testing

#1696 Update levircd
  tests/datasets/test_levircd.py
  torchgeo/datasets/levircd.py
Labels: datasets, testing, backwards-incompatible

#1688 pytest: ignore distutils usage in torchmetrics
  pyproject.toml
Labels: dependencies

#1689 SSL4EO: fix invocation of training script
  experiments/ssl4eo/landsat/README.md
Labels: scripts

#1703 Fix all Trainers to support PyTorch DataLoaders
  torchgeo/trainers/classification.py
  torchgeo/trainers/detection.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/segmentation.py
Labels: trainers

#1704 Fixed ``path`` and ``root`` inconsistency.
  torchgeo/datasets/agb_live_woody_density.py
  torchgeo/datasets/astergdem.py
  torchgeo/datasets/cdl.py
  torchgeo/datasets/chesapeake.py
  torchgeo/datasets/cms_mangrove_canopy.py
  torchgeo/datasets/esri2020.py
  torchgeo/datasets/eudem.py
  torchgeo/datasets/globbiomass.py
  torchgeo/datasets/l7irish.py
  torchgeo/datasets/l8biome.py
  torchgeo/datasets/nlcd.py
  torchgeo/datasets/openbuildings.py
Labels: datasets

#1612 Add check if path is vsi
  tests/datasets/test_geo.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/utils.py
Labels: datasets, testing
