Repository torchgeo/torchgeo, pull requests merged in 2023-01, with the labels that each got.

#1009 Update apt-get repository before install
  .github/workflows/tests.yaml
Labels: testing

#1002 Bump smp and timm deps
  requirements/required.txt
  setup.cfg
Labels: dependencies

#1011 Fix mistakes caught by pydocstyle convention PR
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/potsdam.py
  torchgeo/datamodules/vaihingen.py
  torchgeo/datasets/cyclone.py
  torchgeo/datasets/gid15.py
  torchgeo/models/rcf.py
  torchgeo/samplers/batch.py
  torchgeo/samplers/single.py
Labels: datasets, models, samplers, datamodules

#917 Add Multi-Weight Support API
  conf/bigearthnet.yaml
  conf/cowc_counting.yaml
  conf/cyclone.yaml
  conf/eurosat.yaml
  conf/nasa_marine_debris.yaml
  conf/resisc45.yaml
  conf/so2sat.yaml
  docs/api/models.rst
  docs/api/resnet_pretrained_weights.csv
  docs/api/vit_pretrained_weights.csv
  docs/conf.py
  docs/index.rst
  docs/tutorials/pretrained_weights.ipynb
  environment.yml
  hubconf.py
  requirements/min.old
  setup.cfg
  tests/conf/bigearthnet_all.yaml
  tests/conf/bigearthnet_s1.yaml
  tests/conf/bigearthnet_s2.yaml
  tests/conf/byol.yaml
  tests/conf/chesapeake_cvpr_7.yaml
  tests/conf/chesapeake_cvpr_prior.yaml
  tests/conf/cowc_counting.yaml
  tests/conf/cyclone.yaml
  tests/conf/eurosat.yaml
  tests/conf/resisc45.yaml
  tests/conf/so2sat_supervised.yaml
  tests/conf/so2sat_unsupervised.yaml
  tests/conf/ucmerced.yaml
  tests/data/models/resnet50-sentinel2-2.pt.zip
  tests/models/test_api.py
  tests/models/test_resnet.py
  tests/models/test_vit.py
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_regression.py
  torchgeo/models/__init__.py
  torchgeo/models/api.py
  torchgeo/models/farseg.py
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
  torchgeo/trainers/byol.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/detection.py
  torchgeo/trainers/regression.py
Labels: documentation, models, testing, trainers, backwards-incompatible, scripts

#1019 Remove packaging dependency
  environment.yml
  requirements/min.old
  requirements/required.old
  requirements/required.txt
  setup.cfg
  tests/trainers/conftest.py
  torchgeo/datasets/openbuildings.py
Labels: datasets, testing

#999 Convert all index transforms to Kornia
  docs/conf.py
  docs/tutorials/indices.ipynb
  docs/tutorials/transforms.ipynb
  tests/transforms/test_indices.py
  tests/transforms/test_transforms.py
  torchgeo/datasets/eurosat.py
  torchgeo/transforms/indices.py
Labels: documentation, datasets, testing, transforms, backwards-incompatible

#821 Add Sentinel-1 dataset
  docs/api/datasets.rst
  tests/data/sentinel1/S1A_IW_20221204T161641_DVR_RTC30_G_gpuned_1AE1/S1A_IW_20221204T161641_DVR_RTC30_G_gpuned_1AE1_VH.tif
  tests/data/sentinel1/S1A_IW_20221204T161641_DVR_RTC30_G_gpuned_1AE1/S1A_IW_20221204T161641_DVR_RTC30_G_gpuned_1AE1_VV.tif
  tests/data/sentinel1/S1B_IW_20161021T042948_DHP_RTC30_G_gpuned_A784/S1B_IW_20161021T042948_DHP_RTC30_G_gpuned_A784_HH.tif
  tests/data/sentinel1/S1B_IW_20161021T042948_DHP_RTC30_G_gpuned_A784/S1B_IW_20161021T042948_DHP_RTC30_G_gpuned_A784_HV.tif
  tests/data/sentinel1/data.py
  tests/datasets/test_sentinel.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/sentinel.py
Labels: documentation, datasets, testing

#1029 Typo fix in pretrained weights tutorial
  docs/tutorials/pretrained_weights.ipynb
  torchgeo/trainers/utils.py
Labels: documentation, trainers

#847 Add plot method for VHR10 dataset
  environment.yml
  pyproject.toml
  requirements/datasets.old
  requirements/datasets.txt
  requirements/min.old
  setup.cfg
  tests/data/nwpu/NWPU VHR-10 dataset.rar
  tests/data/nwpu/annotations.json
  tests/data/nwpu/data.py
  tests/data/vhr10/NWPU VHR-10 dataset.rar
  tests/data/vhr10/annotations.json
  tests/datasets/test_advance.py
  tests/datasets/test_nwpu.py
  tests/datasets/test_utils.py
  torchgeo/datasets/nwpu.py
Labels: datasets, testing

#1031 Fix ViT weight names in docs
  docs/api/vit_pretrained_weights.csv
Labels: documentation

#1027 Sentinel-2: use 10,000 as scale factor
  docs/tutorials/custom_raster_dataset.ipynb
  torchgeo/datasets/sentinel.py
Labels: documentation, datasets

#1030 File rename: nwpu.py -> vhr10.py
  README.md
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/data/vhr10/NWPU VHR-10 dataset.rar
  tests/data/vhr10/annotations.json
  tests/data/vhr10/data.py
  tests/datasets/test_utils.py
  tests/datasets/test_vhr10.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/resisc45.py
  torchgeo/datasets/vhr10.py
Labels: documentation, datasets, testing

#984 Added More Object Detectors
  tests/trainers/test_detection.py
  torchgeo/trainers/detection.py
Labels: testing, trainers

#1038 Fix typo in usavars.py
  torchgeo/datasets/usavars.py
Labels: datasets

#1045 Labeler: add labels to dependency files
  .github/labeler.yml
Labels: dependencies, github_actions

#1041 Conda: update environment.yml
  environment.yml
Labels: dependencies

#1052 Fix wcwidth wheel issue in minimum tests
  requirements/min.old
Labels: dependencies

#1062 Constrain dependencies to avoid CI hang
  .github/workflows/tests.yaml
  requirements/docs.txt
  requirements/min-cons.old
  requirements/min-reqs.old
Labels: testing, dependencies

#1065 Fix SSL issue with EuroSAT
  torchgeo/datasets/eurosat.py
Labels: datasets

#1058 Drop Python 3.7 support
  .github/dependabot.yml
  .github/workflows/style.yaml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  environment.yml
  pyproject.toml
  requirements/datasets.old
  requirements/datasets.txt
  requirements/min-reqs.old
  requirements/required.old
  requirements/required.txt
  setup.cfg
  torchgeo/datasets/benin_cashews.py
  torchgeo/datasets/cyclone.py
  torchgeo/datasets/landcoverai.py
Labels: datasets, testing, dependencies
