Repository torchgeo/torchgeo, pull requests merged in 2023-09, with the labels that each got.

#1543 Delete conda environment.yml
  docs/user/installation.rst
  environment.yml
Labels: documentation, dependencies

#1542 Move benchmark script to experiments directory
  experiments/torchgeo/benchmark.py
Labels: scripts

#1534 Add script to plot example predictions
  experiments/ssl4eo/plot_example_predictions.py
Labels: scripts

#1586 Promote pandas to a required dependency
  pyproject.toml
  requirements/datasets.txt
  requirements/min-reqs.old
  requirements/required.txt
  tests/datasets/test_eddmaps.py
  tests/datasets/test_gbif.py
  tests/datasets/test_idtrees.py
  tests/datasets/test_inaturalist.py
  tests/datasets/test_openbuildings.py
  tests/datasets/test_reforestree.py
  tests/datasets/test_seasonet.py
  tests/datasets/test_usavars.py
  tests/datasets/test_western_usa_live_fuel_moisture.py
  torchgeo/datasets/eddmaps.py
  torchgeo/datasets/gbif.py
  torchgeo/datasets/idtrees.py
  torchgeo/datasets/inaturalist.py
  torchgeo/datasets/openbuildings.py
  torchgeo/datasets/reforestree.py
  torchgeo/datasets/seasonet.py
  torchgeo/datasets/usavars.py
  torchgeo/datasets/western_usa_live_fuel_moisture.py
Labels: datasets, testing, dependencies

#1584 CI: pip list even if restoring from cache
  .github/workflows/release.yaml
  .github/workflows/style.yaml
  .github/workflows/tests.yaml
  .github/workflows/tutorials.yaml
Labels: testing

#1587 Ensure that none of our minimum version tests are skipped
  .pre-commit-config.yaml
  pyproject.toml
  requirements/min-reqs.old
  tests/datasets/test_idtrees.py
  tests/datasets/test_landcoverai.py
Labels: testing, dependencies

#1585 Fix trainer support for datasets without a plot method
  torchgeo/trainers/classification.py
  torchgeo/trainers/detection.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/segmentation.py
Labels: trainers

#1592 ClassificationTask: add class_weights parameter
  torchgeo/trainers/classification.py
Labels: trainers

#1574 Adding the RwandaFieldBoundary dataset
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/data/rwanda_field_boundary/data.py
  tests/data/rwanda_field_boundary/nasa_rwanda_field_boundary_competition_labels_train.tar.gz
  tests/data/rwanda_field_boundary/nasa_rwanda_field_boundary_competition_source_test.tar.gz
  tests/data/rwanda_field_boundary/nasa_rwanda_field_boundary_competition_source_train.tar.gz
  tests/datasets/test_rwanda_field_boundary.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/rwanda_field_boundary.py
Labels: documentation, datasets, testing

#1131 Add MapInWild dataset
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/data/mapinwild/data.py
  tests/data/mapinwild/esa_wc/ESA_WC.zip
  tests/data/mapinwild/mask/mask.zip
  tests/data/mapinwild/s1/s1_part1.zip
  tests/data/mapinwild/s1/s1_part2.zip
  tests/data/mapinwild/s2_autumn/s2_autumn_part1.zip
  tests/data/mapinwild/s2_autumn/s2_autumn_part2.zip
  tests/data/mapinwild/s2_spring/s2_spring_part1.zip
  tests/data/mapinwild/s2_spring/s2_spring_part2.zip
  tests/data/mapinwild/s2_summer/s2_summer_part1.zip
  tests/data/mapinwild/s2_summer/s2_summer_part2.zip
  tests/data/mapinwild/s2_temporal_subset/s2_temporal_subset_part1.zip
  tests/data/mapinwild/s2_temporal_subset/s2_temporal_subset_part2.zip
  tests/data/mapinwild/s2_winter/s2_winter_part1.zip
  tests/data/mapinwild/s2_winter/s2_winter_part2.zip
  tests/data/mapinwild/split_IDs/split_IDs.csv
  tests/data/mapinwild/viirs/VIIRS.zip
  tests/datasets/test_mapinwild.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/mapinwild.py
Labels: documentation, datasets, testing

#1339 Add empirical sampling mode to the RCF model
  tests/models/test_rcf.py
  torchgeo/models/rcf.py
Labels: models, testing

#1560 Add BioMassters Dataset
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/data/biomassters/The_BioMassters_-_features_metadata.csv.csv
  tests/data/biomassters/data.py
  tests/data/biomassters/test_features.zip
  tests/data/biomassters/test_features/0003d2eb_S1_00.tif
  tests/data/biomassters/test_features/0003d2eb_S1_01.tif
  tests/data/biomassters/test_features/0003d2eb_S1_02.tif
  tests/data/biomassters/test_features/0003d2eb_S2_00.tif
  tests/data/biomassters/test_features/0003d2eb_S2_01.tif
  tests/data/biomassters/test_features/0003d2eb_S2_02.tif
  tests/data/biomassters/test_features/000aa810_S1_00.tif
  tests/data/biomassters/test_features/000aa810_S1_01.tif
  tests/data/biomassters/test_features/000aa810_S1_02.tif
  tests/data/biomassters/test_features/000aa810_S2_00.tif
  tests/data/biomassters/test_features/000aa810_S2_01.tif
  tests/data/biomassters/test_features/000aa810_S2_02.tif
  tests/data/biomassters/train_agbm.zip
  tests/data/biomassters/train_agbm/0003d2eb_agbm.tif
  tests/data/biomassters/train_agbm/000aa810_agbm.tif
  tests/data/biomassters/train_features.zip
  tests/data/biomassters/train_features/0003d2eb_S1_00.tif
  tests/data/biomassters/train_features/0003d2eb_S1_01.tif
  tests/data/biomassters/train_features/0003d2eb_S1_02.tif
  tests/data/biomassters/train_features/0003d2eb_S2_00.tif
  tests/data/biomassters/train_features/0003d2eb_S2_01.tif
  tests/data/biomassters/train_features/0003d2eb_S2_02.tif
  tests/data/biomassters/train_features/000aa810_S1_00.tif
  tests/data/biomassters/train_features/000aa810_S1_01.tif
  tests/data/biomassters/train_features/000aa810_S1_02.tif
  tests/data/biomassters/train_features/000aa810_S2_00.tif
  tests/data/biomassters/train_features/000aa810_S2_01.tif
  tests/data/biomassters/train_features/000aa810_S2_02.tif
  tests/datasets/test_biomassters.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/biomassters.py
Labels: documentation, datasets, testing

#1540 Added functionality for validation split
  tests/conf/inria.yaml
  tests/conf/inria_deeplab.yaml
  tests/conf/inria_fcn.yaml
  tests/conf/inria_unet.yaml
  tests/data/inria/AerialImageDataset/test/images/austin10.tif
  tests/data/inria/AerialImageDataset/test/images/austin11.tif
  tests/data/inria/AerialImageDataset/test/images/austin12.tif
  tests/data/inria/AerialImageDataset/test/images/austin13.tif
  tests/data/inria/AerialImageDataset/test/images/austin14.tif
  tests/data/inria/AerialImageDataset/test/images/austin15.tif
  tests/data/inria/AerialImageDataset/test/images/austin16.tif
  tests/data/inria/AerialImageDataset/train/gt/austin1.tif
  tests/data/inria/AerialImageDataset/train/gt/austin2.tif
  tests/data/inria/AerialImageDataset/train/gt/austin3.tif
  tests/data/inria/AerialImageDataset/train/gt/austin4.tif
  tests/data/inria/AerialImageDataset/train/gt/austin5.tif
  tests/data/inria/AerialImageDataset/train/gt/austin6.tif
  tests/data/inria/AerialImageDataset/train/gt/austin7.tif
  tests/data/inria/AerialImageDataset/train/images/austin1.tif
  tests/data/inria/AerialImageDataset/train/images/austin2.tif
  tests/data/inria/AerialImageDataset/train/images/austin3.tif
  tests/data/inria/AerialImageDataset/train/images/austin4.tif
  tests/data/inria/AerialImageDataset/train/images/austin5.tif
  tests/data/inria/AerialImageDataset/train/images/austin6.tif
  tests/data/inria/AerialImageDataset/train/images/austin7.tif
  tests/data/inria/NEW2-AerialImageDataset.zip
  tests/data/inria/data.py
  tests/datasets/test_inria.py
  torchgeo/datamodules/inria.py
  torchgeo/datasets/inria.py
Labels: datasets, testing, datamodules, backwards-incompatible

#1597 Allow VectorDataset to accept list of files
  tests/datasets/test_cbf.py
  tests/datasets/test_chesapeake.py
  tests/datasets/test_enviroatlas.py
  tests/datasets/test_openbuildings.py
  torchgeo/datasets/cbf.py
  torchgeo/datasets/chesapeake.py
  torchgeo/datasets/enviroatlas.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/openbuildings.py
Labels: datasets, testing

#1593 Correct the seco weight names
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
Labels: models

#1601 SKIPP'D: document version added
  torchgeo/datamodules/skippd.py
Labels: datamodules

#1602 Don't document param change for new datasets
  torchgeo/datasets/l7irish.py
  torchgeo/datasets/l8biome.py
  torchgeo/datasets/nlcd.py
Labels: datasets

#1482 SSL4EO-L Weights
  docs/api/landsat_pretrained_weights.csv
  docs/api/misc_pretrained_weights.csv
  docs/api/models.rst
  docs/api/sentinel1_pretrained_weights.csv
  docs/api/sentinel2_pretrained_weights.csv
  docs/api/vit_pretrained_weights.csv
  tests/models/test_resnet.py
  tests/models/test_vit.py
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
Labels: documentation, models, testing

#1604 0.5.0 release
  .github/workflows/release.yaml
  .github/workflows/tutorials.yaml
  docs/tutorials/getting_started.ipynb
  tests/datasets/test_advance.py
  tests/datasets/test_skippd.py
  tests/trainers/test_detection.py
  tests/trainers/test_moco.py
  tests/trainers/test_regression.py
  tests/trainers/test_simclr.py
  torchgeo/__init__.py
  torchgeo/datamodules/chesapeake.py
Labels: documentation, testing, datamodules
