Repository torchgeo/torchgeo, pull requests merged in 2023-04, with the labels that each got.

#1189 Add tensorboard to trainers tutorial #1163
  .github/workflows/release.yaml
  .github/workflows/tutorials.yaml
  docs/tutorials/trainers.ipynb
Labels: documentation, testing

#1219 RasterDataset: remove unnecessary glob
  torchgeo/datasets/geo.py
Labels: datasets

#1214 Deps: make omegaconf/tensorboard optional
  .github/workflows/release.yaml
  .github/workflows/tutorials.yaml
  environment.yml
  requirements/min-reqs.old
  requirements/required.txt
  requirements/tests.txt
  setup.cfg
Labels: testing, dependencies

#1213 separate sampling and use rtree based overlap check for ssl4eo-s12 downloading
  experiments/download_ssl4eo.py
  experiments/sample_ssl4eo.py
Labels: scripts

#1226 Specify mode in ckpt callback
  train.py
Labels: scripts

#1230 Fix minimum tests, lightning missing websockets dep
  requirements/min-reqs.old
Labels: dependencies

#1229 Tests: downloaded weights have different number of classes
  tests/trainers/test_classification.py
  tests/trainers/test_regression.py
Labels: testing

#1233 Revert "Tests: downloaded weights have different number of classes"
  tests/trainers/test_classification.py
  tests/trainers/test_regression.py
Labels: testing

#1232 Lightning: add support for v2
  setup.cfg
Labels: dependencies

#1225 Use torch.compile if available
  evaluate.py
  train.py
Labels: scripts

#1239 Revert "Use torch.compile if available"
  evaluate.py
  train.py
Labels: scripts

#1248 CDL: fix documented data source
  docs/api/geo_datasets.csv
Labels: documentation

#1251 PyVista: fix intersphinx link
  docs/conf.py
Labels: documentation

#1238 UCMerced: fix image shape bug
  tests/conf/ucmerced.yaml
  torchgeo/datasets/geo.py
  torchgeo/datasets/ucmerced.py
Labels: datasets, testing

#1240 returning the centroid of each cell in the sample dict
  tests/datasets/test_usavars.py
  torchgeo/datasets/usavars.py
Labels: datasets, testing

#1244 Add National Land Cover Database (NLCD) dataset
  docs/api/datasets.rst
  docs/api/geo_datasets.csv
  tests/data/nlcd/data.py
  tests/data/nlcd/nlcd_2011_land_cover_l48_20210604.zip
  tests/data/nlcd/nlcd_2011_land_cover_l48_20210604/nlcd_2011_land_cover_l48_20210604.img
  tests/data/nlcd/nlcd_2019_land_cover_l48_20210604.zip
  tests/data/nlcd/nlcd_2019_land_cover_l48_20210604/nlcd_2019_land_cover_l48_20210604.img
  tests/datasets/test_nlcd.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/nlcd.py
Labels: documentation, datasets, testing

#1262 Add Western USA Live Fuel Moisture Dataset
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/data/western_usa_live_fuel_moisture/data.py
  tests/data/western_usa_live_fuel_moisture/su_sar_moisture_content.tar.gz
  tests/data/western_usa_live_fuel_moisture/su_sar_moisture_content/su_sar_moisture_content_0/labels.geojson
  tests/data/western_usa_live_fuel_moisture/su_sar_moisture_content/su_sar_moisture_content_0/stac.json
  tests/data/western_usa_live_fuel_moisture/su_sar_moisture_content/su_sar_moisture_content_1/labels.geojson
  tests/data/western_usa_live_fuel_moisture/su_sar_moisture_content/su_sar_moisture_content_1/stac.json
  tests/data/western_usa_live_fuel_moisture/su_sar_moisture_content/su_sar_moisture_content_2/labels.geojson
  tests/data/western_usa_live_fuel_moisture/su_sar_moisture_content/su_sar_moisture_content_2/stac.json
  tests/datasets/test_western_usa_live_fuel_moisture.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/western_usa_live_fuel_moisture.py
Labels: documentation, datasets, testing

#1267 Add SKIPP'D Dataset
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/conf/skippd.yaml
  tests/data/skippd/data.py
  tests/data/skippd/dj417rh1007.zip
  tests/data/skippd/dj417rh1007/2017_2019_images_pv_processed.hdf5
  tests/data/skippd/dj417rh1007/times_test.npy
  tests/data/skippd/dj417rh1007/times_trainval.npy
  tests/datasets/test_skippd.py
  tests/trainers/test_regression.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/skippd.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/skippd.py
Labels: documentation, datasets, testing, datamodules

#1218 Plot landsat bands
  experiments/band_data.csv
  experiments/plot_landsat_bands.py
Labels: scripts

#1266 Windows CI: replace pacman with choco
  .github/workflows/tests.yaml
Labels: testing

#1269 Fix lat/lon in Western USA Live Fuel Moisture Dataset.
  torchgeo/datasets/western_usa_live_fuel_moisture.py
Labels: datasets

#1257 GeoDataModules: automatically infer length by default
  torchgeo/datamodules/chesapeake.py
  torchgeo/datamodules/geo.py
  torchgeo/datamodules/l7irish.py
  torchgeo/datamodules/l8biome.py
  torchgeo/datamodules/naip.py
Labels: datamodules

#1253 Add SustainBench Crop Yield Dataset
  docs/api/datamodules.rst
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/conf/sustainbench_crop_yield.yaml
  tests/data/sustainbench_crop_yield/data.py
  tests/data/sustainbench_crop_yield/soybeans.zip
  tests/data/sustainbench_crop_yield/soybeans/argentina/dev_hists.npz
  tests/data/sustainbench_crop_yield/soybeans/argentina/dev_ndvi.npz
  tests/data/sustainbench_crop_yield/soybeans/argentina/dev_years.npz
  tests/data/sustainbench_crop_yield/soybeans/argentina/dev_yields.npz
  tests/data/sustainbench_crop_yield/soybeans/argentina/test_hists.npz
  tests/data/sustainbench_crop_yield/soybeans/argentina/test_ndvi.npz
  tests/data/sustainbench_crop_yield/soybeans/argentina/test_years.npz
  tests/data/sustainbench_crop_yield/soybeans/argentina/test_yields.npz
  tests/data/sustainbench_crop_yield/soybeans/argentina/train_hists.npz
  tests/data/sustainbench_crop_yield/soybeans/argentina/train_ndvi.npz
  tests/data/sustainbench_crop_yield/soybeans/argentina/train_years.npz
  tests/data/sustainbench_crop_yield/soybeans/argentina/train_yields.npz
  tests/data/sustainbench_crop_yield/soybeans/brazil/dev_hists.npz
  tests/data/sustainbench_crop_yield/soybeans/brazil/dev_ndvi.npz
  tests/data/sustainbench_crop_yield/soybeans/brazil/dev_years.npz
  tests/data/sustainbench_crop_yield/soybeans/brazil/dev_yields.npz
  tests/data/sustainbench_crop_yield/soybeans/brazil/test_hists.npz
  tests/data/sustainbench_crop_yield/soybeans/brazil/test_ndvi.npz
  tests/data/sustainbench_crop_yield/soybeans/brazil/test_years.npz
  tests/data/sustainbench_crop_yield/soybeans/brazil/test_yields.npz
  tests/data/sustainbench_crop_yield/soybeans/brazil/train_hists.npz
  tests/data/sustainbench_crop_yield/soybeans/brazil/train_ndvi.npz
  tests/data/sustainbench_crop_yield/soybeans/brazil/train_years.npz
  tests/data/sustainbench_crop_yield/soybeans/brazil/train_yields.npz
  tests/data/sustainbench_crop_yield/soybeans/usa/dev_hists.npz
  tests/data/sustainbench_crop_yield/soybeans/usa/dev_ndvi.npz
  tests/data/sustainbench_crop_yield/soybeans/usa/dev_years.npz
  tests/data/sustainbench_crop_yield/soybeans/usa/dev_yields.npz
  tests/data/sustainbench_crop_yield/soybeans/usa/test_hists.npz
  tests/data/sustainbench_crop_yield/soybeans/usa/test_ndvi.npz
  tests/data/sustainbench_crop_yield/soybeans/usa/test_years.npz
  tests/data/sustainbench_crop_yield/soybeans/usa/test_yields.npz
  tests/data/sustainbench_crop_yield/soybeans/usa/train_hists.npz
  tests/data/sustainbench_crop_yield/soybeans/usa/train_ndvi.npz
  tests/data/sustainbench_crop_yield/soybeans/usa/train_years.npz
  tests/data/sustainbench_crop_yield/soybeans/usa/train_yields.npz
  tests/datasets/test_sustainbench_crop_yield.py
  tests/trainers/test_regression.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/sustainbench_crop_yield.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/sustainbench_crop_yield.py
Labels: documentation, datasets, testing, datamodules

#1272 CI: fix minimum test build failure
  environment.yml
  requirements/min-reqs.old
  setup.cfg
Labels: dependencies

#1265 add FireRisk dataset
  docs/api/datamodules.rst
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/conf/fire_risk.yaml
  tests/data/fire_risk/FireRisk.zip
  tests/data/fire_risk/FireRisk/train/High/27032281_4_-103.430441201095_44.2804260315038.png
  tests/data/fire_risk/FireRisk/train/Low/27032391_2_-103.058289903541_44.3007203324261.png
  tests/data/fire_risk/FireRisk/train/Moderate/27033601_3_-98.95279624632_44.455109470962.png
  tests/data/fire_risk/FireRisk/train/Non-burnable/27033161_6_-100.447787439271_44.4136022778593.png
  tests/data/fire_risk/FireRisk/train/Very_High/27041631_5_-123.547051830273_41.5463004986268.png
  tests/data/fire_risk/FireRisk/val/High/35501951_4_-73.9911660056379_41.2755665931274.png
  tests/data/fire_risk/FireRisk/val/Low/35501621_2_-75.0371666057303_41.4540009148918.png
  tests/data/fire_risk/FireRisk/val/Moderate/35501731_3_-74.6879125510064_41.3954685534897.png
  tests/data/fire_risk/FireRisk/val/Non-burnable/35502061_6_-73.6436892181052_41.2142019946826.png
  tests/data/fire_risk/FireRisk/val/Very_High/35502941_5_-122.968467383602_40.2960022654498.png
  tests/data/fire_risk/data.py
  tests/datasets/test_fire_risk.py
  tests/trainers/test_classification.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/fire_risk.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/fire_risk.py
Labels: documentation, datasets, testing, datamodules

#1149 Add dtype field to RasterDataset
  torchgeo/datasets/geo.py
Labels: datasets

#1276 Update test minversions, pyvista min version
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  environment.yml
  requirements/min-reqs.old
  setup.cfg
  tests/datamodules/test_usavars.py
  tests/datasets/test_benin_cashews.py
  tests/datasets/test_cloud_cover.py
  tests/datasets/test_cv4a_kenya_crop_type.py
  tests/datasets/test_cyclone.py
  tests/datasets/test_eddmaps.py
  tests/datasets/test_gbif.py
  tests/datasets/test_idtrees.py
  tests/datasets/test_inaturalist.py
  tests/datasets/test_landcoverai.py
  tests/datasets/test_nasa_marine_debris.py
  tests/datasets/test_openbuildings.py
  tests/datasets/test_reforestree.py
  tests/datasets/test_resisc45.py
  tests/datasets/test_so2sat.py
  tests/datasets/test_spacenet.py
  tests/datasets/test_usavars.py
  tests/datasets/test_utils.py
  tests/datasets/test_vhr10.py
  tests/datasets/test_western_usa_live_fuel_moisture.py
  tests/datasets/test_zuericrop.py
  tests/trainers/test_classification.py
Labels: testing, dependencies

#1063 Remove scikit-learn
  docs/conf.py
  environment.yml
  requirements/min-reqs.old
  requirements/required.txt
  setup.cfg
  tests/datamodules/test_utils.py
  torchgeo/datamodules/cyclone.py
  torchgeo/datamodules/sen12ms.py
  torchgeo/datamodules/utils.py
Labels: documentation, testing, datamodules, dependencies

#1241 Add PixelwiseRegressionTask
  tests/conf/cowc_counting.yaml
  tests/conf/cyclone.yaml
  tests/conf/skippd.yaml
  tests/conf/sustainbench_crop_yield.yaml
  tests/trainers/test_regression.py
  torchgeo/trainers/__init__.py
  torchgeo/trainers/regression.py
Labels: testing, trainers

#1221 added class_weights for cross entropy loss to segmentation.py
  torchgeo/trainers/segmentation.py
Labels: trainers

#1291 fix typo in docs: ucmerced n=2,100 not n=21,000
  docs/api/non_geo_datasets.csv
Labels: documentation

#1260 DataModule: common base class to reduce code duplication
  docs/api/datamodules.rst
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/geo.py
Labels: documentation, datamodules

#1290 freeze_backbone and freeze_decoder in Trainers
  tests/trainers/test_classification.py
  tests/trainers/test_detection.py
  tests/trainers/test_regression.py
  tests/trainers/test_segmentation.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/detection.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/segmentation.py
Labels: testing, trainers

#1223 Download generic products from GEE
  experiments/download_ssl4eo.py
  experiments/sample_ssl4eo.py
Labels: scripts

#1294 SSL4EO download script: pad images and increase stability
  experiments/download_ssl4eo.py
Labels: scripts

#1295 Reorganize experiments directory
  experiments/README.md
  experiments/ssl4eo/band_data.csv
  experiments/ssl4eo/download_ssl4eo.py
  experiments/ssl4eo/plot_landsat_bands.py
  experiments/ssl4eo/sample_ssl4eo.py
  experiments/torchgeo/find_optimal_hyperparams.py
  experiments/torchgeo/plot_bar_chart.py
  experiments/torchgeo/plot_dataloader_benchmark.py
  experiments/torchgeo/plot_percentage_benchmark.py
  experiments/torchgeo/run_benchmarks_experiments.py
  experiments/torchgeo/run_chesapeake_cvpr_experiments.py
  experiments/torchgeo/run_chesapeakecvpr_models.py
  experiments/torchgeo/run_cowc_experiments.py
  experiments/torchgeo/run_cowc_seed_experiments.py
  experiments/torchgeo/run_landcoverai_experiments.py
  experiments/torchgeo/run_landcoverai_seed_experiments.py
  experiments/torchgeo/run_resisc45_experiments.py
  experiments/torchgeo/run_so2sat_byol_experiments.py
  experiments/torchgeo/run_so2sat_experiments.py
  experiments/torchgeo/run_so2sat_seed_experiments.py
Labels: scripts
