Repository torchgeo/torchgeo, pull requests merged in 2023-05, with the labels that each got.

#1301 RandomGrayscale: add new transform
  tests/transforms/test_color.py
  torchgeo/transforms/__init__.py
  torchgeo/transforms/color.py
Labels: testing, transforms

#1046 Segmentation Pretrained Weights
  README.md
  conf/etci2021.yaml
  conf/inria.yaml
  conf/landcoverai.yaml
  conf/naipchesapeake.yaml
  conf/spacenet1.yaml
  tests/conf/inria.yaml
  tests/trainers/test_segmentation.py
  torchgeo/trainers/segmentation.py
Labels: testing, trainers, backwards-incompatible

#1306 PixelwiseRegressionTask pretrained weights
  tests/trainers/test_regression.py
  torchgeo/trainers/regression.py
Labels: testing, trainers

#1296 SSL4EO: more generic download script
  experiments/ssl4eo/download_l5_raw.sh
  experiments/ssl4eo/download_l7_l1.sh
  experiments/ssl4eo/download_l7_l2.sh
  experiments/ssl4eo/download_l8_l1.sh
  experiments/ssl4eo/download_l8_l2.sh
  experiments/ssl4eo/download_ssl4eo.py
  experiments/ssl4eo/sample_30.sh
  experiments/ssl4eo/sample_60.sh
Labels: scripts

#1308 Add upper bounds to hydra/omegaconf deps
  setup.cfg
Labels: dependencies

#1304 RandomGrayscale: fix math in docs
  torchgeo/transforms/color.py
Labels: transforms

#1292 freeze_backbone and freeze_decoder docstrings update
  torchgeo/trainers/classification.py
  torchgeo/trainers/detection.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/segmentation.py
Labels: trainers

#1315 Better example for writing fake test data
  tests/data/README.md
Labels: testing

#1314 Add copyright info to download scripts
  experiments/ssl4eo/download_l5_raw.sh
  experiments/ssl4eo/download_l7_l1.sh
  experiments/ssl4eo/download_l7_l2.sh
  experiments/ssl4eo/download_l8_l1.sh
  experiments/ssl4eo/download_l8_l2.sh
  experiments/ssl4eo/sample_30.sh
  experiments/ssl4eo/sample_60.sh
Labels: scripts

#1319 SSL4EO download script: fix type hints
  experiments/ssl4eo/download_ssl4eo.py
Labels: scripts

#1252 Add SimCLR trainer
  docs/conf.py
  environment.yml
  requirements/min-reqs.old
  requirements/required.txt
  setup.cfg
  tests/conf/chesapeake_cvpr_prior_simclr.yaml
  tests/conf/seco_simclr_1.yaml
  tests/conf/seco_simclr_2.yaml
  tests/conf/ssl4eo_s12_simclr_1.yaml
  tests/conf/ssl4eo_s12_simclr_2.yaml
  tests/trainers/test_classification.py
  tests/trainers/test_simclr.py
  torchgeo/trainers/__init__.py
  torchgeo/trainers/simclr.py
  torchgeo/trainers/utils.py
  train.py
Labels: documentation, testing, trainers, dependencies, scripts

#1322 Typo in sample_conus.py script
  experiments/ssl4eo/sample_conus.py
Labels: scripts

#1320 Add script to delete mismatched scenes
  experiments/ssl4eo/delete_mismatch.py
  experiments/ssl4eo/delete_mismatch.sh
Labels: scripts

#1318 Various fixes to SSL4EO sampler
  experiments/ssl4eo/sample_ssl4eo.py
Labels: scripts

#1298 Add script to compute dataset statistics
  experiments/ssl4eo/compute_dataset_statistics.py
Labels: scripts

#1328 Don't ignore warnings in download script
  experiments/ssl4eo/download_ssl4eo.py
Labels: scripts

#1327 Make sample_conus.py executable
  experiments/ssl4eo/sample_conus.py
Labels: scripts

#1299 Add script to compute grayscale image using PCA
  experiments/ssl4eo/compute_dataset_pca.py
Labels: scripts

#1285 Add MoCo trainer
  requirements/required.txt
  tests/conf/chesapeake_cvpr_prior_moco.yaml
  tests/conf/seco_moco_1.yaml
  tests/conf/seco_moco_2.yaml
  tests/conf/ssl4eo_s12_moco_1.yaml
  tests/conf/ssl4eo_s12_moco_2.yaml
  tests/trainers/test_moco.py
  torchgeo/trainers/__init__.py
  torchgeo/trainers/moco.py
  torchgeo/trainers/simclr.py
  train.py
Labels: testing, trainers, dependencies, scripts

#1334 Landsat 5 TOA also needs to be downloaded
  experiments/ssl4eo/delete_mismatch.sh
  experiments/ssl4eo/download_l5_l1.sh
Labels: scripts

#1329 GridGeoSampler: don't change stride of last patch
  tests/samplers/test_single.py
  torchgeo/datasets/geo.py
  torchgeo/samplers/single.py
Labels: datasets, testing, samplers

#1326 Add script to compress dataset files
  experiments/ssl4eo/compress_dataset.py
  experiments/ssl4eo/compress_l5_l1.sh
  experiments/ssl4eo/compress_l7_l1.sh
  experiments/ssl4eo/compress_l7_l2.sh
  experiments/ssl4eo/compress_l8_l1.sh
  experiments/ssl4eo/compress_l8_l2.sh
Labels: scripts

#1331 SemanticSegmentationTask: fix ignore_index weighting
  torchgeo/trainers/segmentation.py
Labels: trainers

#1335 SSL4EO download script: optionally download nodata pixels
  experiments/ssl4eo/download_l7_l2.sh
  experiments/ssl4eo/download_l8_l2.sh
  experiments/ssl4eo/download_ssl4eo.py
Labels: scripts

#1348 Fix compression range
  experiments/ssl4eo/compress_dataset.py
Labels: scripts

#1344 Fix reprojection issues
  .gitignore
  tests/data/raster/data.py
  tests/data/raster/res_2_epsg_32631/res_2_epsg_32631.tif
  tests/data/raster/res_2_epsg_4087/res_2_epsg_4087.tif
  tests/data/raster/res_2_epsg_4326/res_2_epsg_4326.tif
  tests/data/raster/res_4_epsg_32631/res_4_epsg_32631.tif
  tests/data/raster/res_4_epsg_4087/res_4_epsg_4087.tif
  tests/data/raster/res_4_epsg_4326/res_4_epsg_4326.tif
  tests/data/raster/res_8_epsg_32631/res_8_epsg_32631.tif
  tests/data/raster/res_8_epsg_4087/res_8_epsg_4087.tif
  tests/data/raster/res_8_epsg_4326/res_8_epsg_4326.tif
  tests/data/raster/test0.tif
  tests/data/raster/uint16/corrupted.tif
  tests/data/raster/uint16/uint16.tif
  tests/data/raster/uint32/corrupted.tif
  tests/data/raster/uint32/uint32.tif
  tests/datasets/test_geo.py
  torchgeo/datasets/geo.py
Labels: datasets, testing

#1349 Fix RESISC45 dataset stats
  torchgeo/datamodules/resisc45.py
Labels: datamodules

#1336 Create matching CDL/NLCD chips for downstream tasks
  experiments/ssl4eo/chip_landsat_downstream.py
Labels: scripts

#1357 MoCo/SimCLR transforms update
  environment.yml
  requirements/min-reqs.old
  setup.cfg
  torchgeo/trainers/moco.py
  torchgeo/trainers/simclr.py
  torchgeo/transforms/color.py
Labels: trainers, transforms, dependencies

#1363 MoCo/SimCLR: better default lr
  torchgeo/trainers/moco.py
  torchgeo/trainers/simclr.py
Labels: trainers

#1325 GASSL ResNet50 Weights
  docs/api/resnet_pretrained_weights.csv
  torchgeo/models/resnet.py
Labels: documentation, models

#1364 CDL ordinal label map
  torchgeo/datasets/cdl.py
Labels: datasets

#1337 Add year filter functionality CDL
  tests/datasets/test_cdl.py
  torchgeo/datasets/cdl.py
Labels: datasets, testing

#1369 Ensure that all plot methods return figure
  torchgeo/datasets/cdl.py
  torchgeo/datasets/cms_mangrove_canopy.py
Labels: datasets

#1370 Fix ETM_SR benchmark dataset
  torchgeo/datasets/ssl4eo_benchmark.py
Labels: datasets

#1371 L8 Biome: clarify dataset description
  torchgeo/datasets/l8biome.py
Labels: datasets

#1377 Test fewer models in trainers to avoid exceeding RAM
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_moco.py
  tests/trainers/test_regression.py
  tests/trainers/test_segmentation.py
  tests/trainers/test_simclr.py
Labels: testing

#1180 Test Python 3.11
  .github/dependabot.yml
  .github/workflows/release.yaml
  .github/workflows/style.yaml
  .github/workflows/tests.yaml
  .github/workflows/tutorials.yaml
  .readthedocs.yaml
  requirements/datasets.txt
  requirements/required.txt
  setup.cfg
Labels: testing, dependencies

#1374 NLCD: avoid interpolation, set vmin/vmax
  torchgeo/datasets/nlcd.py
Labels: datasets

#1375 SSL4EO benchmark: fix cmap
  torchgeo/datasets/ssl4eo_benchmark.py
Labels: datasets

#1372 DFC2022: avoid interploation in colormap
  torchgeo/datasets/dfc2022.py
Labels: datasets

#1373 L7 Irish/L8 Biome: avoid interpolation of masks
  torchgeo/datasets/l7irish.py
  torchgeo/datasets/l8biome.py
Labels: datasets
