Repository torchgeo/torchgeo, pull requests merged in 2023-12, with the labels that each got.

#1755 SustainBenchCropYield: fix download
  torchgeo/datasets/sustainbench_crop_yield.py
Labels: datasets

#1756 Updates to SustainBenchCropYield dataset
  torchgeo/datasets/sustainbench_crop_yield.py
Labels: datasets

#1737 RGBBandsMissingError
  docs/api/datasets.rst
  tests/datasets/test_benin_cashews.py
  tests/datasets/test_cloud_cover.py
  tests/datasets/test_cv4a_kenya_crop_type.py
  tests/datasets/test_eurosat.py
  tests/datasets/test_l7irish.py
  tests/datasets/test_l8biome.py
  tests/datasets/test_landsat.py
  tests/datasets/test_oscd.py
  tests/datasets/test_rwanda_field_boundary.py
  tests/datasets/test_seasonet.py
  tests/datasets/test_seco.py
  tests/datasets/test_sen12ms.py
  tests/datasets/test_sentinel.py
  tests/datasets/test_so2sat.py
  tests/datasets/test_zuericrop.py
  tests/trainers/test_classification.py
  tests/trainers/test_detection.py
  tests/trainers/test_regression.py
  tests/trainers/test_segmentation.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/benin_cashews.py
  torchgeo/datasets/cloud_cover.py
  torchgeo/datasets/cv4a_kenya_crop_type.py
  torchgeo/datasets/eurosat.py
  torchgeo/datasets/l7irish.py
  torchgeo/datasets/l8biome.py
  torchgeo/datasets/landsat.py
  torchgeo/datasets/oscd.py
  torchgeo/datasets/rwanda_field_boundary.py
  torchgeo/datasets/seasonet.py
  torchgeo/datasets/seco.py
  torchgeo/datasets/sen12ms.py
  torchgeo/datasets/sentinel.py
  torchgeo/datasets/so2sat.py
  torchgeo/datasets/utils.py
  torchgeo/datasets/zuericrop.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/detection.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/segmentation.py
Labels: documentation, datasets, testing, trainers

#1732 Added license column to dataset csv files
  docs/api/datasets.rst
  docs/api/geo_datasets.csv
  docs/api/landsat_pretrained_weights.csv
  docs/api/misc_pretrained_weights.csv
  docs/api/models.rst
  docs/api/naip_pretrained_weights.csv
  docs/api/non_geo_datasets.csv
  docs/api/sentinel1_pretrained_weights.csv
  docs/api/sentinel2_pretrained_weights.csv
Labels: documentation

#1743 Add PRISMA dataset
  docs/api/datasets.rst
  docs/api/geo_datasets.csv
  tests/data/prisma/PRS_CF_AX_FDP_REPR_20191215092453_20191215092457_0004_0.tif
  tests/data/prisma/PRS_L0S_EO_NRT_20191215092453_20191215092457_0001.tif
  tests/data/prisma/PRS_L1_STD_OFFL_20191215092453_20191215092457_0002.tif
  tests/data/prisma/PRS_L2D_STD_20191215092453_20191215092457_0003.tif
  tests/data/prisma/data.py
  tests/datasets/test_prisma.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/prisma.py
Labels: documentation, datasets, testing

#1777 Remov Argmax Computation for torchmetrics in Classification and Segmentation
  torchgeo/trainers/classification.py
  torchgeo/trainers/segmentation.py
Labels: trainers

#1772 ExtractPatches augmentation
  tests/transforms/test_transforms.py
  torchgeo/transforms/transforms.py
Labels: testing, transforms

#1770 LEVIR-CD Dataset and Datamodule
  docs/api/datamodules.rst
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/data/levircd/LEVIR-CD+.zip
  tests/data/levircd/levircd/data.py
  tests/data/levircd/levircd/test.zip
  tests/data/levircd/levircd/train.zip
  tests/data/levircd/levircd/val.zip
  tests/data/levircd/levircdplus/LEVIR-CD+.zip
  tests/data/levircd/levircdplus/data.py
  tests/datamodules/test_levircd.py
  tests/datasets/test_levircd.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/levircd.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/levircd.py
Labels: documentation, datasets, testing, datamodules

#1787 Ensure that all files have the license header at the top
  experiments/torchgeo/benchmark.py
  tests/data/vhr10/data.py
  torchgeo/losses/qr.py
Labels: testing, losses, scripts
