Repository torchgeo/torchgeo, pull requests merged in 2024-07, with the labels that each got.

#2112 AgriFieldNet: fix list formatting
  torchgeo/datasets/agrifieldnet.py
Labels: datasets

#2155 Lightning 2.3+ contains known bugs with YAML parsing
  .github/dependabot.yml
  pyproject.toml
Labels: dependencies

#2116 Benin Cashews: radiant mlhub -> source cooperative
  tests/data/technoserve-cashew-benin/data.py
  tests/data/technoserve-cashew-benin/imagery/00/00_20191105/00_20191105_B01_10m.tif
  tests/data/technoserve-cashew-benin/imagery/00/00_20191105/00_20191105_B02_10m.tif
  tests/data/technoserve-cashew-benin/imagery/00/00_20191105/00_20191105_B03_10m.tif
  tests/data/technoserve-cashew-benin/imagery/00/00_20191105/00_20191105_B04_10m.tif
  tests/data/technoserve-cashew-benin/imagery/00/00_20191105/00_20191105_B05_10m.tif
  tests/data/technoserve-cashew-benin/imagery/00/00_20191105/00_20191105_B06_10m.tif
  tests/data/technoserve-cashew-benin/imagery/00/00_20191105/00_20191105_B07_10m.tif
  tests/data/technoserve-cashew-benin/imagery/00/00_20191105/00_20191105_B08_10m.tif
  tests/data/technoserve-cashew-benin/imagery/00/00_20191105/00_20191105_B09_10m.tif
  tests/data/technoserve-cashew-benin/imagery/00/00_20191105/00_20191105_B11_10m.tif
  tests/data/technoserve-cashew-benin/imagery/00/00_20191105/00_20191105_B12_10m.tif
  tests/data/technoserve-cashew-benin/imagery/00/00_20191105/00_20191105_B8A_10m.tif
  tests/data/technoserve-cashew-benin/imagery/00/00_20191105/00_20191105_CLD_10m.tif
  tests/data/technoserve-cashew-benin/labels/00.geojson
  tests/data/ts_cashew_benin/ts_cashew_benin_labels.tar.gz
  tests/data/ts_cashew_benin/ts_cashew_benin_source.tar.gz
  tests/datasets/test_benin_cashews.py
  torchgeo/datasets/benin_cashews.py
Labels: datasets, testing, backwards-incompatible

#2090 CV4A Kenya Crop Type: radiant mlhub -> source cooperative
  tests/data/cv4a_kenya_crop_type/FieldIds.csv
  tests/data/cv4a_kenya_crop_type/data.py
  tests/data/cv4a_kenya_crop_type/data/0/0_field_id.tif
  tests/data/cv4a_kenya_crop_type/data/0/0_label.tif
  tests/data/cv4a_kenya_crop_type/data/0/20190606/0_B01_20190606.tif
  tests/data/cv4a_kenya_crop_type/data/0/20190606/0_B02_20190606.tif
  tests/data/cv4a_kenya_crop_type/data/0/20190606/0_B03_20190606.tif
  tests/data/cv4a_kenya_crop_type/data/0/20190606/0_B04_20190606.tif
  tests/data/cv4a_kenya_crop_type/data/0/20190606/0_B05_20190606.tif
  tests/data/cv4a_kenya_crop_type/data/0/20190606/0_B06_20190606.tif
  tests/data/cv4a_kenya_crop_type/data/0/20190606/0_B07_20190606.tif
  tests/data/cv4a_kenya_crop_type/data/0/20190606/0_B08_20190606.tif
  tests/data/cv4a_kenya_crop_type/data/0/20190606/0_B09_20190606.tif
  tests/data/cv4a_kenya_crop_type/data/0/20190606/0_B11_20190606.tif
  tests/data/cv4a_kenya_crop_type/data/0/20190606/0_B12_20190606.tif
  tests/data/cv4a_kenya_crop_type/data/0/20190606/0_B8A_20190606.tif
  tests/data/cv4a_kenya_crop_type/data/0/20190606/0_CLD_20190606.tif
  tests/data/ref_african_crops_kenya_02/ref_african_crops_kenya_02_labels.tar.gz
  tests/data/ref_african_crops_kenya_02/ref_african_crops_kenya_02_source.tar.gz
  tests/datasets/test_cv4a_kenya_crop_type.py
  torchgeo/datasets/cv4a_kenya_crop_type.py
Labels: datasets, testing, backwards-incompatible

#2117 Cloud Cover: radiant mlhub -> source cooperative
  tests/data/ref_cloud_cover_detection_challenge_v1/data.py
  tests/data/ref_cloud_cover_detection_challenge_v1/private/test_features/aaaa/B02.tif
  tests/data/ref_cloud_cover_detection_challenge_v1/private/test_features/aaaa/B03.tif
  tests/data/ref_cloud_cover_detection_challenge_v1/private/test_features/aaaa/B04.tif
  tests/data/ref_cloud_cover_detection_challenge_v1/private/test_features/aaaa/B08.tif
  tests/data/ref_cloud_cover_detection_challenge_v1/private/test_labels/aaaa.tif
  tests/data/ref_cloud_cover_detection_challenge_v1/private/test_metadata.csv
  tests/data/ref_cloud_cover_detection_challenge_v1/public/train_features/aaaa/B02.tif
  tests/data/ref_cloud_cover_detection_challenge_v1/public/train_features/aaaa/B03.tif
  tests/data/ref_cloud_cover_detection_challenge_v1/public/train_features/aaaa/B04.tif
  tests/data/ref_cloud_cover_detection_challenge_v1/public/train_features/aaaa/B08.tif
  tests/data/ref_cloud_cover_detection_challenge_v1/public/train_labels/aaaa.tif
  tests/data/ref_cloud_cover_detection_challenge_v1/public/train_metadata.csv
  tests/data/ref_cloud_cover_detection_challenge_v1/ref_cloud_cover_detection_challenge_v1_test_labels.tar.gz
  tests/data/ref_cloud_cover_detection_challenge_v1/ref_cloud_cover_detection_challenge_v1_test_labels/collection.json
  tests/data/ref_cloud_cover_detection_challenge_v1/ref_cloud_cover_detection_challenge_v1_test_labels/ref_cloud_cover_detection_challenge_v1_test_labels_aaaa/labels.tif
  tests/data/ref_cloud_cover_detection_challenge_v1/ref_cloud_cover_detection_challenge_v1_test_labels/ref_cloud_cover_detection_challenge_v1_test_labels_aaaa/ref_cloud_cover_detection_challenge_v1_test_labels_aaaa.json
  tests/data/ref_cloud_cover_detection_challenge_v1/ref_cloud_cover_detection_challenge_v1_test_source.tar.gz
  tests/data/ref_cloud_cover_detection_challenge_v1/ref_cloud_cover_detection_challenge_v1_test_source/collection.json
  tests/data/ref_cloud_cover_detection_challenge_v1/ref_cloud_cover_detection_challenge_v1_test_source/ref_cloud_cover_detection_challenge_v1_test_source_aaaa/B02.tif
  tests/data/ref_cloud_cover_detection_challenge_v1/ref_cloud_cover_detection_challenge_v1_test_source/ref_cloud_cover_detection_challenge_v1_test_source_aaaa/B03.tif
  tests/data/ref_cloud_cover_detection_challenge_v1/ref_cloud_cover_detection_challenge_v1_test_source/ref_cloud_cover_detection_challenge_v1_test_source_aaaa/B04.tif
  tests/data/ref_cloud_cover_detection_challenge_v1/ref_cloud_cover_detection_challenge_v1_test_source/ref_cloud_cover_detection_challenge_v1_test_source_aaaa/B08.tif
  tests/data/ref_cloud_cover_detection_challenge_v1/ref_cloud_cover_detection_challenge_v1_test_source/ref_cloud_cover_detection_challenge_v1_test_source_aaaa/ref_cloud_cover_detection_challenge_v1_test_source_aaaa.json
  tests/datasets/test_cloud_cover.py
  torchgeo/datasets/cloud_cover.py
Labels: datasets, testing, backwards-incompatible

#2118 Rwanda Field Boundary: radiant mlhub -> source cooperative
  tests/data/rwanda_field_boundary/data.py
  tests/data/rwanda_field_boundary/labels/train/00.tif
  tests/data/rwanda_field_boundary/nasa_rwanda_field_boundary_competition_labels_train.tar.gz
  tests/data/rwanda_field_boundary/nasa_rwanda_field_boundary_competition_source_test.tar.gz
  tests/data/rwanda_field_boundary/nasa_rwanda_field_boundary_competition_source_train.tar.gz
  tests/data/rwanda_field_boundary/source/test/2021_03/00_B01.tif
  tests/data/rwanda_field_boundary/source/test/2021_03/00_B02.tif
  tests/data/rwanda_field_boundary/source/test/2021_03/00_B03.tif
  tests/data/rwanda_field_boundary/source/test/2021_03/00_B04.tif
  tests/data/rwanda_field_boundary/source/test/2021_04/00_B01.tif
  tests/data/rwanda_field_boundary/source/test/2021_04/00_B02.tif
  tests/data/rwanda_field_boundary/source/test/2021_04/00_B03.tif
  tests/data/rwanda_field_boundary/source/test/2021_04/00_B04.tif
  tests/data/rwanda_field_boundary/source/test/2021_08/00_B01.tif
  tests/data/rwanda_field_boundary/source/test/2021_08/00_B02.tif
  tests/data/rwanda_field_boundary/source/test/2021_08/00_B03.tif
  tests/data/rwanda_field_boundary/source/test/2021_08/00_B04.tif
  tests/data/rwanda_field_boundary/source/test/2021_10/00_B01.tif
  tests/data/rwanda_field_boundary/source/test/2021_10/00_B02.tif
  tests/data/rwanda_field_boundary/source/test/2021_10/00_B03.tif
  tests/data/rwanda_field_boundary/source/test/2021_10/00_B04.tif
  tests/data/rwanda_field_boundary/source/test/2021_11/00_B01.tif
  tests/data/rwanda_field_boundary/source/test/2021_11/00_B02.tif
  tests/data/rwanda_field_boundary/source/test/2021_11/00_B03.tif
  tests/data/rwanda_field_boundary/source/test/2021_11/00_B04.tif
  tests/data/rwanda_field_boundary/source/test/2021_12/00_B01.tif
  tests/data/rwanda_field_boundary/source/test/2021_12/00_B02.tif
  tests/data/rwanda_field_boundary/source/test/2021_12/00_B03.tif
  tests/data/rwanda_field_boundary/source/test/2021_12/00_B04.tif
  tests/data/rwanda_field_boundary/source/train/2021_03/00_B01.tif
  tests/data/rwanda_field_boundary/source/train/2021_03/00_B02.tif
  tests/data/rwanda_field_boundary/source/train/2021_03/00_B03.tif
  tests/data/rwanda_field_boundary/source/train/2021_03/00_B04.tif
  tests/data/rwanda_field_boundary/source/train/2021_04/00_B01.tif
  tests/data/rwanda_field_boundary/source/train/2021_04/00_B02.tif
  tests/data/rwanda_field_boundary/source/train/2021_04/00_B03.tif
  tests/data/rwanda_field_boundary/source/train/2021_04/00_B04.tif
  tests/data/rwanda_field_boundary/source/train/2021_08/00_B01.tif
  tests/data/rwanda_field_boundary/source/train/2021_08/00_B02.tif
  tests/data/rwanda_field_boundary/source/train/2021_08/00_B03.tif
  tests/data/rwanda_field_boundary/source/train/2021_08/00_B04.tif
  tests/data/rwanda_field_boundary/source/train/2021_10/00_B01.tif
  tests/data/rwanda_field_boundary/source/train/2021_10/00_B02.tif
  tests/data/rwanda_field_boundary/source/train/2021_10/00_B03.tif
  tests/data/rwanda_field_boundary/source/train/2021_10/00_B04.tif
  tests/data/rwanda_field_boundary/source/train/2021_11/00_B01.tif
  tests/data/rwanda_field_boundary/source/train/2021_11/00_B02.tif
  tests/data/rwanda_field_boundary/source/train/2021_11/00_B03.tif
  tests/data/rwanda_field_boundary/source/train/2021_11/00_B04.tif
  tests/data/rwanda_field_boundary/source/train/2021_12/00_B01.tif
  tests/data/rwanda_field_boundary/source/train/2021_12/00_B02.tif
  tests/data/rwanda_field_boundary/source/train/2021_12/00_B03.tif
  tests/data/rwanda_field_boundary/source/train/2021_12/00_B04.tif
  tests/datasets/test_rwanda_field_boundary.py
  torchgeo/datasets/rwanda_field_boundary.py
Labels: datasets, testing, backwards-incompatible

#2151 NumPy 2 support
  pyproject.toml
  torchgeo/datasets/biomassters.py
  torchgeo/datasets/dfc2022.py
  torchgeo/datasets/eurocrops.py
Labels: datasets, dependencies

#2162 Update to readMe of generating testdata
  tests/data/README.md
Labels: documentation, testing

#2097 RESISC45: document rarfile dependency
  torchgeo/datasets/resisc45.py
Labels: datasets

#2174 BigEarthNet v1.0 fix broken link
  torchgeo/datasets/bigearthnet.py
Labels: datasets

#2146 Tutorials: add Open in Studio badge
  docs/_static/badge-height.css
  docs/_static/button-width.css
  docs/conf.py
  docs/tutorials/prolog.rst.jinja
Labels: documentation

#2177 Custom raster datasets tutorial: download before super
  docs/tutorials/custom_raster_dataset.ipynb
Labels: documentation

#2180 AgriFieldNet: add download support
  tests/datasets/test_agrifieldnet.py
  torchgeo/datasets/agrifieldnet.py
Labels: datasets, testing

#2181 South Africa Crop Type: add download support
  tests/datasets/test_south_africa_crop_type.py
  torchgeo/datasets/south_africa_crop_type.py
Labels: datasets, testing

#2183 NASA Marine Debris: radiant mlhub -> source coop
  tests/data/nasa_marine_debris/data.py
  tests/data/nasa_marine_debris/labels/20160928_153233_0e16_16816-29821-16.npy
  tests/data/nasa_marine_debris/labels/20160928_153233_0e16_16816-29824-16.npy
  tests/data/nasa_marine_debris/labels/20160928_153233_0e16_16816-29825-16.npy
  tests/data/nasa_marine_debris/labels/20160928_153233_0e16_16816-29828-16.npy
  tests/data/nasa_marine_debris/labels/20160928_153233_0e16_16816-29829-16.npy
  tests/data/nasa_marine_debris/nasa_marine_debris_labels.tar.gz
  tests/data/nasa_marine_debris/nasa_marine_debris_labels/nasa_marine_debris_labels_20160928_153233_0e16_16816-29821-16/pixel_bounds.npy
  tests/data/nasa_marine_debris/nasa_marine_debris_labels/nasa_marine_debris_labels_20160928_153233_0e16_16816-29824-16/pixel_bounds.npy
  tests/data/nasa_marine_debris/nasa_marine_debris_labels/nasa_marine_debris_labels_20160928_153233_0e16_16816-29825-16/pixel_bounds.npy
  tests/data/nasa_marine_debris/nasa_marine_debris_labels/nasa_marine_debris_labels_20160928_153233_0e16_16816-29828-16/pixel_bounds.npy
  tests/data/nasa_marine_debris/nasa_marine_debris_source.tar.gz
  tests/data/nasa_marine_debris/nasa_marine_debris_source/nasa_marine_debris_source_20160928_153233_0e16_16816-29821-16/image_geotiff.tif
  tests/data/nasa_marine_debris/nasa_marine_debris_source/nasa_marine_debris_source_20160928_153233_0e16_16816-29824-16/image_geotiff.tif
  tests/data/nasa_marine_debris/nasa_marine_debris_source/nasa_marine_debris_source_20160928_153233_0e16_16816-29825-16/image_geotiff.tif
  tests/data/nasa_marine_debris/nasa_marine_debris_source/nasa_marine_debris_source_20160928_153233_0e16_16816-29828-16/image_geotiff.tif
  tests/data/nasa_marine_debris/source/20160928_153233_0e16_16816-29821-16.tif
  tests/data/nasa_marine_debris/source/20160928_153233_0e16_16816-29824-16.tif
  tests/data/nasa_marine_debris/source/20160928_153233_0e16_16816-29825-16.tif
  tests/data/nasa_marine_debris/source/20160928_153233_0e16_16816-29828-16.tif
  tests/data/nasa_marine_debris/source/20160928_153233_0e16_16816-29829-16.tif
  tests/datasets/test_nasa_marine_debris.py
  torchgeo/datasets/nasa_marine_debris.py
Labels: datasets, testing, backwards-incompatible
