Repository torchgeo/torchgeo, pull requests merged in 2024-01, with the labels that each got.

#1793 pytest: don't cast warnings to errors
  pyproject.toml
Labels: dependencies

#1742 Document TorchGeo alternatives
  docs/index.rst
  docs/user/alternatives.rst
  docs/user/downloads.csv
  docs/user/features.csv
  docs/user/github.csv
Labels: documentation

#1810 Fix the default folds and assertion for checking valid folds in PASTIS
  tests/data/pastis/PASTIS-R.zip
  tests/data/pastis/data.py
  tests/datasets/test_pastis.py
  torchgeo/datasets/pastis.py
Labels: datasets, testing

#1677 Add CropHarvest Dataset
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/data/cropharvest/data.py
  tests/data/cropharvest/features.tar.gz
  tests/data/cropharvest/features/arrays/0_TestDataset1.h5
  tests/data/cropharvest/features/arrays/0_TestDataset2.h5
  tests/data/cropharvest/features/arrays/1_TestDataset1.h5
  tests/data/cropharvest/features/arrays/1_TestDataset2.h5
  tests/data/cropharvest/features/arrays/2_TestDataset1.h5
  tests/data/cropharvest/labels.geojson
  tests/datasets/test_cropharvest.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/cropharvest.py
Labels: documentation, datasets, testing

#1814 VectorDataset: extract mint/maxt from filename
  tests/data/vector/data.py
  tests/data/vector/vector_2024.geojson
  tests/datasets/test_geo.py
  torchgeo/datasets/geo.py
Labels: datasets, testing

#1690 Updated ChesapeakeCVPR to use NLCD colormap
  torchgeo/datasets/chesapeake.py
Labels: datasets

#1827 RtD: use stable dependency versions
  .readthedocs.yaml
Labels: documentation, testing

#1803 Airphen: add new dataset
  docs/api/datasets.rst
  docs/api/geo_datasets.csv
  tests/data/airphen/data.py
  tests/data/airphen/zoneA_B_R_NIR.tif
  tests/datasets/test_airphen.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/airphen.py
Labels: documentation, datasets, testing

#1813 Add EuroCrops dataset
  docs/api/datasets.rst
  docs/api/geo_datasets.csv
  docs/conf.py
  tests/data/eurocrops/AA.zip
  tests/data/eurocrops/HCAT2.csv
  tests/data/eurocrops/data.py
  tests/datasets/test_eurocrops.py
  tests/datasets/test_utils.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/eurocrops.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/utils.py
Labels: documentation, datasets, testing

#1820 README: add color lexing to bibtex
  README.md
Labels: documentation
