Repository torchgeo/torchgeo, pull requests merged in 2024-03, with the labels that each got.

#1907 RandomGeoSampler: optional length is optional
  torchgeo/samplers/single.py
Labels: samplers

#1918 xView2: deterministic dataset order
  torchgeo/datasets/xview.py
Labels: datasets

#1920 Update VHR-10 snippet
  README.md
Labels: documentation

#1811 Clarify RasterDataset documentation for is_image and dtype
  docs/api/geo_datasets.csv
  docs/tutorials/custom_raster_dataset.ipynb
  torchgeo/datasets/geo.py
Labels: documentation, datasets

#1916 HuggingFace: use stable download URLs
  torchgeo/datasets/chabud.py
  torchgeo/datasets/eurosat.py
  torchgeo/datasets/l7irish.py
  torchgeo/datasets/l8biome.py
  torchgeo/datasets/mapinwild.py
  torchgeo/datasets/skippd.py
  torchgeo/datasets/ssl4eo.py
  torchgeo/datasets/ssl4eo_benchmark.py
  torchgeo/datasets/ucmerced.py
  torchgeo/datasets/usavars.py
  torchgeo/models/resnet.py
  torchgeo/models/swin.py
  torchgeo/models/vit.py
Labels: datasets, models

#1917 GitLab: use stable download URLs
  torchgeo/datasets/bigearthnet.py
Labels: datasets

#1821 Skip downloading when not in pre-sampled coords
  experiments/ssl4eo/download_ssl4eo.py
Labels: scripts

#1914 Document default trainer metrics
  torchgeo/trainers/classification.py
  torchgeo/trainers/detection.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/segmentation.py
Labels: trainers

#1921 DeepGlobeLandCover: document download steps
  torchgeo/datasets/deepglobelandcover.py
Labels: datasets

#1928 ObjectDetectionTask: explicit batch size
  pyproject.toml
  torchgeo/trainers/detection.py
Labels: trainers, dependencies

#1927 VHR-10: add decompressed files
  tests/data/vhr10/NWPU VHR-10 dataset/annotations.json
  tests/data/vhr10/NWPU VHR-10 dataset/negative image set/001.jpg
  tests/data/vhr10/NWPU VHR-10 dataset/negative image set/002.jpg
  tests/data/vhr10/NWPU VHR-10 dataset/negative image set/003.jpg
  tests/data/vhr10/NWPU VHR-10 dataset/negative image set/004.jpg
  tests/data/vhr10/NWPU VHR-10 dataset/negative image set/005.jpg
  tests/data/vhr10/NWPU VHR-10 dataset/positive image set/001.jpg
  tests/data/vhr10/NWPU VHR-10 dataset/positive image set/002.jpg
  tests/data/vhr10/NWPU VHR-10 dataset/positive image set/003.jpg
  tests/data/vhr10/NWPU VHR-10 dataset/positive image set/004.jpg
  tests/data/vhr10/NWPU VHR-10 dataset/positive image set/005.jpg
Labels: testing

#1930 pytest: silence kornia warnings
  pyproject.toml
Labels: dependencies

#1924 Docs: fix trainer metric definitions
  docs/conf.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/detection.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/segmentation.py
Labels: documentation, trainers

#1929 pytest: silence Python 3.12 warnings
  pyproject.toml
Labels: dependencies

#1932 load_state_dict: monkeypatch during testing
  tests/trainers/test_utils.py
Labels: testing

#1933 BaseTask: explicitly pass batch size to logger
  torchgeo/trainers/byol.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/moco.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/segmentation.py
  torchgeo/trainers/simclr.py
Labels: trainers

#1942 SSL4EO-L: update link to paper to cite
  docs/api/landsat_pretrained_weights.csv
  torchgeo/datasets/ssl4eo.py
  torchgeo/datasets/ssl4eo_benchmark.py
Labels: documentation, datasets

#1840 Add South Africa Crop Type Competition Dataset
  docs/api/datasets.rst
  docs/api/geo_datasets.csv
  tests/data/south_africa_crop_type/data.py
  tests/data/south_africa_crop_type/train/imagery/s1/12/2017_04_01/12_2017_04_01_VH_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s1/12/2017_04_01/12_2017_04_01_VV_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s1/12/2017_07_28/12_2017_07_28_VH_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s1/12/2017_07_28/12_2017_07_28_VV_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s2/12/2017_05_04/12_2017_05_04_B01_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s2/12/2017_05_04/12_2017_05_04_B02_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s2/12/2017_05_04/12_2017_05_04_B03_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s2/12/2017_05_04/12_2017_05_04_B04_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s2/12/2017_05_04/12_2017_05_04_B05_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s2/12/2017_05_04/12_2017_05_04_B06_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s2/12/2017_05_04/12_2017_05_04_B07_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s2/12/2017_05_04/12_2017_05_04_B08_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s2/12/2017_05_04/12_2017_05_04_B09_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s2/12/2017_05_04/12_2017_05_04_B11_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s2/12/2017_05_04/12_2017_05_04_B12_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s2/12/2017_05_04/12_2017_05_04_B8A_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s2/12/2017_07_22/12_2017_07_22_B01_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s2/12/2017_07_22/12_2017_07_22_B02_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s2/12/2017_07_22/12_2017_07_22_B03_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s2/12/2017_07_22/12_2017_07_22_B04_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s2/12/2017_07_22/12_2017_07_22_B05_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s2/12/2017_07_22/12_2017_07_22_B06_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s2/12/2017_07_22/12_2017_07_22_B07_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s2/12/2017_07_22/12_2017_07_22_B08_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s2/12/2017_07_22/12_2017_07_22_B09_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s2/12/2017_07_22/12_2017_07_22_B11_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s2/12/2017_07_22/12_2017_07_22_B12_10m.tif
  tests/data/south_africa_crop_type/train/imagery/s2/12/2017_07_22/12_2017_07_22_B8A_10m.tif
  tests/data/south_africa_crop_type/train/labels/12.tif
  tests/datasets/test_south_africa_crop_type.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/south_africa_crop_type.py
Labels: documentation, datasets, testing

#1956 Docs: fix link in Landsat weights table
  docs/api/landsat_pretrained_weights.csv
Labels: documentation

#1873 Add AgriFieldNet datamodule
  docs/api/datamodules.rst
  tests/conf/agrifieldnet.yaml
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/agrifieldnet.py
Labels: documentation, testing, datamodules

#1903 Add DOFA model
  docs/api/agnostic_pretrained_weights.csv
  docs/api/models.rst
  tests/models/test_dofa.py
  torchgeo/models/__init__.py
  torchgeo/models/dofa.py
Labels: documentation, models, testing

#1959 Add South America Soybean DataModule
  docs/api/datamodules.rst
  tests/conf/sentinel2_south_america_soybean.yaml
  tests/data/south_america_soybean/SouthAmericaSoybean.zip
  tests/data/south_america_soybean/SouthAmericaSoybean/South_America_Soybean_2002.tif
  tests/data/south_america_soybean/SouthAmericaSoybean/South_America_Soybean_2021.tif
  tests/data/south_america_soybean/data.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/sentinel2_south_america_soybean.py
Labels: documentation, testing, datamodules

#1957 README: add Hugging Face badge
  README.md
Labels: documentation
