Repository torchgeo/torchgeo, pull requests merged in 2024-10, with the labels that each got.

#2340 Docs: scikit-eo is a new alternative library
  docs/user/alternatives.rst
  docs/user/metrics/downloads.csv
  docs/user/metrics/features.csv
  docs/user/metrics/github.csv
Labels: documentation

#2342 Set up continuous deployment for PyPI releases
  .github/workflows/deploy.yaml
Labels: testing

#2343 Tutorials: sign NAIP download
  docs/tutorials/getting_started.ipynb
Labels: documentation

#2346 DOFA: save parameters as instance attributes
  torchgeo/models/dofa.py
Labels: models

#2248 SatlasPretrain: add new dataset
  docs/api/datasets.rst
  docs/api/datasets/non_geo_datasets.csv
  tests/data/satlas/data.py
  tests/data/satlas/landsat.tar
  tests/data/satlas/landsat/2022-03/b1/1234_5678.png
  tests/data/satlas/landsat/2022-03/b1/7149_3246.png
  tests/data/satlas/landsat/2022-03/b10/1234_5678.png
  tests/data/satlas/landsat/2022-03/b10/7149_3246.png
  tests/data/satlas/landsat/2022-03/b11/1234_5678.png
  tests/data/satlas/landsat/2022-03/b11/7149_3246.png
  tests/data/satlas/landsat/2022-03/b2/1234_5678.png
  tests/data/satlas/landsat/2022-03/b2/7149_3246.png
  tests/data/satlas/landsat/2022-03/b3/1234_5678.png
  tests/data/satlas/landsat/2022-03/b3/7149_3246.png
  tests/data/satlas/landsat/2022-03/b4/1234_5678.png
  tests/data/satlas/landsat/2022-03/b4/7149_3246.png
  tests/data/satlas/landsat/2022-03/b5/1234_5678.png
  tests/data/satlas/landsat/2022-03/b5/7149_3246.png
  tests/data/satlas/landsat/2022-03/b6/1234_5678.png
  tests/data/satlas/landsat/2022-03/b6/7149_3246.png
  tests/data/satlas/landsat/2022-03/b7/1234_5678.png
  tests/data/satlas/landsat/2022-03/b7/7149_3246.png
  tests/data/satlas/landsat/2022-03/b8/1234_5678.png
  tests/data/satlas/landsat/2022-03/b8/7149_3246.png
  tests/data/satlas/landsat/2022-03/b9/1234_5678.png
  tests/data/satlas/landsat/2022-03/b9/7149_3246.png
  tests/data/satlas/metadata.tar
  tests/data/satlas/metadata/good_images_lowres_all.json
  tests/data/satlas/metadata/image_times.json
  tests/data/satlas/metadata/train_lowres.json
  tests/data/satlas/naip.tar
  tests/data/satlas/naip/m_3808245_se_17_1_20110801/ir/1234_5678.png
  tests/data/satlas/naip/m_3808245_se_17_1_20110801/ir/7149_3246.png
  tests/data/satlas/naip/m_3808245_se_17_1_20110801/tci/1234_5678.png
  tests/data/satlas/naip/m_3808245_se_17_1_20110801/tci/7149_3246.png
  tests/data/satlas/sentinel1.tar
  tests/data/satlas/sentinel1/2022-01/vh/1234_5678.png
  tests/data/satlas/sentinel1/2022-01/vh/7149_3246.png
  tests/data/satlas/sentinel1/2022-01/vv/1234_5678.png
  tests/data/satlas/sentinel1/2022-01/vv/7149_3246.png
  tests/data/satlas/sentinel2.tar
  tests/data/satlas/sentinel2/S2A_MSIL1C_20220309T032601_N0400_R018_T48RYR_20220309T060235/b05/1234_5678.png
  tests/data/satlas/sentinel2/S2A_MSIL1C_20220309T032601_N0400_R018_T48RYR_20220309T060235/b05/7149_3246.png
  tests/data/satlas/sentinel2/S2A_MSIL1C_20220309T032601_N0400_R018_T48RYR_20220309T060235/b06/1234_5678.png
  tests/data/satlas/sentinel2/S2A_MSIL1C_20220309T032601_N0400_R018_T48RYR_20220309T060235/b06/7149_3246.png
  tests/data/satlas/sentinel2/S2A_MSIL1C_20220309T032601_N0400_R018_T48RYR_20220309T060235/b07/1234_5678.png
  tests/data/satlas/sentinel2/S2A_MSIL1C_20220309T032601_N0400_R018_T48RYR_20220309T060235/b07/7149_3246.png
  tests/data/satlas/sentinel2/S2A_MSIL1C_20220309T032601_N0400_R018_T48RYR_20220309T060235/b08/1234_5678.png
  tests/data/satlas/sentinel2/S2A_MSIL1C_20220309T032601_N0400_R018_T48RYR_20220309T060235/b08/7149_3246.png
  tests/data/satlas/sentinel2/S2A_MSIL1C_20220309T032601_N0400_R018_T48RYR_20220309T060235/b11/1234_5678.png
  tests/data/satlas/sentinel2/S2A_MSIL1C_20220309T032601_N0400_R018_T48RYR_20220309T060235/b11/7149_3246.png
  tests/data/satlas/sentinel2/S2A_MSIL1C_20220309T032601_N0400_R018_T48RYR_20220309T060235/b12/1234_5678.png
  tests/data/satlas/sentinel2/S2A_MSIL1C_20220309T032601_N0400_R018_T48RYR_20220309T060235/b12/7149_3246.png
  tests/data/satlas/sentinel2/S2A_MSIL1C_20220309T032601_N0400_R018_T48RYR_20220309T060235/tci/1234_5678.png
  tests/data/satlas/sentinel2/S2A_MSIL1C_20220309T032601_N0400_R018_T48RYR_20220309T060235/tci/7149_3246.png
  tests/data/satlas/static.tar
  tests/data/satlas/static/7149_3246/land_cover.png
  tests/datasets/test_satlas.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/satlas.py
Labels: documentation, datasets, testing

#2350 Add CaFFe Dataset
  docs/api/datamodules.rst
  docs/api/datasets.rst
  docs/api/datasets/non_geo_datasets.csv
  tests/data/caffe/caffe.zip
  tests/data/caffe/caffe/fronts/test/Crane_2002-11-09_ERS_20_2_061_front__93_102_0_0_0.png
  tests/data/caffe/caffe/fronts/test/Crane_2007-09-22_ENVISAT_20_1_467_front__93_102_8_1024_0.png
  tests/data/caffe/caffe/fronts/test/JAC_2015-12-23_TSX_6_1_005_front__57_49_195_384_1024.png
  tests/data/caffe/caffe/fronts/train/Crane_2002-11-09_ERS_20_2_061_front__93_102_0_0_0.png
  tests/data/caffe/caffe/fronts/train/Crane_2007-09-22_ENVISAT_20_1_467_front__93_102_8_1024_0.png
  tests/data/caffe/caffe/fronts/train/JAC_2015-12-23_TSX_6_1_005_front__57_49_195_384_1024.png
  tests/data/caffe/caffe/fronts/val/Crane_2002-11-09_ERS_20_2_061_front__93_102_0_0_0.png
  tests/data/caffe/caffe/fronts/val/Crane_2007-09-22_ENVISAT_20_1_467_front__93_102_8_1024_0.png
  tests/data/caffe/caffe/fronts/val/JAC_2015-12-23_TSX_6_1_005_front__57_49_195_384_1024.png
  tests/data/caffe/caffe/sar_images/test/Crane_2002-11-09_ERS_20_2_061__93_102_0_0_0.png
  tests/data/caffe/caffe/sar_images/test/Crane_2007-09-22_ENVISAT_20_1_467__93_102_8_1024_0.png
  tests/data/caffe/caffe/sar_images/test/JAC_2015-12-23_TSX_6_1_005__57_49_195_384_1024.png
  tests/data/caffe/caffe/sar_images/train/Crane_2002-11-09_ERS_20_2_061__93_102_0_0_0.png
  tests/data/caffe/caffe/sar_images/train/Crane_2007-09-22_ENVISAT_20_1_467__93_102_8_1024_0.png
  tests/data/caffe/caffe/sar_images/train/JAC_2015-12-23_TSX_6_1_005__57_49_195_384_1024.png
  tests/data/caffe/caffe/sar_images/val/Crane_2002-11-09_ERS_20_2_061__93_102_0_0_0.png
  tests/data/caffe/caffe/sar_images/val/Crane_2007-09-22_ENVISAT_20_1_467__93_102_8_1024_0.png
  tests/data/caffe/caffe/sar_images/val/JAC_2015-12-23_TSX_6_1_005__57_49_195_384_1024.png
  tests/data/caffe/caffe/zones/test/Crane_2002-11-09_ERS_20_2_061_zones__93_102_0_0_0.png
  tests/data/caffe/caffe/zones/test/Crane_2007-09-22_ENVISAT_20_1_467_zones__93_102_8_1024_0.png
  tests/data/caffe/caffe/zones/test/JAC_2015-12-23_TSX_6_1_005_zones__57_49_195_384_1024.png
  tests/data/caffe/caffe/zones/train/Crane_2002-11-09_ERS_20_2_061_zones__93_102_0_0_0.png
  tests/data/caffe/caffe/zones/train/Crane_2007-09-22_ENVISAT_20_1_467_zones__93_102_8_1024_0.png
  tests/data/caffe/caffe/zones/train/JAC_2015-12-23_TSX_6_1_005_zones__57_49_195_384_1024.png
  tests/data/caffe/caffe/zones/val/Crane_2002-11-09_ERS_20_2_061_zones__93_102_0_0_0.png
  tests/data/caffe/caffe/zones/val/Crane_2007-09-22_ENVISAT_20_1_467_zones__93_102_8_1024_0.png
  tests/data/caffe/caffe/zones/val/JAC_2015-12-23_TSX_6_1_005_zones__57_49_195_384_1024.png
  tests/data/caffe/data.py
  tests/datamodules/test_caffe.py
  tests/datasets/test_caffe.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/caffe.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/caffe.py
Labels: documentation, datasets, testing, datamodules

#2368 Add FTW DataModule
  docs/api/datamodules.rst
  tests/conf/ftw.yaml
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/ftw.py
Labels: documentation, testing, datamodules

#2370 Add CROMA pretrained model
  docs/api/models.rst
  docs/api/weights/agnostic.csv
  tests/models/test_croma.py
  torchgeo/models/__init__.py
  torchgeo/models/croma.py
Labels: documentation, models, testing
