Repository torchgeo/torchgeo, pull requests merged in 2024-12, with the labels that each got.

#2426 CI: more human-readable cache names
  .github/workflows/release.yaml
  .github/workflows/style.yaml
  .github/workflows/tests.yaml
  .github/workflows/tutorials.yaml
Labels: testing

#2432 EuroSAT: redistribute split files on Hugging Face
  tests/data/eurosat/EuroSAT100.zip
  tests/data/eurosat/eurosat-100-test.txt
  tests/data/eurosat/eurosat-100-train.txt
  tests/data/eurosat/eurosat-100-val.txt
  tests/data/eurosat/eurosat-spatial-test.txt
  tests/data/eurosat/eurosat-spatial-train.txt
  tests/data/eurosat/eurosat-spatial-val.txt
  tests/datasets/test_eurosat.py
  torchgeo/datasets/eurosat.py
Labels: datasets, testing

#2433 UC Merced: redistribute split files on Hugging Face
  tests/datasets/test_ucmerced.py
  torchgeo/datasets/ucmerced.py
Labels: datasets, testing

#2438 README: root -> paths for GeoDatasets
  README.md
Labels: documentation

#2445 Update ChesapeakeCVPR link
  torchgeo/datasets/chesapeake.py
Labels: datasets

#2440 Add Introduction to PyTorch tutorial
  docs/index.rst
  docs/tutorials/pytorch.ipynb
Labels: documentation

#2446 Add Introduction to Geospatial Data tutorial
  docs/index.rst
  docs/tutorials/geospatial.ipynb
Labels: documentation

#2437 Docs: update alternatives
  docs/user/alternatives.rst
  docs/user/metrics/downloads.csv
  docs/user/metrics/features.csv
  docs/user/metrics/github.csv
Labels: documentation

#2454 Update tutorial for transforms and pretrained weights
  docs/tutorials/pretrained_weights.ipynb
  docs/tutorials/transforms.ipynb
Labels: documentation

#2451 Add contribution tutorial for Non-Geo Datasets
  docs/index.rst
  docs/tutorials/contribute_non_geo_dataset.ipynb
Labels: documentation

#2457 Add Introduction to TorchGeo tutorial
  docs/index.rst
  docs/tutorials/torchgeo.ipynb
Labels: documentation

#2452 Add Contribution Guide for Datamodule
  docs/index.rst
  docs/tutorials/contribute_datamodule.ipynb
Labels: documentation

#960 Added EarthSurfaceWater tutorial
  docs/index.rst
  docs/tutorials/earth_surface_water.ipynb
Labels: documentation

#2439 Docs: reorganize tutorial hierarchy
  docs/index.rst
  docs/tutorials/basic_usage.rst
  docs/tutorials/case_studies.rst
  docs/tutorials/contribute_non_geo_dataset.ipynb
  docs/tutorials/customization.rst
  docs/tutorials/getting_started.ipynb
  docs/tutorials/getting_started.rst
  docs/user/contributing.rst
Labels: documentation

#2469 Tutorials: fix dataset contribution tutorial
  docs/tutorials/contribute_non_geo_dataset.ipynb
Labels: documentation

#2480 Fixed the bandorder of EuroSAT
  docs/tutorials/transforms.ipynb
  torchgeo/datamodules/eurosat.py
  torchgeo/datasets/eurosat.py
Labels: documentation, datasets, datamodules

#2478 Add consistent author and copyright info to all tutorials
  docs/tutorials/basic_usage.rst
  docs/tutorials/contribute_datamodule.ipynb
  docs/tutorials/custom_raster_dataset.ipynb
  docs/tutorials/earth_surface_water.ipynb
  docs/tutorials/indices.ipynb
  docs/tutorials/trainers.ipynb
Labels: documentation

#2467 Docs: remove mathcal
  docs/tutorials/geospatial.ipynb
  docs/tutorials/pytorch.ipynb
Labels: documentation

#2479 Add TorchGeo CLI tutorial
  docs/tutorials/basic_usage.rst
  docs/tutorials/cli.ipynb
Labels: documentation

#2482 README: correct syntax highlighting for console code
  README.md
Labels: documentation
