Repository torchgeo/torchgeo, pull requests merged in 2024-09, with the labels that each got.

#2256 DOFA: fix bug in patch embedding
  docs/api/weights/agnostic.csv
  torchgeo/models/dofa.py
Labels: documentation, models

#2265 0.6.0 release
  .github/release.yml
  docs/conf.py
  docs/user/contributing.rst
  pyproject.toml
  tests/conftest.py
  torchgeo/__init__.py
  torchgeo/datamodules/digital_typhoon.py
  torchgeo/datamodules/geonrw.py
  torchgeo/datasets/eurocrops.py
  torchgeo/datasets/levircd.py
  torchgeo/trainers/byol.py
  torchgeo/trainers/segmentation.py
Labels: documentation, datasets, testing, trainers, datamodules, dependencies

#2270 GeoDataset: allow a mix of str and pathlib paths
  tests/datasets/test_geo.py
  torchgeo/datasets/geo.py
Labels: datasets, testing

#2281 Docs: move dataset CSV files to subdir
  docs/api/datasets.rst
  docs/api/datasets/geo_datasets.csv
  docs/api/datasets/non_geo_datasets.csv
Labels: documentation

#2282 Update stats for OSCD datamodule
  torchgeo/datamodules/oscd.py
Labels: datamodules

#2287 Ruff: remove NPY tests
  pyproject.toml
Labels: dependencies

#2273 Datasets: support os.PathLike
  tests/datasets/test_geo.py
  torchgeo/datasets/agb_live_woody_density.py
  torchgeo/datasets/agrifieldnet.py
  torchgeo/datasets/cbf.py
  torchgeo/datasets/cdl.py
  torchgeo/datasets/chesapeake.py
  torchgeo/datasets/cms_mangrove_canopy.py
  torchgeo/datasets/esri2020.py
  torchgeo/datasets/eudem.py
  torchgeo/datasets/eurocrops.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/globbiomass.py
  torchgeo/datasets/l7irish.py
  torchgeo/datasets/l8biome.py
  torchgeo/datasets/landcoverai.py
  torchgeo/datasets/nlcd.py
  torchgeo/datasets/openbuildings.py
  torchgeo/datasets/south_africa_crop_type.py
  torchgeo/datasets/south_america_soybean.py
  torchgeo/datasets/utils.py
Labels: datasets, testing

#2277 Dependabot: only update npm lockfile
  .github/dependabot.yml
  requirements/package.json
Labels: dependencies

#2262 Adds the LandCoverAI100 dataset and datamodule for use in semantic segmentation notebooks
  docs/api/datamodules.rst
  docs/api/datasets.rst
  tests/conf/landcoverai100.yaml
  tests/datasets/test_landcoverai.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/landcoverai.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/landcoverai.py
Labels: documentation, datasets, testing, datamodules

#2291 DataModules: use persistent workers for parallel data loading
  torchgeo/datamodules/geo.py
Labels: datamodules

#2306 GH actions tutorials - Install TorchGeo from checked out repo
  .github/workflows/tutorials.yaml
Labels: testing

#2302 pytest: silence numpy 2 warnings
  pyproject.toml
Labels: dependencies

#2304 Contributing: update dataset CSV file location
  docs/user/contributing.rst
Labels: documentation

#2293 docs: update recommended strategy for models with input and output img and msk)
  docs/tutorials/custom_raster_dataset.ipynb
  torchgeo/datasets/geo.py
Labels: documentation, datasets

#2309 Sampling random generator
  tests/samplers/test_batch.py
  tests/samplers/test_single.py
  torchgeo/datamodules/agrifieldnet.py
  torchgeo/samplers/batch.py
  torchgeo/samplers/single.py
  torchgeo/samplers/utils.py
Labels: testing, samplers, datamodules

#2315 Adding tensorboard to CI
  .github/workflows/release.yaml
  .github/workflows/tutorials.yaml
Labels: testing

#2316 Bugfix: wrong test assertion
  docs/tutorials/custom_raster_dataset.ipynb
  tests/samplers/test_batch.py
  tests/samplers/test_single.py
Labels: documentation, testing

#2323 Removing eval in model weight API
  tests/models/test_api.py
  torchgeo/models/api.py
Labels: models, testing

#2317 BaseTask: fix load_from_checkpoint, ignore 'ignore'
  torchgeo/trainers/base.py
  torchgeo/trainers/byol.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/detection.py
  torchgeo/trainers/moco.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/segmentation.py
  torchgeo/trainers/simclr.py
Labels: trainers, backwards-incompatible

#2326 Tests: set matplotlib backend locally too
  .github/workflows/tests.yaml
  tests/conftest.py
Labels: testing

#2325 NAIP: update resolution
  docs/api/datasets/geo_datasets.csv
Labels: documentation

#2296 Add Fields Of The World field boundary delineation dataset
  docs/api/datasets.rst
  docs/api/datasets/non_geo_datasets.csv
  pyproject.toml
  requirements/datasets.txt
  requirements/min-reqs.old
  tests/data/ftw/austria.zip
  tests/data/ftw/data.py
  tests/datasets/test_ftw.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/ftw.py
Labels: documentation, datasets, testing, dependencies

#2327 TorchGeo is not yet compatible with rasterio 1.4
  pyproject.toml
Labels: dependencies
