Repository torchgeo/torchgeo, pull requests merged in 2024-06, with the labels that each got.

#2142 Fix CLI test demo script
  README.md
Labels: documentation

#2144 Bump kornia min version
  pyproject.toml
  requirements/min-reqs.old
Labels: dependencies

#2008 transforms: Switch to kornia AugmentationSequential
  tests/transforms/test_color.py
  tests/transforms/test_indices.py
Labels: testing
