Repository torchgeo/torchgeo, pull requests merged in 2024-05, with the labels that each got.

#2018 Prettier formatter
  .devcontainer/devcontainer.json
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/SECURITY.md
  .github/SUPPORT.md
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yaml
  .github/workflows/style.yaml
  .github/workflows/tests.yaml
  .github/workflows/tutorials.yaml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .readthedocs.yaml
  CITATION.cff
  README.md
  docs/_static/button-width.css
  docs/_static/notebook-prompt.css
  docs/user/contributing.rst
  experiments/README.md
  experiments/ssl4eo/landsat/README.md
  experiments/ssl4eo/landsat/conf/ssl4eo_benchmark_etm_sr_cdl.yaml
  experiments/ssl4eo/landsat/conf/ssl4eo_benchmark_etm_sr_nlcd.yaml
  experiments/ssl4eo/landsat/conf/ssl4eo_benchmark_etm_toa_cdl.yaml
  experiments/ssl4eo/landsat/conf/ssl4eo_benchmark_etm_toa_nlcd.yaml
  experiments/ssl4eo/landsat/conf/ssl4eo_benchmark_oli_sr_cdl.yaml
  experiments/ssl4eo/landsat/conf/ssl4eo_benchmark_oli_sr_nlcd.yaml
  experiments/ssl4eo/landsat/conf/ssl4eo_benchmark_oli_tirs_toa_cdl.yaml
  experiments/ssl4eo/landsat/conf/ssl4eo_benchmark_oli_tirs_toa_nlcd.yaml
  experiments/ssl4eo/landsat/conf/ssl4eo_benchmark_tm_toa_cdl.yaml
  experiments/ssl4eo/landsat/conf/ssl4eo_benchmark_tm_toa_nlcd.yaml
  requirements/package-lock.json
  requirements/package.json
  tests/conf/chesapeake_cvpr_5.yaml
  tests/conf/chesapeake_cvpr_7.yaml
  tests/conf/chesapeake_cvpr_prior_byol.yaml
  tests/conf/chesapeake_cvpr_prior_moco.yaml
  tests/conf/chesapeake_cvpr_prior_simclr.yaml
  tests/conf/seco_byol_1.yaml
  tests/conf/seco_byol_2.yaml
  tests/conf/seco_moco_1.yaml
  tests/conf/seco_moco_2.yaml
  tests/conf/seco_simclr_1.yaml
  tests/conf/seco_simclr_2.yaml
  tests/conf/sentinel2_south_america_soybean.yaml
  tests/conf/southafricacroptype.yaml
  tests/conf/ssl4eo_l_moco_1.yaml
  tests/data/README.md
Labels: documentation, testing, dependencies, scripts

#2051 Avoid use of __all__
  torchgeo/datasets/splits.py
  torchgeo/datasets/utils.py
  torchgeo/models/dofa.py
  torchgeo/models/resnet.py
  torchgeo/models/swin.py
  torchgeo/models/vit.py
Labels: datasets, models

#2052 torch.hub: add support for DOFA and Swin models
  hubconf.py
  tests/models/test_api.py
  torchgeo/models/api.py
  torchgeo/models/dofa.py
Labels: models, testing

#2034 L7 Irish: convert to IntersectionDataset
  tests/datasets/test_l7irish.py
  torchgeo/datasets/l7irish.py
Labels: datasets, testing

#2033 GeoDataset: don't warn about missing files for downloadable datasets
  torchgeo/datasets/geo.py
Labels: datasets

#2058 L8 Biome: convert to IntersectionDataset
  tests/datasets/test_l8biome.py
  torchgeo/datasets/l8biome.py
Labels: datasets, testing

#2015 RasterDataset: add control over resampling algorithm
  docs/tutorials/custom_raster_dataset.ipynb
  tests/datasets/test_geo.py
  torchgeo/datasets/geo.py
Labels: documentation, datasets, testing

#2054 Datasets: improve lazy import error msg for missing deps
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  docs/api/datasets.rst
  tests/datamodules/test_usavars.py
  tests/datasets/test_advance.py
  tests/datasets/test_chabud.py
  tests/datasets/test_chesapeake.py
  tests/datasets/test_cropharvest.py
  tests/datasets/test_errors.py
  tests/datasets/test_idtrees.py
  tests/datasets/test_landcoverai.py
  tests/datasets/test_quakeset.py
  tests/datasets/test_resisc45.py
  tests/datasets/test_skippd.py
  tests/datasets/test_so2sat.py
  tests/datasets/test_utils.py
  tests/datasets/test_vhr10.py
  tests/datasets/test_zuericrop.py
  tests/trainers/test_classification.py
  tests/trainers/test_regression.py
  tests/trainers/test_segmentation.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/advance.py
  torchgeo/datasets/chabud.py
  torchgeo/datasets/cropharvest.py
  torchgeo/datasets/errors.py
  torchgeo/datasets/idtrees.py
  torchgeo/datasets/quakeset.py
  torchgeo/datasets/skippd.py
  torchgeo/datasets/so2sat.py
  torchgeo/datasets/utils.py
  torchgeo/datasets/vhr10.py
  torchgeo/datasets/zuericrop.py
Labels: documentation, datasets, testing

#2062 Fix South America Soybean Filename Glob and Regex
  tests/data/south_america_soybean/SouthAmericaSoybean.zip
  tests/data/south_america_soybean/SouthAmerica_Soybean_2002.tif
  tests/data/south_america_soybean/SouthAmerica_Soybean_2021.tif
  tests/data/south_america_soybean/data.py
  tests/datasets/test_south_america_soybean.py
  torchgeo/datasets/south_america_soybean.py
Labels: datasets, testing

#2064 Datasets: add CLI support
  tests/datasets/azcopy
  tests/datasets/conftest.py
  tests/datasets/test_errors.py
  tests/datasets/test_utils.py
  torchgeo/datasets/errors.py
  torchgeo/datasets/utils.py
Labels: datasets, testing

#2089 Datasets: test length
  tests/datasets/test_agb_live_woody_density.py
  tests/datasets/test_astergdem.py
  tests/datasets/test_cbf.py
  tests/datasets/test_cdl.py
  tests/datasets/test_chesapeake.py
  tests/datasets/test_cloud_cover.py
  tests/datasets/test_cms_mangrove_canopy.py
  tests/datasets/test_enviroatlas.py
  tests/datasets/test_esri2020.py
  tests/datasets/test_eudem.py
  tests/datasets/test_eurocrops.py
  tests/datasets/test_iobench.py
  tests/datasets/test_l7irish.py
  tests/datasets/test_l8biome.py
  tests/datasets/test_landsat.py
  tests/datasets/test_naip.py
  tests/datasets/test_nccm.py
  tests/datasets/test_nlcd.py
  tests/datasets/test_openbuildings.py
  tests/datasets/test_sentinel.py
  tests/datasets/test_south_america_soybean.py
Labels: testing

#2086 GlobBiomass: several bug fixes
  tests/datasets/test_globbiomass.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/globbiomass.py
Labels: datasets, testing

#2091 Update CLI script for test
  README.md
Labels: documentation

#2092 Update VHR-10 dataset plotting
  torchgeo/datasets/vhr10.py
Labels: datasets

#2074 EuroSAT Subclass with Longitude-Based Splits
  docs/api/datamodules.rst
  docs/api/datasets.rst
  tests/conf/eurosatspatial.yaml
  tests/datasets/test_eurosat.py
  tests/trainers/test_classification.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/eurosat.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/eurosat.py
Labels: documentation, datasets, testing, datamodules

#2101 Update num_classes parameter description in ObjectDetectionTask class
  torchgeo/trainers/detection.py
  torchgeo/trainers/segmentation.py
Labels: trainers

#2100 host PatternNet on HF
  docs/api/non_geo_datasets.csv
  torchgeo/datasets/patternnet.py
Labels: documentation, datasets
