Repository torchgeo/torchgeo, pull requests merged in 2024-08, with the labels that each got.

#2193 RasterDataset: calculate res after changing crs
  tests/datasets/test_geo.py
  torchgeo/datasets/geo.py
Labels: datasets, testing

#2206 WesternUSALiveFuelMoisture: radiant mlhub -> source coop
  tests/data/western_usa_live_fuel_moisture/data.py
  tests/data/western_usa_live_fuel_moisture/su_sar_moisture_content.tar.gz
  tests/data/western_usa_live_fuel_moisture/su_sar_moisture_content/feature_0001.geojson
  tests/data/western_usa_live_fuel_moisture/su_sar_moisture_content/feature_0002.geojson
  tests/data/western_usa_live_fuel_moisture/su_sar_moisture_content/feature_0003.geojson
  tests/data/western_usa_live_fuel_moisture/su_sar_moisture_content/su_sar_moisture_content_0/stac.json
  tests/data/western_usa_live_fuel_moisture/su_sar_moisture_content/su_sar_moisture_content_1/stac.json
  tests/data/western_usa_live_fuel_moisture/su_sar_moisture_content/su_sar_moisture_content_2/stac.json
  tests/datasets/test_western_usa_live_fuel_moisture.py
  torchgeo/datasets/western_usa_live_fuel_moisture.py
Labels: datasets, testing

#2199 Rename bbox -> bounds
  tests/datamodules/test_geo.py
  torchgeo/datamodules/geo.py
  torchgeo/datasets/agrifieldnet.py
  torchgeo/datasets/chesapeake.py
  torchgeo/datasets/eddmaps.py
  torchgeo/datasets/enviroatlas.py
  torchgeo/datasets/gbif.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/globbiomass.py
  torchgeo/datasets/inaturalist.py
  torchgeo/datasets/landcoverai.py
  torchgeo/datasets/openbuildings.py
  torchgeo/datasets/south_africa_crop_type.py
Labels: datasets, testing, datamodules, backwards-incompatible

#2211 Add support for lightning 2.4+
  .github/dependabot.yml
  pyproject.toml
  requirements/required.txt
Labels: dependencies

#2215 Data modules: don't download during tests
  tests/conf/bigearthnet_all.yaml
  tests/conf/bigearthnet_s1.yaml
  tests/conf/bigearthnet_s2.yaml
  tests/conf/chabud.yaml
  tests/conf/chesapeake_cvpr_5.yaml
  tests/conf/chesapeake_cvpr_7.yaml
  tests/conf/chesapeake_cvpr_prior_byol.yaml
  tests/conf/chesapeake_cvpr_prior_moco.yaml
  tests/conf/chesapeake_cvpr_prior_simclr.yaml
  tests/conf/cowc_counting.yaml
  tests/conf/cyclone.yaml
  tests/conf/etci2021.yaml
  tests/conf/eurosat.yaml
  tests/conf/eurosat100.yaml
  tests/conf/eurosatspatial.yaml
  tests/conf/fire_risk.yaml
  tests/conf/gid15.yaml
  tests/conf/io_preprocessed.yaml
  tests/conf/io_raw.yaml
  tests/conf/l7irish.yaml
  tests/conf/l8biome.yaml
  tests/conf/landcoverai.yaml
  tests/conf/loveda.yaml
  tests/conf/naipchesapeake.yaml
  tests/conf/nasa_marine_debris.yaml
  tests/conf/quakeset.yaml
  tests/conf/resisc45.yaml
  tests/conf/skippd.yaml
  tests/conf/spacenet1.yaml
  tests/conf/sustainbench_crop_yield.yaml
  tests/conf/ucmerced.yaml
  tests/conf/vhr10.yaml
Labels: testing

#2217 Ruff: ensure all functions have type hints
  docs/tutorials/custom_raster_dataset.ipynb
  pyproject.toml
  tests/data/cbf/data.py
  tests/data/cropharvest/data.py
  tests/data/eurocrops/data.py
  tests/data/nccm/data.py
  tests/data/nlcd/data.py
  tests/data/openbuildings/data.py
  tests/data/south_america_soybean/data.py
  tests/data/ssl4eo_benchmark_landsat/data.py
  torchgeo/models/changestar.py
  torchgeo/models/fcsiam.py
Labels: documentation, models, testing, dependencies

#2224 Testing: suppress warnings
  pyproject.toml
Labels: dependencies

#2223 Testing: shared load_state_dict_from_url monkeypatch
  tests/conftest.py
  tests/models/test_dofa.py
  tests/models/test_resnet.py
  tests/models/test_swin.py
  tests/models/test_vit.py
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_moco.py
  tests/trainers/test_regression.py
  tests/trainers/test_segmentation.py
  tests/trainers/test_simclr.py
Labels: testing

#2225 Fix failing Windows tests
  .github/workflows/release.yaml
  .github/workflows/style.yaml
  .github/workflows/tests.yaml
  .github/workflows/tutorials.yaml
  tests/datasets/azcopy
  tests/datasets/azcopy.bat
  tests/datasets/azcopy.py
  torchgeo/datasets/utils.py
Labels: datasets, testing

#2214 Chesapeake: update to 2022 edition
  docs/api/datasets.rst
  docs/api/geo_datasets.csv
  pyproject.toml
  requirements/datasets.txt
  requirements/min-reqs.old
  tests/conf/naipchesapeake.yaml
  tests/data/chesapeake/BAYWIDE/Baywide_13Class_20132014.tif
  tests/data/chesapeake/BAYWIDE/Baywide_13Class_20132014.zip
  tests/data/chesapeake/lulc/data.py
  tests/data/chesapeake/lulc/dc_lulc_2018_2022-Edition.tif
  tests/data/chesapeake/lulc/dc_lulc_2018_2022-Edition.zip
  tests/data/chesapeake/lulc/de_lulc_2018_2022-Edition.tif
  tests/data/chesapeake/lulc/de_lulc_2018_2022-Edition.zip
  tests/data/chesapeake/lulc/md_lulc_2018_2022-Edition.tif
  tests/data/chesapeake/lulc/md_lulc_2018_2022-Edition.zip
  tests/data/chesapeake/lulc/ny_lulc_2018_2022-Edition.tif
  tests/data/chesapeake/lulc/ny_lulc_2018_2022-Edition.zip
  tests/data/chesapeake/lulc/pa_lulc_2018_2022-Edition.tif
  tests/data/chesapeake/lulc/pa_lulc_2018_2022-Edition.zip
  tests/data/chesapeake/lulc/va_lulc_2018_2022-Edition.tif
  tests/data/chesapeake/lulc/va_lulc_2018_2022-Edition.zip
  tests/data/chesapeake/lulc/wv_lulc_2018_2022-Edition.tif
  tests/data/chesapeake/lulc/wv_lulc_2018_2022-Edition.zip
  tests/datasets/test_chesapeake.py
  tests/datasets/test_utils.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/naip.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/chesapeake.py
  torchgeo/datasets/utils.py
Labels: documentation, datasets, testing, datamodules, dependencies, backwards-incompatible

#2231 LEVIRCD: data module tests without download
  tests/data/levircd/levircd/A/test_0.png
  tests/data/levircd/levircd/A/test_1.png
  tests/data/levircd/levircd/A/train_0.png
  tests/data/levircd/levircd/A/train_1.png
  tests/data/levircd/levircd/A/val_0.png
  tests/data/levircd/levircd/A/val_1.png
  tests/data/levircd/levircd/B/test_0.png
  tests/data/levircd/levircd/B/test_1.png
  tests/data/levircd/levircd/B/train_0.png
  tests/data/levircd/levircd/B/train_1.png
  tests/data/levircd/levircd/B/val_0.png
  tests/data/levircd/levircd/B/val_1.png
  tests/data/levircd/levircd/data.py
  tests/data/levircd/levircd/label/test_0.png
  tests/data/levircd/levircd/label/test_1.png
  tests/data/levircd/levircd/label/train_0.png
  tests/data/levircd/levircd/label/train_1.png
  tests/data/levircd/levircd/label/val_0.png
  tests/data/levircd/levircd/label/val_1.png
  tests/data/levircd/levircd/test.zip
  tests/data/levircd/levircd/train.zip
  tests/data/levircd/levircd/val.zip
  tests/data/levircd/levircdplus/LEVIR-CD+.zip
  tests/data/levircd/levircdplus/LEVIR-CD+/test/A/00.png
  tests/data/levircd/levircdplus/LEVIR-CD+/test/A/01.png
  tests/data/levircd/levircdplus/LEVIR-CD+/test/B/00.png
  tests/data/levircd/levircdplus/LEVIR-CD+/test/B/01.png
  tests/data/levircd/levircdplus/LEVIR-CD+/test/label/00.png
  tests/data/levircd/levircdplus/LEVIR-CD+/test/label/01.png
  tests/data/levircd/levircdplus/LEVIR-CD+/train/A/00.png
  tests/data/levircd/levircdplus/LEVIR-CD+/train/A/01.png
  tests/data/levircd/levircdplus/LEVIR-CD+/train/B/00.png
  tests/data/levircd/levircdplus/LEVIR-CD+/train/B/01.png
  tests/data/levircd/levircdplus/LEVIR-CD+/train/label/00.png
  tests/data/levircd/levircdplus/LEVIR-CD+/train/label/01.png
  tests/data/levircd/levircdplus/data.py
  tests/datamodules/test_levircd.py
Labels: testing

#2232 Testing: shared download_url fixture
  tests/datasets/conftest.py
  tests/datasets/test_advance.py
  tests/datasets/test_agb_live_woody_density.py
  tests/datasets/test_bigearthnet.py
  tests/datasets/test_cbf.py
  tests/datasets/test_cdl.py
  tests/datasets/test_chabud.py
  tests/datasets/test_chesapeake.py
  tests/datasets/test_cms_mangrove_canopy.py
  tests/datasets/test_cowc.py
  tests/datasets/test_cropharvest.py
  tests/datasets/test_enviroatlas.py
  tests/datasets/test_esri2020.py
  tests/datasets/test_etci2021.py
  tests/datasets/test_eurocrops.py
  tests/datasets/test_eurosat.py
  tests/datasets/test_fair1m.py
  tests/datasets/test_fire_risk.py
  tests/datasets/test_forestdamage.py
  tests/datasets/test_gid15.py
  tests/datasets/test_idtrees.py
  tests/datasets/test_iobench.py
  tests/datasets/test_l7irish.py
  tests/datasets/test_l8biome.py
  tests/datasets/test_landcoverai.py
  tests/datasets/test_landsat.py
  tests/datasets/test_levircd.py
  tests/datasets/test_loveda.py
  tests/datasets/test_mapinwild.py
  tests/datasets/test_nccm.py
  tests/datasets/test_nlcd.py
  tests/datasets/test_oscd.py
  tests/datasets/test_pastis.py
  tests/datasets/test_patternnet.py
  tests/datasets/test_quakeset.py
  tests/datasets/test_reforestree.py
  tests/datasets/test_resisc45.py
  tests/datasets/test_seasonet.py
  tests/datasets/test_seco.py
  tests/datasets/test_skippd.py
  tests/datasets/test_south_america_soybean.py
  tests/datasets/test_ssl4eo.py
  tests/datasets/test_ssl4eo_benchmark.py
  tests/datasets/test_sustainbench_crop_yield.py
  tests/datasets/test_ucmerced.py
  tests/datasets/test_usavars.py
  tests/datasets/test_utils.py
  tests/datasets/test_vhr10.py
  tests/datasets/test_xview.py
  tests/datasets/test_zuericrop.py
Labels: testing

#2210 Redistribute NWPU datasets on Hugging Face
  .github/workflows/tests.yaml
  docs/api/non_geo_datasets.csv
  pyproject.toml
  requirements/datasets.txt
  requirements/min-reqs.old
  tests/data/resisc45/NWPU-RESISC45.rar
  tests/data/resisc45/NWPU-RESISC45.zip
  tests/data/vhr10/NWPU VHR-10 dataset.rar
  tests/data/vhr10/NWPU VHR-10 dataset.zip
  tests/data/vhr10/NWPU VHR-10 dataset/negative image set/001.jpg
  tests/data/vhr10/NWPU VHR-10 dataset/negative image set/002.jpg
  tests/data/vhr10/NWPU VHR-10 dataset/negative image set/003.jpg
  tests/data/vhr10/NWPU VHR-10 dataset/negative image set/004.jpg
  tests/data/vhr10/NWPU VHR-10 dataset/negative image set/005.jpg
  tests/data/vhr10/NWPU VHR-10 dataset/positive image set/001.jpg
  tests/data/vhr10/NWPU VHR-10 dataset/positive image set/002.jpg
  tests/data/vhr10/NWPU VHR-10 dataset/positive image set/003.jpg
  tests/data/vhr10/NWPU VHR-10 dataset/positive image set/004.jpg
  tests/data/vhr10/NWPU VHR-10 dataset/positive image set/005.jpg
  tests/data/vhr10/data.py
  tests/datasets/test_resisc45.py
  tests/datasets/test_utils.py
  tests/datasets/test_vhr10.py
  torchgeo/datasets/resisc45.py
  torchgeo/datasets/utils.py
  torchgeo/datasets/vhr10.py
Labels: documentation, datasets, testing, dependencies

#2222 GeoDataset: ignore other bands for separate files
  tests/datasets/test_geo.py
  torchgeo/datasets/geo.py
Labels: datasets, testing

#2191 Add DeCUR RN50 weights
  docs/api/sentinel1_pretrained_weights.csv
  docs/api/sentinel2_pretrained_weights.csv
  torchgeo/models/resnet.py
Labels: documentation, models

#2057 Scale-MAE model
  docs/api/misc_pretrained_weights.csv
  docs/api/models.rst
  hubconf.py
  tests/models/test_api.py
  tests/models/test_scale_mae.py
  torchgeo/models/__init__.py
  torchgeo/models/api.py
  torchgeo/models/scale_mae.py
Labels: documentation, models, testing

#2247 Rename tests_xview2 to tests_xview
  tests/datamodules/test_xview.py
Labels: testing

#2244 Remove workarounds and comments for outdated bugs
  .github/workflows/tests.yaml
  requirements/min-cons.old
  tests/conf/seco_byol_1.yaml
  tests/conf/seco_byol_2.yaml
  tests/conf/seco_moco_1.yaml
  tests/conf/seco_moco_2.yaml
  tests/conf/seco_simclr_1.yaml
  tests/conf/seco_simclr_2.yaml
  torchgeo/datasets/utils.py
Labels: datasets, testing, dependencies

#2241 mypy: even more strict
  pyproject.toml
  torchgeo/datasets/utils.py
  torchgeo/transforms/transforms.py
Labels: datasets, transforms, dependencies

#2233 RasterDataset: support date_str containing % character
  tests/datasets/test_utils.py
  torchgeo/datasets/utils.py
Labels: datasets, testing

#2257 Dependabot: don't update timm
  .github/dependabot.yml
Labels: dependencies

#2209 Add GeoNRW dataset
  docs/api/datamodules.rst
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/conf/geonrw.yaml
  tests/data/geonrw/aachen/0_0_dem.tif
  tests/data/geonrw/aachen/0_0_rgb.jp2
  tests/data/geonrw/aachen/0_0_seg.tif
  tests/data/geonrw/aachen/1_1_dem.tif
  tests/data/geonrw/aachen/1_1_rgb.jp2
  tests/data/geonrw/aachen/1_1_seg.tif
  tests/data/geonrw/bergisch/0_0_dem.tif
  tests/data/geonrw/bergisch/0_0_rgb.jp2
  tests/data/geonrw/bergisch/0_0_seg.tif
  tests/data/geonrw/bergisch/1_1_dem.tif
  tests/data/geonrw/bergisch/1_1_rgb.jp2
  tests/data/geonrw/bergisch/1_1_seg.tif
  tests/data/geonrw/bielefeld/0_0_dem.tif
  tests/data/geonrw/bielefeld/0_0_rgb.jp2
  tests/data/geonrw/bielefeld/0_0_seg.tif
  tests/data/geonrw/bielefeld/1_1_dem.tif
  tests/data/geonrw/bielefeld/1_1_rgb.jp2
  tests/data/geonrw/bielefeld/1_1_seg.tif
  tests/data/geonrw/data.py
  tests/data/geonrw/duesseldorf/0_0_dem.tif
  tests/data/geonrw/duesseldorf/0_0_rgb.jp2
  tests/data/geonrw/duesseldorf/0_0_seg.tif
  tests/data/geonrw/duesseldorf/1_1_dem.tif
  tests/data/geonrw/duesseldorf/1_1_rgb.jp2
  tests/data/geonrw/duesseldorf/1_1_seg.tif
  tests/data/geonrw/nrw_dataset.tar.gz
  tests/datasets/test_geonrw.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/geonrw.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/geonrw.py
Labels: documentation, datasets, testing, datamodules

#2038 SatlasPretrain: ResNet50/152 and Swin_V2_T Weights
  docs/api/landsat_pretrained_weights.csv
  docs/api/models.rst
  docs/api/naip_pretrained_weights.csv
  docs/api/sentinel1_pretrained_weights.csv
  docs/api/sentinel2_pretrained_weights.csv
  hubconf.py
  tests/models/test_api.py
  tests/models/test_resnet.py
  tests/models/test_swin.py
  torchgeo/models/__init__.py
  torchgeo/models/api.py
  torchgeo/models/resnet.py
  torchgeo/models/swin.py
  torchgeo/transforms/transforms.py
Labels: documentation, models, testing, transforms

#2236 Docs: emphasize multi-modal foundation models
  docs/api/agnostic_pretrained_weights.csv
  docs/api/misc_pretrained_weights.csv
  docs/api/models.rst
  docs/api/weights/agnostic.csv
  docs/api/weights/landsat.csv
  docs/api/weights/naip.csv
  docs/api/weights/sentinel1.csv
  docs/api/weights/sentinel2.csv
Labels: documentation

#2253 SkyScript: add new dataset
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/data/skyscript/SkyScript_test_30K_filtered_by_CLIP_openai.csv
  tests/data/skyscript/SkyScript_train_top30pct_filtered_by_CLIP_openai.csv
  tests/data/skyscript/SkyScript_val_5K_filtered_by_CLIP_openai.csv
  tests/data/skyscript/data.py
  tests/data/skyscript/images2.zip
  tests/data/skyscript/images2/w779523169_CH_18.jpg
  tests/data/skyscript/images3.zip
  tests/data/skyscript/images3/w602363451_US_21.jpg
  tests/data/skyscript/images4.zip
  tests/data/skyscript/images4/w779523169_CH_18.jpg
  tests/data/skyscript/images5.zip
  tests/data/skyscript/images5/w602363451_US_21.jpg
  tests/data/skyscript/images6.zip
  tests/data/skyscript/images6/w779523169_CH_18.jpg
  tests/data/skyscript/images7.zip
  tests/data/skyscript/images7/w602363451_US_21.jpg
  tests/datasets/test_skyscript.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/skyscript.py
Labels: documentation, datasets, testing

#2254 Rwanda Field Boundary: don't plot empty masks
  torchgeo/datasets/rwanda_field_boundary.py
Labels: datasets

#2235 Add CaBuAr dataset
  docs/api/datamodules.rst
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/conf/cabuar.yaml
  tests/data/cabuar/512x512.hdf5
  tests/data/cabuar/chabud_test.h5
  tests/data/cabuar/data.py
  tests/datasets/test_cabuar.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/cabuar.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/cabuar.py
Labels: documentation, datasets, testing, datamodules

#2260 Coverage: update to modern config flag
  pyproject.toml
Labels: dependencies

#1748 Add Digital typhoon dataset
  docs/api/datamodules.rst
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/conf/digital_typhoon_id.yaml
  tests/conf/digital_typhoon_time.yaml
  tests/data/digital_typhoon/WP.tar.gz
  tests/data/digital_typhoon/WP.tar.gzaa
  tests/data/digital_typhoon/WP.tar.gzab
  tests/data/digital_typhoon/WP/aux_data.csv
  tests/data/digital_typhoon/WP/image/0/0.h5
  tests/data/digital_typhoon/WP/image/0/1.h5
  tests/data/digital_typhoon/WP/image/0/2.h5
  tests/data/digital_typhoon/WP/image/0/3.h5
  tests/data/digital_typhoon/WP/image/0/4.h5
  tests/data/digital_typhoon/WP/image/1/0.h5
  tests/data/digital_typhoon/WP/image/1/1.h5
  tests/data/digital_typhoon/WP/image/1/2.h5
  tests/data/digital_typhoon/WP/image/1/3.h5
  tests/data/digital_typhoon/WP/image/1/4.h5
  tests/data/digital_typhoon/WP/image/2/0.h5
  tests/data/digital_typhoon/WP/image/2/1.h5
  tests/data/digital_typhoon/WP/image/2/2.h5
  tests/data/digital_typhoon/WP/image/2/3.h5
  tests/data/digital_typhoon/WP/image/2/4.h5
  tests/data/digital_typhoon/WP/image/3/0.h5
  tests/data/digital_typhoon/WP/image/3/1.h5
  tests/data/digital_typhoon/WP/image/3/2.h5
  tests/data/digital_typhoon/WP/image/3/3.h5
  tests/data/digital_typhoon/WP/image/3/4.h5
  tests/data/digital_typhoon/WP/image/4/0.h5
  tests/data/digital_typhoon/WP/image/4/1.h5
  tests/data/digital_typhoon/WP/image/4/2.h5
  tests/data/digital_typhoon/WP/image/4/3.h5
  tests/data/digital_typhoon/WP/image/4/4.h5
  tests/data/digital_typhoon/WP/metadata/0.csv
  tests/data/digital_typhoon/WP/metadata/1.csv
  tests/data/digital_typhoon/WP/metadata/2.csv
  tests/data/digital_typhoon/WP/metadata/3.csv
  tests/data/digital_typhoon/WP/metadata/4.csv
  tests/data/digital_typhoon/data.py
  tests/datamodules/test_digital_typhoon.py
  tests/datasets/test_digital_typhoon.py
  tests/trainers/test_regression.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/digital_typhoon.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/digital_typhoon.py
Labels: documentation, datasets, testing, datamodules

#2259 Alternatives: update metrics
  docs/user/alternatives.rst
  docs/user/downloads.csv
  docs/user/github.csv
  docs/user/metrics/downloads.csv
  docs/user/metrics/features.csv
  docs/user/metrics/github.csv
Labels: documentation

#2267 Docs: fix broken links and redirects
  docs/tutorials/pretrained_weights.ipynb
  docs/user/contributing.rst
  docs/user/installation.rst
  pyproject.toml
  torchgeo/__init__.py
  torchgeo/datasets/advance.py
  torchgeo/datasets/cdl.py
  torchgeo/datasets/chesapeake.py
  torchgeo/datasets/deepglobelandcover.py
  torchgeo/datasets/dfc2022.py
  torchgeo/datasets/enviroatlas.py
  torchgeo/datasets/eudem.py
  torchgeo/datasets/idtrees.py
  torchgeo/datasets/inaturalist.py
  torchgeo/datasets/loveda.py
  torchgeo/datasets/openbuildings.py
  torchgeo/datasets/pastis.py
  torchgeo/datasets/reforestree.py
  torchgeo/datasets/seco.py
  torchgeo/datasets/sentinel.py
  torchgeo/models/farseg.py
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
  torchgeo/trainers/byol.py
  torchgeo/transforms/indices.py
Labels: documentation, datasets, models, trainers, transforms, dependencies
