Repository torchgeo/torchgeo, pull requests merged in 2024-02, with the labels that each got.

#1825 lightly v1.4.26 is incompatible with smp
  pyproject.toml
Labels: dependencies

#1844 CDL: add 2023 checksum
  torchgeo/datasets/cdl.py
Labels: datasets

#1846 Solution for codecov rate limits
  .github/workflows/coverage.yaml
  .github/workflows/tests.yaml
Labels: testing

#1847 Debug coverage
  .github/workflows/coverage.yaml
  .github/workflows/style.yaml
  .github/workflows/tests.yaml
Labels: testing

#1848 Debug coverage
  .github/workflows/coverage.yaml
  .github/workflows/tests.yaml
Labels: testing

#1849 Debug coverage
  .github/workflows/coverage.yaml
Labels: testing

#1852 Debug coverage
  .github/workflows/tests.yaml
Labels: testing

#1838 CI: stable notebook dependency versions
  .github/workflows/tutorials.yaml
  docs/tutorials/transforms.ipynb
Labels: documentation, testing

#1503 load_state_dict does not return the model
  README.md
  docs/tutorials/pretrained_weights.ipynb
  tests/trainers/test_utils.py
  torchgeo/trainers/byol.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/moco.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/simclr.py
  torchgeo/trainers/utils.py
Labels: documentation, testing, trainers

#1668 Adding South America Soybean Dataset
  docs/api/datasets.rst
  docs/api/geo_datasets.csv
  tests/data/south_america_soybean/SouthAmericaSoybean.zip
  tests/data/south_america_soybean/SouthAmericaSoybean/South_America_Soybean_2002.tif
  tests/data/south_america_soybean/SouthAmericaSoybean/South_America_Soybean_2021.tif
  tests/data/south_america_soybean/data.py
  tests/datasets/test_south_america_soybean.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/south_america_soybean.py
Labels: documentation, datasets, testing

#1836 Revert mypy changes
  torchgeo/datamodules/chesapeake.py
  torchgeo/datamodules/spacenet.py
  torchgeo/datasets/benin_cashews.py
  torchgeo/datasets/bigearthnet.py
  torchgeo/datasets/biomassters.py
  torchgeo/datasets/cloud_cover.py
  torchgeo/datasets/cowc.py
  torchgeo/datasets/cyclone.py
  torchgeo/datasets/etci2021.py
  torchgeo/datasets/idtrees.py
  torchgeo/datasets/inria.py
  torchgeo/datasets/landcoverai.py
  torchgeo/datasets/levircd.py
  torchgeo/datasets/loveda.py
  torchgeo/datasets/mapinwild.py
  torchgeo/datasets/nasa_marine_debris.py
  torchgeo/datasets/oscd.py
  torchgeo/datasets/pastis.py
  torchgeo/datasets/potsdam.py
  torchgeo/datasets/seasonet.py
  torchgeo/datasets/skippd.py
  torchgeo/datasets/spacenet.py
  torchgeo/datasets/ssl4eo_benchmark.py
  torchgeo/datasets/usavars.py
  torchgeo/losses/qr.py
  torchgeo/models/rcf.py
  torchgeo/samplers/batch.py
  torchgeo/samplers/single.py
  torchgeo/transforms/color.py
Labels: datasets, models, samplers, transforms, datamodules, losses

#1837 Test Python 3.12
  .github/workflows/release.yaml
  .github/workflows/style.yaml
  .github/workflows/tests.yaml
  .github/workflows/tutorials.yaml
  .readthedocs.yaml
  experiments/torchgeo/run_resisc45_experiments.py
  experiments/torchgeo/run_so2sat_experiments.py
  experiments/torchgeo/run_so2sat_seed_experiments.py
  pyproject.toml
Labels: testing, dependencies, scripts

#1858 Debug coverage
  .github/workflows/coverage.yaml
Labels: testing

#1862 Debug coverage
  .github/workflows/coverage.yaml
Labels: testing

#1863 Debug coverage
  .github/workflows/coverage.yaml
  .github/workflows/tests.yaml
Labels: testing

#1864 Debug coverage
  .github/workflows/coverage.yaml
Labels: testing

#1865 Debug coverage
  .github/workflows/coverage.yaml
Labels: testing

#1866 Debug coverage
  .github/workflows/coverage.yaml
  .github/workflows/tests.yaml
Labels: testing

#1867 Debug coverage
  .github/workflows/tests.yaml
Labels: testing

#1870 Resolve NCCM checksum error and add years args
  tests/data/nccm/13090442.zip
  tests/data/nccm/13090442/CDL2017_clip.tif
  tests/data/nccm/13090442/CDL2018_clip1.tif
  tests/data/nccm/13090442/CDL2019_clip.tif
  tests/data/nccm/CDL2017_clip.tif
  tests/data/nccm/CDL2018_clip1.tif
  tests/data/nccm/CDL2019_clip.tif
  tests/data/nccm/data.py
  tests/datasets/test_nccm.py
  torchgeo/datasets/nccm.py
Labels: datasets, testing

#1882 README: add PyTorch badge
  README.md
Labels: documentation

#1884 Additional Satlas pretrained models
  docs/api/landsat_pretrained_weights.csv
  docs/api/naip_pretrained_weights.csv
  docs/api/sentinel1_pretrained_weights.csv
  docs/api/sentinel2_pretrained_weights.csv
  torchgeo/models/swin.py
  torchgeo/transforms/transforms.py
Labels: documentation, models, transforms

#1806 README: add podcast episode
  README.md
Labels: documentation

#1900 Update landcoverai.yaml
  tests/conf/landcoverai.yaml
Labels: testing

#1904 ViTSmall16_Weights: fix typo
  torchgeo/models/vit.py
Labels: models

#1878 NCCM: fix timestamp extraction
  torchgeo/datasets/nccm.py
Labels: datasets

#1898 Correct behavior of ignore_index for JaccardLoss
  tests/conf/chesapeake_cvpr_5.yaml
  tests/conf/chesapeake_cvpr_7.yaml
  tests/trainers/test_segmentation.py
  torchgeo/trainers/segmentation.py
Labels: testing, trainers

#1908 Implement deterministic GeoDataset
  tests/datasets/test_geo.py
  torchgeo/datasets/geo.py
Labels: datasets, testing

#1839 Fix deterministic group_shuffle_split
  tests/datamodules/test_utils.py
  torchgeo/datamodules/utils.py
Labels: testing, datamodules
