Repository torchgeo/torchgeo, pull requests merged in 2024-04, with the labels that each got.

#1958 Docs: allow horizontal scrolling of wide tables
  docs/_static/table-scroll.css
  docs/conf.py
Labels: documentation

#1979 models: Switch to kornia AugmentationSequential
  pyproject.toml
  requirements/min-reqs.old
  torchgeo/models/dofa.py
  torchgeo/models/resnet.py
  torchgeo/models/swin.py
  torchgeo/models/vit.py
Labels: models, dependencies

#1869 Add eurocrops data module.
  docs/api/datamodules.rst
  tests/conf/sentinel2_eurocrops.yaml
  tests/data/eurocrops/AA.zip
  tests/data/eurocrops/AA_2022_EC21.cpg
  tests/data/eurocrops/AA_2022_EC21.dbf
  tests/data/eurocrops/AA_2022_EC21.prj
  tests/data/eurocrops/AA_2022_EC21.shp
  tests/data/eurocrops/AA_2022_EC21.shx
  tests/data/eurocrops/data.py
  tests/datasets/test_eurocrops.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/sentinel2_eurocrops.py
  torchgeo/datasets/eurocrops.py
  torchgeo/datasets/geo.py
Labels: documentation, datasets, testing, datamodules

#1987 Minor typo in notebook
  docs/tutorials/custom_raster_dataset.ipynb
Labels: documentation

#1968 RandomGeoSampler: fix performance regression
  torchgeo/samplers/utils.py
Labels: samplers

#2000 FireRisk HuggingFace Port
  torchgeo/datasets/fire_risk.py
Labels: datasets

#2003 Fix plotting in datamodules when dataset is a Subset
  torchgeo/datamodules/geo.py
Labels: datamodules

#1972 I/O Bench: add new dataset
  docs/api/datamodules.rst
  docs/api/datasets.rst
  docs/api/geo_datasets.csv
  docs/user/contributing.rst
  tests/conf/io_preprocessed.yaml
  tests/conf/io_raw.yaml
  tests/conf/iobench.yaml
  tests/data/iobench/data.py
  tests/data/iobench/preprocessed.tar.gz
  tests/data/iobench/preprocessed/cdl/2023_30m_cdls.tif
  tests/data/iobench/preprocessed/landsat/LC09_L2SP_023032_20230620_20230622_02_T1_SR_B1.TIF
  tests/data/iobench/preprocessed/landsat/LC09_L2SP_023032_20230620_20230622_02_T1_SR_B2.TIF
  tests/data/iobench/preprocessed/landsat/LC09_L2SP_023032_20230620_20230622_02_T1_SR_B3.TIF
  tests/data/iobench/preprocessed/landsat/LC09_L2SP_023032_20230620_20230622_02_T1_SR_B4.TIF
  tests/data/iobench/preprocessed/landsat/LC09_L2SP_023032_20230620_20230622_02_T1_SR_B5.TIF
  tests/data/iobench/preprocessed/landsat/LC09_L2SP_023032_20230620_20230622_02_T1_SR_B6.TIF
  tests/data/iobench/preprocessed/landsat/LC09_L2SP_023032_20230620_20230622_02_T1_SR_B7.TIF
  tests/data/iobench/preprocessed/landsat/LC09_L2SP_023032_20230620_20230622_02_T1_SR_QA_AEROSOL.TIF
  tests/datasets/test_iobench.py
  tests/trainers/test_iobench.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/iobench.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/iobench.py
  torchgeo/trainers/__init__.py
  torchgeo/trainers/iobench.py
Labels: documentation, datasets, testing, trainers, datamodules

#1997 QuakeSet dataset
  docs/api/datamodules.rst
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/conf/quakeset.yaml
  tests/data/quakeset/data.py
  tests/data/quakeset/earthquakes.h5
  tests/datasets/test_quakeset.py
  tests/trainers/test_classification.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/quakeset.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/quakeset.py
Labels: documentation, datasets, testing, datamodules

#2014 Fix versionadded typos
  torchgeo/datasets/geo.py
  torchgeo/trainers/segmentation.py
Labels: datasets, trainers

#2016 Docs: fix I/O bench table
  docs/user/contributing.rst
Labels: documentation

#2005 Remove torchgeo.datamodules.dataset_split
  tests/conf/skippd.yaml
  tests/datamodules/test_utils.py
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/gid15.py
  torchgeo/datamodules/levircd.py
  torchgeo/datamodules/nasa_marine_debris.py
  torchgeo/datamodules/oscd.py
  torchgeo/datamodules/potsdam.py
  torchgeo/datamodules/skippd.py
  torchgeo/datamodules/spacenet.py
  torchgeo/datamodules/utils.py
  torchgeo/datamodules/vaihingen.py
  torchgeo/datamodules/vhr10.py
  torchgeo/datamodules/xview.py
Labels: testing, datamodules

#2024 CI: disable caching on macOS
  .github/workflows/tests.yaml
Labels: testing
