Repository torchgeo/torchgeo, pull requests merged in 2024-11, with the labels that each got.

#2376 Add Consistent `bands` Metadata to Vision Transformer and ResNet Weights
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
Labels: models, hacktoberfest-accepted

#2383 Test model bands
  tests/models/test_resnet.py
  tests/models/test_swin.py
  tests/models/test_vit.py
Labels: testing

#2389 Fix typos
  requirements/min-reqs.old
  tests/data/digital_typhoon/data.py
  torchgeo/datasets/biomassters.py
  torchgeo/datasets/cms_mangrove_canopy.py
  torchgeo/datasets/esri2020.py
  torchgeo/datasets/forestdamage.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/mapinwild.py
  torchgeo/datasets/seasonet.py
  torchgeo/datasets/skippd.py
  torchgeo/datasets/ssl4eo_benchmark.py
  torchgeo/datasets/utils.py
  torchgeo/datasets/vhr10.py
  torchgeo/models/dofa.py
  torchgeo/models/rcf.py
  torchgeo/models/resnet.py
  torchgeo/models/swin.py
  torchgeo/models/vit.py
  torchgeo/trainers/byol.py
Labels: datasets, models, testing, trainers, dependencies

#2388 Remove Chesapeake7 and Chesapeake13
  torchgeo/datasets/__init__.py
Labels: datasets

#2387 Add Annual NLCD dataset
  tests/data/nlcd/Annual_NLCD_LndCov_2011_CU_C1V0.tif
  tests/data/nlcd/Annual_NLCD_LndCov_2019_CU_C1V0.tif
  tests/data/nlcd/data.py
  tests/data/nlcd/nlcd_2011_land_cover_l48_20210604.zip
  tests/data/nlcd/nlcd_2019_land_cover_l48_20210604.zip
  tests/datasets/test_nlcd.py
  torchgeo/datasets/nlcd.py
Labels: datasets, testing

#2401 Million-AID, ForestDamage: fix _verify docstring
  torchgeo/datasets/forestdamage.py
  torchgeo/datasets/millionaid.py
Labels: datasets

#2431 Bump pyvista to deal with VTK 9.4 release
  .github/workflows/tests.yaml
  requirements/datasets.txt
  requirements/min-reqs.old
Labels: testing, dependencies

#2410 HySpecNet-11k: add new dataset
  docs/api/datamodules.rst
  docs/api/datasets.rst
  docs/api/datasets/non_geo_datasets.csv
  tests/conf/hyspecnet_byol.yaml
  tests/conf/hyspecnet_moco.yaml
  tests/conf/hyspecnet_simclr.yaml
  tests/data/hyspecnet/data.py
  tests/data/hyspecnet/hyspecnet-11k-01.tar.gz
  tests/data/hyspecnet/hyspecnet-11k-splits.tar.gz
  tests/data/hyspecnet/hyspecnet-11k/patches/ENMAP01_20221103T162438Z/ENMAP01_20221103T162438Z-Y01460273_X05670694/ENMAP01_20221103T162438Z-Y01460273_X05670694-SPECTRAL_IMAGE.TIF
  tests/data/hyspecnet/hyspecnet-11k/patches/ENMAP01_20221103T162438Z/ENMAP01_20221103T162438Z-Y01460273_X06950822/ENMAP01_20221103T162438Z-Y01460273_X06950822-SPECTRAL_IMAGE.TIF
  tests/data/hyspecnet/hyspecnet-11k/splits/easy/test.csv
  tests/data/hyspecnet/hyspecnet-11k/splits/easy/train.csv
  tests/data/hyspecnet/hyspecnet-11k/splits/easy/val.csv
  tests/datasets/test_hyspecnet.py
  tests/trainers/test_byol.py
  tests/trainers/test_moco.py
  tests/trainers/test_simclr.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/hyspecnet.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/hyspecnet.py
Labels: documentation, datasets, testing, datamodules

#2402 TreeSatAI: Add new dataset
  docs/api/datamodules.rst
  docs/api/datasets.rst
  docs/api/datasets/non_geo_datasets.csv
  tests/conf/treesatai.yaml
  tests/data/treesatai/aerial/60m/Acer_pseudoplatanus_3_5758_WEFL_NLF.tif
  tests/data/treesatai/aerial/60m/Acer_pseudoplatanus_4_6058_WEFL_NLF.tif
  tests/data/treesatai/aerial/60m/Alnus_spec._5_13114_WEFL_NLF.tif
  tests/data/treesatai/aerial/60m/Fagus_sylvatica_9_29995_WEFL_NLF.tif
  tests/data/treesatai/aerial/60m/Picea_abies_2_46896_WEFL_NLF.tif
  tests/data/treesatai/aerial/60m/Picea_abies_3_46636_WEFL_NLF.tif
  tests/data/treesatai/aerial/60m/Pseudotsuga_menziesii_1_339575_BI_NLF.tif
  tests/data/treesatai/aerial/60m/Quercus_petraea_2_84375_WEFL_NLF.tif
  tests/data/treesatai/aerial/60m/Quercus_petraea_5_80549_WEFL_NLF.tif
  tests/data/treesatai/aerial/60m/Quercus_rubra_1_92184_WEFL_NLF.tif
  tests/data/treesatai/aerial_60m_acer_pseudoplatanus.zip
  tests/data/treesatai/aerial_60m_alnus_spec.zip
  tests/data/treesatai/aerial_60m_fagus_sylvatica.zip
  tests/data/treesatai/aerial_60m_picea_abies.zip
  tests/data/treesatai/aerial_60m_pseudotsuga_menziesii.zip
  tests/data/treesatai/aerial_60m_quercus_petraea.zip
  tests/data/treesatai/aerial_60m_quercus_rubra.zip
  tests/data/treesatai/data.py
  tests/data/treesatai/labels.zip
  tests/data/treesatai/labels/TreeSatBA_v9_60m_multi_labels.json
  tests/data/treesatai/s1.zip
  tests/data/treesatai/s1/60m/Acer_pseudoplatanus_3_5758_WEFL_NLF.tif
  tests/data/treesatai/s1/60m/Acer_pseudoplatanus_4_6058_WEFL_NLF.tif
  tests/data/treesatai/s1/60m/Alnus_spec._5_13114_WEFL_NLF.tif
  tests/data/treesatai/s1/60m/Fagus_sylvatica_9_29995_WEFL_NLF.tif
  tests/data/treesatai/s1/60m/Picea_abies_2_46896_WEFL_NLF.tif
  tests/data/treesatai/s1/60m/Picea_abies_3_46636_WEFL_NLF.tif
  tests/data/treesatai/s1/60m/Pseudotsuga_menziesii_1_339575_BI_NLF.tif
  tests/data/treesatai/s1/60m/Quercus_petraea_2_84375_WEFL_NLF.tif
  tests/data/treesatai/s1/60m/Quercus_petraea_5_80549_WEFL_NLF.tif
  tests/data/treesatai/s1/60m/Quercus_rubra_1_92184_WEFL_NLF.tif
  tests/data/treesatai/s2.zip
  tests/data/treesatai/s2/60m/Acer_pseudoplatanus_3_5758_WEFL_NLF.tif
  tests/data/treesatai/s2/60m/Acer_pseudoplatanus_4_6058_WEFL_NLF.tif
  tests/data/treesatai/s2/60m/Alnus_spec._5_13114_WEFL_NLF.tif
  tests/data/treesatai/s2/60m/Fagus_sylvatica_9_29995_WEFL_NLF.tif
  tests/data/treesatai/s2/60m/Picea_abies_2_46896_WEFL_NLF.tif
  tests/data/treesatai/s2/60m/Picea_abies_3_46636_WEFL_NLF.tif
  tests/data/treesatai/s2/60m/Pseudotsuga_menziesii_1_339575_BI_NLF.tif
  tests/data/treesatai/s2/60m/Quercus_petraea_2_84375_WEFL_NLF.tif
  tests/data/treesatai/s2/60m/Quercus_petraea_5_80549_WEFL_NLF.tif
  tests/data/treesatai/s2/60m/Quercus_rubra_1_92184_WEFL_NLF.tif
  tests/data/treesatai/test_filenames.lst
  tests/data/treesatai/train_filenames.lst
  tests/datasets/test_treesatai.py
  tests/trainers/test_classification.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/treesatai.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/treesatai.py
Labels: documentation, datasets, testing, datamodules
