Repository torchgeo/torchgeo, pull requests merged in 2025-07, with the labels that each got.

#2828 New SMP Decoders
  pyproject.toml
  requirements/min-reqs.old
  tests/conf/inria_dpt.yaml
  tests/conf/inria_segformer.yaml
  tests/conf/inria_upernet.yaml
  tests/trainers/test_change.py
  tests/trainers/test_regression.py
  tests/trainers/test_segmentation.py
  torchgeo/trainers/change.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/segmentation.py
Labels: testing, trainers, dependencies

#2883 SatSure core-dino Model
  docs/api/weights/agnostic.csv
  tests/models/test_yolo.py
  torchgeo/models/yolo.py
Labels: documentation, models, testing

#2849 Add SSL4Eco SeCo-Eco Weights
  docs/api/weights/sentinel2.csv
  torchgeo/models/resnet.py
Labels: documentation, models

#2879 LEVIR-CD: change detection compatibility
  tests/conf/levircd.yaml
  tests/conf/levircdplus.yaml
  tests/data/levircd/levircd/A/test_0.png
  tests/data/levircd/levircd/A/test_1.png
  tests/data/levircd/levircd/A/train_0.png
  tests/data/levircd/levircd/A/train_1.png
  tests/data/levircd/levircd/A/val_0.png
  tests/data/levircd/levircd/A/val_1.png
  tests/data/levircd/levircd/B/test_0.png
  tests/data/levircd/levircd/B/test_1.png
  tests/data/levircd/levircd/B/train_0.png
  tests/data/levircd/levircd/B/train_1.png
  tests/data/levircd/levircd/B/val_0.png
  tests/data/levircd/levircd/B/val_1.png
  tests/data/levircd/levircd/data.py
  tests/data/levircd/levircd/label/test_0.png
  tests/data/levircd/levircd/label/test_1.png
  tests/data/levircd/levircd/label/train_0.png
  tests/data/levircd/levircd/label/train_1.png
  tests/data/levircd/levircd/label/val_0.png
  tests/data/levircd/levircd/label/val_1.png
  tests/data/levircd/levircd/test.zip
  tests/data/levircd/levircd/train.zip
  tests/data/levircd/levircd/val.zip
  tests/data/levircd/levircdplus/LEVIR-CD+.zip
  tests/data/levircd/levircdplus/LEVIR-CD+/test/A/00.png
  tests/data/levircd/levircdplus/LEVIR-CD+/test/A/01.png
  tests/data/levircd/levircdplus/LEVIR-CD+/test/B/00.png
  tests/data/levircd/levircdplus/LEVIR-CD+/test/B/01.png
  tests/data/levircd/levircdplus/LEVIR-CD+/test/label/00.png
  tests/data/levircd/levircdplus/LEVIR-CD+/test/label/01.png
  tests/data/levircd/levircdplus/LEVIR-CD+/train/A/00.png
  tests/data/levircd/levircdplus/LEVIR-CD+/train/A/01.png
  tests/data/levircd/levircdplus/LEVIR-CD+/train/B/00.png
  tests/data/levircd/levircdplus/LEVIR-CD+/train/B/01.png
  tests/data/levircd/levircdplus/LEVIR-CD+/train/label/00.png
  tests/data/levircd/levircdplus/LEVIR-CD+/train/label/01.png
  tests/data/levircd/levircdplus/data.py
  tests/datamodules/test_levircd.py
  tests/datasets/test_cabuar.py
  tests/datasets/test_chabud.py
  tests/datasets/test_levircd.py
  tests/datasets/test_oscd.py
  tests/trainers/test_change.py
  torchgeo/datamodules/levircd.py
  torchgeo/datamodules/oscd.py
  torchgeo/datasets/cabuar.py
  torchgeo/datasets/chabud.py
  torchgeo/datasets/levircd.py
  torchgeo/datasets/oscd.py
  torchgeo/trainers/change.py
Labels: datasets, testing, trainers, datamodules, backwards-incompatible

#2867 Add L-TAE model
  docs/api/models.rst
  hubconf.py
  tests/models/test_ltae.py
  torchgeo/models/__init__.py
  torchgeo/models/ltae.py
Labels: documentation, models, testing

#2902 Remove orphaned xview3 directory
  tests/data/xview3/sample_data.tar.gz
Labels: testing
