Repository torchgeo/torchgeo, pull requests merged in 2025-09, with the labels that each got.

#1490 Xarray Dataset Support
  pyproject.toml
  requirements/datasets.txt
  requirements/min-reqs.old
  tests/data/hdf5/data.py
  tests/data/hdf5/era5.h5
  tests/data/netcdf/data.py
  tests/data/netcdf/era5.nc
  tests/datasets/test_geo.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/geo.py
Labels: datasets, testing, dependencies

#2987 RtD: linkage requires optional model deps
  docs/conf.py
  torchgeo/models/yolo.py
Labels: documentation, models

#2946 Remove PyTorch Lightning from Pretrained Weights tutorial
  docs/tutorials/pretrained_weights.ipynb
  docs/tutorials/trainers.ipynb
Labels: documentation

#2853 PyTorch Tutorial: download all split files
  docs/tutorials/pytorch.ipynb
Labels: documentation

#2986 CI: test that pyproject.toml and min-reqs.old match
  pyproject.toml
  requirements/min-reqs.old
  requirements/tests.txt
  tests/test_requirements.py
Labels: testing, dependencies

#3000 Deps: prevent lightning 2.5.5 from being used in CI
  .github/dependabot.yml
  requirements/required.txt
Labels: dependencies
