Repository torchgeo/torchgeo, pull requests merged in 2025-08, with the labels that each got.

#2906 xView2: change detection compatibility
  tests/conf/xview2.yaml
  tests/datamodules/test_xview.py
  tests/datasets/test_xview.py
  tests/trainers/test_change.py
  torchgeo/datamodules/xview.py
  torchgeo/datasets/xview.py
Labels: datasets, testing, datamodules, backwards-incompatible

#2923 Fix minimum tests, avoid broken safetensors
  requirements/min-reqs.old
Labels: dependencies

#2924 HySpecNet11k: fix bug in filepaths
  torchgeo/datasets/hyspecnet.py
Labels: datasets

#2823 Aurora Atmospheric/Weather Forecasting Models
  docs/api/models.rst
  docs/api/weights/atmospheric.csv
  hubconf.py
  pyproject.toml
  requirements/min-reqs.old
  requirements/models.txt
  tests/models/test_api.py
  tests/models/test_aurora.py
  torchgeo/models/__init__.py
  torchgeo/models/api.py
  torchgeo/models/aurora.py
Labels: documentation, models, testing, dependencies

#2514 Add formal governance
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/GOVERNANCE.md
  .github/MAINTAINERS.md
  .github/SECURITY.md
  .github/SUPPORT.md
  README.md
Labels: documentation

#2931 Dependabot: don't track setuptools
  .github/dependabot.yml
  requirements/min-reqs.old
  requirements/models.txt
  requirements/required.txt
Labels: dependencies

#2939 Add CDL 2024 data
  torchgeo/datasets/cdl.py
Labels: datasets

#2951 Rename ResNet50 S1 weights in tutorial.
  docs/tutorials/earthquake_detection.ipynb
Labels: documentation

#2956 Fix FTW Bands
  torchgeo/models/unet.py
Labels: models

#2953 Add Slack links to contributing section of README
  README.md
Labels: documentation
