Repository torchgeo/torchgeo, pull requests merged in 2025-06, with the labels that each got.

#2806 EarthLoc Model
  docs/api/models.rst
  docs/api/weights/sentinel2.csv
  hubconf.py
  tests/models/test_api.py
  tests/models/test_earthloc.py
  torchgeo/models/__init__.py
  torchgeo/models/api.py
  torchgeo/models/earthloc.py
Labels: documentation, models, testing

#2834 NAIPChesapeakeDataModule: fix overlap between train and test
  torchgeo/datamodules/naip.py
Labels: datamodules

#2844 fix a minor typo in doc string
  torchgeo/models/copernicusfm.py
Labels: models

#2804 GeoDataset: add support for slicing
  docs/tutorials/torchgeo.ipynb
  tests/datamodules/test_geo.py
  tests/datasets/test_agrifieldnet.py
  tests/datasets/test_airphen.py
  tests/datasets/test_astergdem.py
  tests/datasets/test_cbf.py
  tests/datasets/test_cdl.py
  tests/datasets/test_chesapeake.py
  tests/datasets/test_eddmaps.py
  tests/datasets/test_enmap.py
  tests/datasets/test_enviroatlas.py
  tests/datasets/test_esri2020.py
  tests/datasets/test_eudem.py
  tests/datasets/test_eurocrops.py
  tests/datasets/test_gbif.py
  tests/datasets/test_gbm.py
  tests/datasets/test_geo.py
  tests/datasets/test_globbiomass.py
  tests/datasets/test_inaturalist.py
  tests/datasets/test_iobench.py
  tests/datasets/test_l7irish.py
  tests/datasets/test_l8biome.py
  tests/datasets/test_landcoverai.py
  tests/datasets/test_landsat.py
  tests/datasets/test_mmflood.py
  tests/datasets/test_naip.py
  tests/datasets/test_nccm.py
  tests/datasets/test_nlcd.py
  tests/datasets/test_openbuildings.py
  tests/datasets/test_prisma.py
  tests/datasets/test_sentinel.py
  tests/datasets/test_south_africa_crop_type.py
  tests/datasets/test_south_america_soybean.py
  tests/datasets/test_splits.py
  tests/samplers/test_batch.py
  tests/samplers/test_single.py
  tests/samplers/test_utils.py
  torchgeo/datamodules/naip.py
  torchgeo/datasets/agrifieldnet.py
  torchgeo/datasets/cdl.py
  torchgeo/datasets/chesapeake.py
  torchgeo/datasets/eddmaps.py
  torchgeo/datasets/enviroatlas.py
  torchgeo/datasets/gbif.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/globbiomass.py
  torchgeo/datasets/inaturalist.py
  torchgeo/datasets/l7irish.py
  torchgeo/datasets/l8biome.py
  torchgeo/datasets/landcoverai.py
  torchgeo/datasets/mmflood.py
  torchgeo/datasets/nccm.py
  torchgeo/datasets/nlcd.py
  torchgeo/datasets/openbuildings.py
  torchgeo/datasets/south_africa_crop_type.py
  torchgeo/datasets/splits.py
  torchgeo/datasets/utils.py
  torchgeo/samplers/batch.py
  torchgeo/samplers/single.py
  torchgeo/samplers/utils.py
Labels: documentation, datasets, testing, samplers, datamodules, backwards-incompatible

#2840 Download Eurosat split file if only image folder exists
  tests/datasets/test_eurosat.py
  torchgeo/datasets/eurosat.py
Labels: datasets, testing

#2837 IntersectionDataset: support spatial-only intersection
  tests/datasets/test_geo.py
  torchgeo/datasets/geo.py
Labels: datasets, testing

#2835 roi_split: support arbitrary Polygon for roi
  docs/conf.py
  tests/datasets/test_splits.py
  torchgeo/datasets/splits.py
Labels: documentation, datasets, testing, backwards-incompatible

#2797 Add SolarPlantsBrazil dataset for photovoltaic panel detection (semantic segmentation)
  docs/api/datamodules.rst
  docs/api/datasets.rst
  docs/api/datasets/non_geo_datasets.csv
  tests/conf/solar_plants_brazil.yaml
  tests/data/solar_plants_brazil/data.py
  tests/data/solar_plants_brazil/solarplantsbrazil.zip
  tests/data/solar_plants_brazil/test/input/img(1).tif
  tests/data/solar_plants_brazil/test/labels/target(1).tif
  tests/data/solar_plants_brazil/train/input/img(1).tif
  tests/data/solar_plants_brazil/train/labels/target(1).tif
  tests/data/solar_plants_brazil/val/input/img(1).tif
  tests/data/solar_plants_brazil/val/labels/target(1).tif
  tests/datasets/test_solar_plants_brazil.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/solar_plants_brazil.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/solar_plants_brazil.py
Labels: documentation, datasets, testing, datamodules
