Repository torchgeo/torchgeo, pull requests merged in 2025-03, with the labels that each got.

#2617 BRIGHT: document image size
  docs/api/datasets/non_geo_datasets.csv
Labels: documentation

#2627 fix inconsistent patch size in dofa huge model
  docs/api/models.rst
  tests/models/test_dofa.py
  torchgeo/models/__init__.py
  torchgeo/models/dofa.py
Labels: documentation, models, testing, backwards-incompatible

#2602 ObjectDetectionTask: support for non-RGB imagery (SAR, MSI, HSI)
  tests/trainers/test_detection.py
  torchgeo/trainers/detection.py
  torchgeo/trainers/instance_segmentation.py
Labels: testing, trainers

#2572 Add DIOR dataset
  docs/api/datasets.rst
  docs/api/datasets/non_geo_datasets.csv
  tests/data/dior/Annotations/trainval/000000.xml
  tests/data/dior/Annotations/trainval/000001.xml
  tests/data/dior/Annotations/trainval/000002.xml
  tests/data/dior/Annotations/trainval/000003.xml
  tests/data/dior/Annotations/trainval/000004.xml
  tests/data/dior/Annotations/trainval/000005.xml
  tests/data/dior/Annotations_trainval.zip
  tests/data/dior/Images/test/000000.jpg
  tests/data/dior/Images/test/000001.jpg
  tests/data/dior/Images/trainval/000000.jpg
  tests/data/dior/Images/trainval/000001.jpg
  tests/data/dior/Images/trainval/000002.jpg
  tests/data/dior/Images/trainval/000003.jpg
  tests/data/dior/Images/trainval/000004.jpg
  tests/data/dior/Images/trainval/000005.jpg
  tests/data/dior/Images_test.zip
  tests/data/dior/Images_trainval.zip
  tests/data/dior/data.py
  tests/data/dior/sample_df.csv
  tests/datasets/test_dior.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/dior.py
Labels: documentation, datasets, testing

#2352 Added substation segementation dataset
  docs/api/datamodules.rst
  docs/api/datasets.rst
  docs/api/datasets/non_geo_datasets.csv
  tests/conf/substation.yaml
  tests/data/substation/data.py
  tests/data/substation/image_stack.tar.gz
  tests/data/substation/image_stack/image_0.npz
  tests/data/substation/image_stack/image_1.npz
  tests/data/substation/image_stack/image_2.npz
  tests/data/substation/image_stack/image_3.npz
  tests/data/substation/image_stack/image_4.npz
  tests/data/substation/mask.tar.gz
  tests/data/substation/mask/image_0.npz
  tests/data/substation/mask/image_1.npz
  tests/data/substation/mask/image_2.npz
  tests/data/substation/mask/image_3.npz
  tests/data/substation/mask/image_4.npz
  tests/datasets/test_substation.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/substation.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/substation.py
Labels: documentation, datasets, testing, datamodules

#2551 Add DOTA dataset
  docs/api/datasets.rst
  docs/api/datasets/non_geo_datasets.csv
  tests/data/dota/data.py
  tests/data/dota/dotav1.0_annotations_train.tar.gz
  tests/data/dota/dotav1.0_annotations_val.tar.gz
  tests/data/dota/dotav1.0_images_train.tar.gz
  tests/data/dota/dotav1.0_images_val.tar.gz
  tests/data/dota/dotav1.5_annotations_train.tar.gz
  tests/data/dota/dotav1.5_annotations_val.tar.gz
  tests/data/dota/dotav1.5_images_train.tar.gz
  tests/data/dota/dotav1.5_images_val.tar.gz
  tests/data/dota/dotav2.0_annotations_train.tar.gz
  tests/data/dota/dotav2.0_annotations_val.tar.gz
  tests/data/dota/dotav2.0_images_train.tar.gz
  tests/data/dota/dotav2.0_images_val.tar.gz
  tests/data/dota/samples.csv
  tests/data/dota/samples.parquet
  tests/data/dota/train/annotations/version1.0/P0000.txt
  tests/data/dota/train/annotations/version1.0/P0001.txt
  tests/data/dota/train/annotations/version1.0/P0002.txt
  tests/data/dota/train/annotations/version1.5/P0000.txt
  tests/data/dota/train/annotations/version1.5/P0001.txt
  tests/data/dota/train/annotations/version1.5/P0002.txt
  tests/data/dota/train/annotations/version2.0/P0000.txt
  tests/data/dota/train/annotations/version2.0/P0001.txt
  tests/data/dota/train/annotations/version2.0/P0002.txt
  tests/data/dota/train/images/P0000.png
  tests/data/dota/train/images/P0001.png
  tests/data/dota/train/images/P0002.png
  tests/data/dota/val/annotations/version1.0/P0000.txt
  tests/data/dota/val/annotations/version1.0/P0001.txt
  tests/data/dota/val/annotations/version1.5/P0000.txt
  tests/data/dota/val/annotations/version1.5/P0001.txt
  tests/data/dota/val/annotations/version2.0/P0000.txt
  tests/data/dota/val/annotations/version2.0/P0001.txt
  tests/data/dota/val/images/P0000.png
  tests/data/dota/val/images/P0001.png
  tests/datasets/test_dota.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/dota.py
Labels: documentation, datasets, testing

#2575 Add SODA-A dataset
  docs/api/datasets.rst
  docs/api/datasets/non_geo_datasets.csv
  tests/data/soda/Annotations.zip
  tests/data/soda/Annotations/test/00006.json
  tests/data/soda/Annotations/test/00007.json
  tests/data/soda/Annotations/train/00001.json
  tests/data/soda/Annotations/train/00002.json
  tests/data/soda/Annotations/train/00003.json
  tests/data/soda/Annotations/val/00004.json
  tests/data/soda/Annotations/val/00005.json
  tests/data/soda/Images.zip
  tests/data/soda/Images/00001.jpg
  tests/data/soda/Images/00002.jpg
  tests/data/soda/Images/00003.jpg
  tests/data/soda/Images/00004.jpg
  tests/data/soda/Images/00005.jpg
  tests/data/soda/Images/00006.jpg
  tests/data/soda/Images/00007.jpg
  tests/data/soda/data.py
  tests/data/soda/sample_df.csv
  tests/datasets/test_soda.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/soda.py
Labels: documentation, datasets, testing

#2638 CI: do not cancel runs on main branch
  .github/workflows/release.yaml
  .github/workflows/style.yaml
  .github/workflows/tests.yaml
  .github/workflows/tutorials.yaml
Labels: testing

#2643 Update license resisc45 and vhr10
  docs/api/datasets/non_geo_datasets.csv
Labels: documentation

#2642 ReforesTree data module
  docs/api/datamodules.rst
  reforesTree.zip
  tests/conf/reforestree.yaml
  tests/data/reforestree/data.py
  tests/data/reforestree/reforesTree.zip
  tests/data/reforestree/reforesTree/mapping/final_dataset.csv
  tests/data/reforestree/reforesTree/tiles/Site3/Site3_RGB_0_0_0_4000_4000.png
  tests/data/reforestree/reforesTree/tiles/Site4/Site4_RGB_0_0_0_4000_4000.png
  tests/data/reforestree/reforesTree/tiles/Site5/Site5_RGB_0_0_0_4000_4000.png
  tests/datasets/test_reforestree.py
  tests/trainers/test_detection.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/reforestree.py
  torchgeo/datasets/reforestree.py
Labels: documentation, datasets, testing, datamodules

#2616 SSL4EO-S12: add automatic download support
  tests/data/ssl4eo/s12/data.py
  tests/data/ssl4eo/s12/s1.tar.gz
  tests/data/ssl4eo/s12/s1_grd.tar.gz
  tests/data/ssl4eo/s12/s1_grd.tar.gz.partaa
  tests/data/ssl4eo/s12/s1_grd.tar.gz.partab
  tests/data/ssl4eo/s12/s1_grd.tar.gz.partac
  tests/data/ssl4eo/s12/s1_grd.tar.gz.partad
  tests/data/ssl4eo/s12/s1_grd.tar.gz.partae
  tests/data/ssl4eo/s12/s2_l1c.tar.gz
  tests/data/ssl4eo/s12/s2_l1c.tar.gz.partaa
  tests/data/ssl4eo/s12/s2_l1c.tar.gz.partab
  tests/data/ssl4eo/s12/s2_l2a.tar.gz
  tests/data/ssl4eo/s12/s2_l2a.tar.gz.partaa
  tests/data/ssl4eo/s12/s2_l2a.tar.gz.partab
  tests/datasets/test_ssl4eo.py
  torchgeo/datasets/ssl4eo.py
Labels: datasets, testing

#2559 Drop support for Python 3.10
  .github/workflows/tests.yaml
  pyproject.toml
  requirements/min-reqs.old
  tests/datasets/test_advance.py
  tests/datasets/test_cabuar.py
  tests/datasets/test_chabud.py
  tests/datasets/test_cropharvest.py
  tests/datasets/test_digital_typhoon.py
  tests/datasets/test_landcoverai.py
  tests/datasets/test_mmearth.py
  tests/datasets/test_quakeset.py
  tests/datasets/test_skippd.py
  tests/datasets/test_so2sat.py
  tests/datasets/test_vhr10.py
  tests/datasets/test_zuericrop.py
  torchgeo/datasets/cyclone.py
  torchgeo/datasets/satlas.py
  torchgeo/datasets/seco.py
  torchgeo/trainers/moco.py
Labels: datasets, testing, trainers, dependencies

#2473 GlobalBuildingMap: add new dataset
  docs/api/datasets.rst
  docs/api/datasets/geo_datasets.csv
  tests/data/gbm/GBM_v1_e000_n10_e005_n05.tif
  tests/data/gbm/data.py
  tests/datasets/test_gbm.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/gbm.py
Labels: documentation, datasets, testing

#2555 RasterDataset: assert valid bands
  torchgeo/datasets/geo.py
Labels: datasets

#2577 I/O Bench: automatically download data
  tests/conf/digital_typhoon_id.yaml
  tests/conf/digital_typhoon_time.yaml
  tests/conf/io_preprocessed.yaml
  tests/conf/io_raw.yaml
Labels: testing

#2604 Copernicus-Bench: Level-1 datasets
  docs/api/datasets.rst
  docs/api/datasets/copernicus_bench.csv
  tests/data/copernicus/l1_cloud_s2/cloud_s2.zip
  tests/data/copernicus/l1_cloud_s2/cloud_s2/cloud/ROI_00002__20200422T141729_20200422T142243_T19GDN.tif
  tests/data/copernicus/l1_cloud_s2/cloud_s2/s2_toa/ROI_00002__20200422T141729_20200422T142243_T19GDN.tif
  tests/data/copernicus/l1_cloud_s2/cloud_s2/test.csv
  tests/data/copernicus/l1_cloud_s2/cloud_s2/train.csv
  tests/data/copernicus/l1_cloud_s2/cloud_s2/val.csv
  tests/data/copernicus/l1_cloud_s2/data.py
  tests/data/copernicus/l1_cloud_s3/cloud_s3.zip
  tests/data/copernicus/l1_cloud_s3/cloud_s3/cloud_binary/S3A_OL_1_EFR____20200703T154217_20200703T154517_20200704T201053_0179_060_111_2160_LN1_O_NT_002_01_01.tif
  tests/data/copernicus/l1_cloud_s3/cloud_s3/cloud_multi/S3A_OL_1_EFR____20200703T154217_20200703T154517_20200704T201053_0179_060_111_2160_LN1_O_NT_002_01_01.tif
  tests/data/copernicus/l1_cloud_s3/cloud_s3/s3_olci/S3A_OL_1_EFR____20200703T154217_20200703T154517_20200704T201053_0179_060_111_2160_LN1_O_NT_002_01_01.tif
  tests/data/copernicus/l1_cloud_s3/cloud_s3/test.csv
  tests/data/copernicus/l1_cloud_s3/cloud_s3/train.csv
  tests/data/copernicus/l1_cloud_s3/cloud_s3/val.csv
  tests/data/copernicus/l1_cloud_s3/data.py
  tests/datasets/test_copernicus.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/copernicus/__init__.py
  torchgeo/datasets/copernicus/base.py
  torchgeo/datasets/copernicus/cloud_s2.py
  torchgeo/datasets/copernicus/cloud_s3.py
Labels: documentation, datasets, testing

#2662 BENv2: add citation information
  torchgeo/datasets/bigearthnet.py
Labels: datasets

#2605 Copernicus-Bench: Add Level-2 datasets
  docs/api/datasets.rst
  docs/api/datasets/copernicus_bench.csv
  tests/data/copernicus/l2_bigearthnet_s1s2/bigearthnet_s1s2/BigEarthNet-S1-5%/S1A_IW_GRDH_1SDV_20180420T063852/S1A_IW_GRDH_1SDV_20180420T063852_29UPU_77_6/S1A_IW_GRDH_1SDV_20180420T063852_29UPU_77_6_allbands.tif
  tests/data/copernicus/l2_bigearthnet_s1s2/bigearthnet_s1s2/BigEarthNet-S2-5%/S2B_MSIL2A_20180421T114349_N9999_R123_T29UPU/S2B_MSIL2A_20180421T114349_N9999_R123_T29UPU_77_06/S2B_MSIL2A_20180421T114349_N9999_R123_T29UPU_77_06_allbands.tif
  tests/data/copernicus/l2_bigearthnet_s1s2/bigearthnet_s1s2/multilabel-test.csv
  tests/data/copernicus/l2_bigearthnet_s1s2/bigearthnet_s1s2/multilabel-train.csv
  tests/data/copernicus/l2_bigearthnet_s1s2/bigearthnet_s1s2/multilabel-val.csv
  tests/data/copernicus/l2_bigearthnet_s1s2/bigearthnetv2.zip
  tests/data/copernicus/l2_bigearthnet_s1s2/data.py
  tests/data/copernicus/l2_dfc2020_s1s2/data.py
  tests/data/copernicus/l2_dfc2020_s1s2/dfc2020.zip
  tests/data/copernicus/l2_dfc2020_s1s2/dfc2020_s1s2/dfc-test-new.csv
  tests/data/copernicus/l2_dfc2020_s1s2/dfc2020_s1s2/dfc-train-new.csv
  tests/data/copernicus/l2_dfc2020_s1s2/dfc2020_s1s2/dfc-val-new.csv
  tests/data/copernicus/l2_dfc2020_s1s2/dfc2020_s1s2/dfc/ROIs0000_test_dfc_0_p609.tif
  tests/data/copernicus/l2_dfc2020_s1s2/dfc2020_s1s2/s1/ROIs0000_test_s1_0_p609.tif
  tests/data/copernicus/l2_dfc2020_s1s2/dfc2020_s1s2/s2/ROIs0000_test_s2_0_p609.tif
  tests/data/copernicus/l2_eurosat_s1s2/data.py
  tests/data/copernicus/l2_eurosat_s1s2/eurosat_s1.zip
  tests/data/copernicus/l2_eurosat_s1s2/eurosat_s1/all_imgs/Residential/Residential_2029.tif
  tests/data/copernicus/l2_eurosat_s1s2/eurosat_s1/eurosat-test.txt
  tests/data/copernicus/l2_eurosat_s1s2/eurosat_s1/eurosat-train.txt
  tests/data/copernicus/l2_eurosat_s1s2/eurosat_s1/eurosat-val.txt
  tests/data/copernicus/l2_eurosat_s1s2/eurosat_s2.zip
  tests/data/copernicus/l2_eurosat_s1s2/eurosat_s2/all_imgs/Residential/Residential_2029.tif
  tests/data/copernicus/l2_eurosat_s1s2/eurosat_s2/eurosat-test.txt
  tests/data/copernicus/l2_eurosat_s1s2/eurosat_s2/eurosat-train.txt
  tests/data/copernicus/l2_eurosat_s1s2/eurosat_s2/eurosat-val.txt
  tests/data/copernicus/l2_lc100_s3/data.py
  tests/data/copernicus/l2_lc100_s3/lc100_s3.zip
  tests/data/copernicus/l2_lc100_s3/lc100_s3/lc100/0200599_-70.25_-55.25.tif
  tests/data/copernicus/l2_lc100_s3/lc100_s3/multilabel-test.csv
  tests/data/copernicus/l2_lc100_s3/lc100_s3/multilabel-train.csv
  tests/data/copernicus/l2_lc100_s3/lc100_s3/multilabel-val.csv
  tests/data/copernicus/l2_lc100_s3/lc100_s3/s3_olci/0200599_-70.25_-55.25/S3A_20190507T135736_20190507T135744.tif
  tests/data/copernicus/l2_lc100_s3/lc100_s3/s3_olci/0200599_-70.25_-55.25/S3B_20190810T135525_20190810T135539.tif
  tests/data/copernicus/l2_lc100_s3/lc100_s3/static_fnames-test.csv
  tests/data/copernicus/l2_lc100_s3/lc100_s3/static_fnames-train.csv
  tests/data/copernicus/l2_lc100_s3/lc100_s3/static_fnames-val.csv
  tests/datasets/test_copernicus.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/copernicus/__init__.py
  torchgeo/datasets/copernicus/base.py
  torchgeo/datasets/copernicus/bigearthnet_s1.py
  torchgeo/datasets/copernicus/bigearthnet_s2.py
  torchgeo/datasets/copernicus/cloud_s2.py
  torchgeo/datasets/copernicus/cloud_s3.py
  torchgeo/datasets/copernicus/dfc2020_s1.py
  torchgeo/datasets/copernicus/dfc2020_s2.py
  torchgeo/datasets/copernicus/eurosat_s1.py
  torchgeo/datasets/copernicus/eurosat_s2.py
  torchgeo/datasets/copernicus/lc100cls_s3.py
  torchgeo/datasets/copernicus/lc100seg_s3.py
Labels: documentation, datasets, testing

#2658 Trainers tutorial: document where checkpoints are saved, how to get best model
  docs/tutorials/trainers.ipynb
Labels: documentation

#2659 Fix Pretrained ResNet/ViT not working when features_only=True
  tests/models/conftest.py
  tests/models/test_resnet.py
  tests/models/test_vit.py
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
Labels: models, testing

#2606 Copernicus-Bench: Add Level-3 Sentinel-1/2/3
  docs/api/datasets.rst
  docs/api/datasets/copernicus_bench.csv
  tests/data/copernicus/l3_biomass_s3/biomass_s3.zip
  tests/data/copernicus/l3_biomass_s3/biomass_s3/biomass/S30E140_ESACCI-BIOMASS-L4-AGB-MERGED-100m-2020-fv4.0_02_11.tif
  tests/data/copernicus/l3_biomass_s3/biomass_s3/s3_olci/S30E140_ESACCI-BIOMASS-L4-AGB-MERGED-100m-2020-fv4.0_02_11/S3A_20200319T233546_20200319T233846.tif
  tests/data/copernicus/l3_biomass_s3/biomass_s3/s3_olci/S30E140_ESACCI-BIOMASS-L4-AGB-MERGED-100m-2020-fv4.0_02_11/S3B_20200514T234457_20200514T234757.tif
  tests/data/copernicus/l3_biomass_s3/biomass_s3/static_fnames-test.csv
  tests/data/copernicus/l3_biomass_s3/biomass_s3/static_fnames-train.csv
  tests/data/copernicus/l3_biomass_s3/biomass_s3/static_fnames-val.csv
  tests/data/copernicus/l3_biomass_s3/data.py
  tests/data/copernicus/l3_flood_s1/data.py
  tests/data/copernicus/l3_flood_s1/flood_s1.zip
  tests/data/copernicus/l3_flood_s1/flood_s1/data/1111013/01/e2eb30d2c5eb52669c5e6a9db8973835/MK0_MLU_1111013_01_20170504.tif
  tests/data/copernicus/l3_flood_s1/flood_s1/data/1111013/01/e2eb30d2c5eb52669c5e6a9db8973835/MS1_IVH_1111013_01_20170504.tif
  tests/data/copernicus/l3_flood_s1/flood_s1/data/1111013/01/e2eb30d2c5eb52669c5e6a9db8973835/MS1_IVV_1111013_01_20170504.tif
  tests/data/copernicus/l3_flood_s1/flood_s1/data/1111013/01/e2eb30d2c5eb52669c5e6a9db8973835/SL1_IVH_1111013_01_20170422.tif
  tests/data/copernicus/l3_flood_s1/flood_s1/data/1111013/01/e2eb30d2c5eb52669c5e6a9db8973835/SL1_IVV_1111013_01_20170422.tif
  tests/data/copernicus/l3_flood_s1/flood_s1/data/1111013/01/e2eb30d2c5eb52669c5e6a9db8973835/SL2_IVH_1111013_01_20170410.tif
  tests/data/copernicus/l3_flood_s1/flood_s1/data/1111013/01/e2eb30d2c5eb52669c5e6a9db8973835/SL2_IVV_1111013_01_20170410.tif
  tests/data/copernicus/l3_flood_s1/flood_s1/grid_dict_test.json
  tests/data/copernicus/l3_flood_s1/flood_s1/grid_dict_train.json
  tests/data/copernicus/l3_flood_s1/flood_s1/grid_dict_val.json
  tests/data/copernicus/l3_lcz_s2/data.py
  tests/data/copernicus/l3_lcz_s2/lcz_test.h5
  tests/data/copernicus/l3_lcz_s2/lcz_train.h5
  tests/data/copernicus/l3_lcz_s2/lcz_val.h5
  tests/datasets/conftest.py
  tests/datasets/test_copernicus.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/copernicus/__init__.py
  torchgeo/datasets/copernicus/base.py
  torchgeo/datasets/copernicus/biomass_s3.py
  torchgeo/datasets/copernicus/flood_s1.py
  torchgeo/datasets/copernicus/lcz_s2.py
Labels: documentation, datasets, testing

#2666 Mention otbtf as another framework in the documentation
  docs/user/alternatives.rst
  docs/user/metrics/downloads.csv
  docs/user/metrics/features.csv
  docs/user/metrics/github.csv
Labels: documentation

#2607 Copernicus-Bench: Add Level-3 Sentinel-5P
  docs/api/datasets.rst
  docs/api/datasets/copernicus_bench.csv
  tests/data/copernicus/l3_airquality_s5p/airquality_s5p.zip
  tests/data/copernicus/l3_airquality_s5p/airquality_s5p/no2/label_annual/EEA_1kmgrid_2021_no2_avg_34_13.tif
  tests/data/copernicus/l3_airquality_s5p/airquality_s5p/no2/s5p_annual/EEA_1kmgrid_2021_no2_avg_34_13/2021-01-01_2021-12-31.tif
  tests/data/copernicus/l3_airquality_s5p/airquality_s5p/no2/s5p_seasonal/EEA_1kmgrid_2021_no2_avg_34_13/2021-01-01_2021-04-01.tif
  tests/data/copernicus/l3_airquality_s5p/airquality_s5p/no2/s5p_seasonal/EEA_1kmgrid_2021_no2_avg_34_13/2021-04-01_2021-07-01.tif
  tests/data/copernicus/l3_airquality_s5p/airquality_s5p/no2/s5p_seasonal/EEA_1kmgrid_2021_no2_avg_34_13/2021-07-01_2021-10-01.tif
  tests/data/copernicus/l3_airquality_s5p/airquality_s5p/no2/s5p_seasonal/EEA_1kmgrid_2021_no2_avg_34_13/2021-10-01_2021-12-31.tif
  tests/data/copernicus/l3_airquality_s5p/airquality_s5p/no2/test.csv
  tests/data/copernicus/l3_airquality_s5p/airquality_s5p/no2/train.csv
  tests/data/copernicus/l3_airquality_s5p/airquality_s5p/no2/val.csv
  tests/data/copernicus/l3_airquality_s5p/airquality_s5p/o3/label_annual/EEA_1kmgrid_2021_o3_avg_34_13.tif
  tests/data/copernicus/l3_airquality_s5p/airquality_s5p/o3/s5p_annual/EEA_1kmgrid_2021_o3_avg_34_13/2021-01-01_2021-12-31.tif
  tests/data/copernicus/l3_airquality_s5p/airquality_s5p/o3/s5p_seasonal/EEA_1kmgrid_2021_o3_avg_34_13/2021-01-01_2021-04-01.tif
  tests/data/copernicus/l3_airquality_s5p/airquality_s5p/o3/s5p_seasonal/EEA_1kmgrid_2021_o3_avg_34_13/2021-04-01_2021-07-01.tif
  tests/data/copernicus/l3_airquality_s5p/airquality_s5p/o3/s5p_seasonal/EEA_1kmgrid_2021_o3_avg_34_13/2021-07-01_2021-10-01.tif
  tests/data/copernicus/l3_airquality_s5p/airquality_s5p/o3/s5p_seasonal/EEA_1kmgrid_2021_o3_avg_34_13/2021-10-01_2021-12-31.tif
  tests/data/copernicus/l3_airquality_s5p/airquality_s5p/o3/test.csv
  tests/data/copernicus/l3_airquality_s5p/airquality_s5p/o3/train.csv
  tests/data/copernicus/l3_airquality_s5p/airquality_s5p/o3/val.csv
  tests/data/copernicus/l3_airquality_s5p/data.py
  tests/datasets/test_copernicus.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/copernicus/__init__.py
  torchgeo/datasets/copernicus/aq_no2_s5p.py
  torchgeo/datasets/copernicus/aq_o3_s5p.py
  torchgeo/datasets/copernicus/base.py
  torchgeo/datasets/copernicus/biomass_s3.py
Labels: documentation, datasets, testing

#2679 Missing class label in Everwatch
  docs/api/datasets/non_geo_datasets.csv
  tests/data/everwatch/data.py
  tests/data/everwatch/everwatch-benchmark.zip
  tests/data/everwatch/everwatch-benchmark/test.csv
  tests/datasets/test_everwatch.py
  torchgeo/datasets/everwatch.py
Labels: documentation, datasets, testing

#2646 Add Copernicus-FM
  docs/api/models.rst
  docs/api/weights/agnostic.csv
  hubconf.py
  tests/models/test_copernicusfm.py
  torchgeo/models/__init__.py
  torchgeo/models/copernicusfm.py
Labels: documentation, models, testing

#2678 SpaceNet: convert to benchmark suite
  docs/api/datasets.rst
  docs/api/datasets/non_geo_datasets.csv
  docs/api/datasets/spacenet.csv
  torchgeo/datasets/spacenet.py
  torchgeo/datasets/spacenet/__init__.py
  torchgeo/datasets/spacenet/base.py
  torchgeo/datasets/spacenet/spacenet1.py
  torchgeo/datasets/spacenet/spacenet2.py
  torchgeo/datasets/spacenet/spacenet3.py
  torchgeo/datasets/spacenet/spacenet4.py
  torchgeo/datasets/spacenet/spacenet5.py
  torchgeo/datasets/spacenet/spacenet6.py
  torchgeo/datasets/spacenet/spacenet7.py
  torchgeo/datasets/spacenet/spacenet8.py
Labels: documentation, datasets

#2219 Trainers: support binary, multiclass, and multilabel tasks
  docs/api/trainers.rst
  tests/conf/bigearthnet_all.yaml
  tests/conf/bigearthnet_s1.yaml
  tests/conf/bigearthnet_s2.yaml
  tests/conf/cabuar.yaml
  tests/conf/chabud.yaml
  tests/conf/etci2021.yaml
  tests/conf/ftw.yaml
  tests/conf/inria.yaml
  tests/conf/mmflood.yaml
  tests/conf/quakeset.yaml
  tests/conf/sentinel2_south_america_soybean.yaml
  tests/conf/treesatai.yaml
  tests/trainers/test_classification.py
  tests/trainers/test_segmentation.py
  torchgeo/datasets/treesatai.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/segmentation.py
Labels: documentation, datasets, testing, trainers, backwards-incompatible

#2676 Rehosted Biomassters dataset to torchgeo HF
  tests/data/biomassters/biomassters_features_metadata.csv
  tests/data/biomassters/data.py
  tests/data/biomassters/test_features.zip
  tests/data/biomassters/test_features/0003d2eb_S1_00.tif
  tests/data/biomassters/test_features/0003d2eb_S1_01.tif
  tests/data/biomassters/test_features/0003d2eb_S1_02.tif
  tests/data/biomassters/test_features/0003d2eb_S2_00.tif
  tests/data/biomassters/test_features/0003d2eb_S2_02.tif
  tests/data/biomassters/test_features/000aa810_S1_00.tif
  tests/data/biomassters/test_features/000aa810_S1_01.tif
  tests/data/biomassters/test_features/000aa810_S1_02.tif
  tests/data/biomassters/test_features/000aa810_S2_00.tif
  tests/data/biomassters/test_features/000aa810_S2_02.tif
  tests/data/biomassters/train_agbm.zip
  tests/data/biomassters/train_agbm/0003d2eb_agbm.tif
  tests/data/biomassters/train_agbm/000aa810_agbm.tif
  tests/data/biomassters/train_features.zip
  tests/data/biomassters/train_features/0003d2eb_S1_00.tif
  tests/data/biomassters/train_features/0003d2eb_S1_01.tif
  tests/data/biomassters/train_features/0003d2eb_S1_02.tif
  tests/data/biomassters/train_features/0003d2eb_S2_00.tif
  tests/data/biomassters/train_features/0003d2eb_S2_02.tif
  tests/data/biomassters/train_features/000aa810_S1_00.tif
  tests/data/biomassters/train_features/000aa810_S1_01.tif
  tests/data/biomassters/train_features/000aa810_S1_02.tif
  tests/data/biomassters/train_features/000aa810_S2_00.tif
  tests/data/biomassters/train_features/000aa810_S2_02.tif
  torchgeo/datasets/biomassters.py
Labels: datasets, testing

#2665 Geobench docs
  docs/user/alternatives.rst
  docs/user/metrics/downloads.csv
  docs/user/metrics/features.csv
  docs/user/metrics/github.csv
Labels: documentation

#2588 Custom semantic segmentation tutorial
  docs/tutorials/custom_segmentation_trainer.ipynb
  docs/tutorials/customization.rst
Labels: documentation

#2677 SoftCon pretrained models
  docs/api/models.rst
  docs/api/weights/sentinel1.csv
  docs/api/weights/sentinel2.csv
  hubconf.py
  tests/models/test_vit.py
  torchgeo/models/__init__.py
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
Labels: documentation, models, testing, backwards-incompatible

#2687 Models: fix features_only loading, avoid redundant weight tests
  tests/models/conftest.py
  tests/models/test_copernicusfm.py
  tests/models/test_croma.py
  tests/models/test_dofa.py
  tests/models/test_resnet.py
  tests/models/test_scale_mae.py
  tests/models/test_swin.py
  tests/models/test_vit.py
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
Labels: models, testing

#2668 ReforesTree: skip images with missing mappings
  torchgeo/datasets/reforestree.py
Labels: datasets

#2682 Refactor _RandomNCrop to RandomCrop + ExtractPatches
  tests/conf/reforestree.yaml
  tests/datamodules/test_levircd.py
  tests/datamodules/test_oscd.py
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/gid15.py
  torchgeo/datamodules/inria.py
  torchgeo/datamodules/levircd.py
  torchgeo/datamodules/oscd.py
  torchgeo/datamodules/potsdam.py
  torchgeo/datamodules/reforestree.py
  torchgeo/datamodules/vaihingen.py
  torchgeo/transforms/transforms.py
Labels: testing, transforms, datamodules
