Repository torchgeo/torchgeo, pull requests merged in 2025-02, with the labels that each got.

#2542 Landsat 7: fix default bands
  torchgeo/datasets/landsat.py
Labels: datasets

#2547 CI: add Python 3.13 tests
  .devcontainer/devcontainer.json
  .github/workflows/deploy.yaml
  .github/workflows/release.yaml
  .github/workflows/style.yaml
  .github/workflows/tests.yaml
  .github/workflows/tutorials.yaml
  .readthedocs.yaml
  pyproject.toml
Labels: documentation, testing, dependencies

#2499 EuroCrops: handle Nones in get_label
  tests/datasets/test_eurocrops.py
  torchgeo/datasets/eurocrops.py
Labels: datasets, testing

#2543 Add EnMAP dataset
  docs/api/datasets.rst
  docs/api/datasets/geo_datasets.csv
  tests/data/enmap/ENMAP01-____L2A-DT0000001053_20220611T072305Z_002_V010400_20231221T134421Z-SPECTRAL_IMAGE_COG.tiff
  tests/data/enmap/data.py
  tests/datasets/test_enmap.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/enmap.py
Labels: documentation, datasets, testing

#2566 Fix typos
  docs/tutorials/contribute_datamodule.ipynb
  docs/tutorials/contribute_non_geo_dataset.ipynb
  docs/tutorials/earth_surface_water.ipynb
  docs/tutorials/geospatial.ipynb
Labels: documentation

#1978 Remove AugPipe
  .pre-commit-config.yaml
  docs/api/transforms.rst
  tests/datamodules/test_fair1m.py
  tests/datasets/test_fair1m.py
  tests/datasets/test_forestdamage.py
  tests/datasets/test_idtrees.py
  tests/datasets/test_nasa_marine_debris.py
  tests/datasets/test_pastis.py
  tests/datasets/test_reforestree.py
  tests/datasets/test_vhr10.py
  tests/datasets/test_zuericrop.py
  tests/transforms/test_transforms.py
  torchgeo/datamodules/fair1m.py
  torchgeo/datamodules/nasa_marine_debris.py
  torchgeo/datamodules/utils.py
  torchgeo/datamodules/vhr10.py
  torchgeo/datasets/fair1m.py
  torchgeo/datasets/forestdamage.py
  torchgeo/datasets/idtrees.py
  torchgeo/datasets/nasa_marine_debris.py
  torchgeo/datasets/pastis.py
  torchgeo/datasets/reforestree.py
  torchgeo/datasets/vhr10.py
  torchgeo/datasets/zuericrop.py
  torchgeo/trainers/detection.py
  torchgeo/transforms/transforms.py
Labels: documentation, datasets, testing, trainers, transforms, datamodules, backwards-incompatible

#2568 BRIGHT: add transform to test data
  tests/data/bright/data.py
  tests/data/bright/dfc25_track2_trainval.zip
  tests/data/bright/dfc25_track2_trainval/train/post-event/bata-explosion_00000014_post_disaster.tif
  tests/data/bright/dfc25_track2_trainval/train/post-event/bata-explosion_00000047_post_disaster.tif
  tests/data/bright/dfc25_track2_trainval/train/post-event/bata-explosion_00000049_post_disaster.tif
  tests/data/bright/dfc25_track2_trainval/train/post-event/turkey-earthquake_00000413_post_disaster.tif
  tests/data/bright/dfc25_track2_trainval/train/pre-event/bata-explosion_00000014_pre_disaster.tif
  tests/data/bright/dfc25_track2_trainval/train/pre-event/bata-explosion_00000047_pre_disaster.tif
  tests/data/bright/dfc25_track2_trainval/train/pre-event/bata-explosion_00000049_pre_disaster.tif
  tests/data/bright/dfc25_track2_trainval/train/pre-event/turkey-earthquake_00000413_pre_disaster.tif
  tests/data/bright/dfc25_track2_trainval/val/post-event/val-disaster_00000001_post_disaster.tif
  tests/data/bright/dfc25_track2_trainval/val/post-event/val-disaster_00000002_post_disaster.tif
  tests/data/bright/dfc25_track2_trainval/val/pre-event/val-disaster_00000001_pre_disaster.tif
  tests/data/bright/dfc25_track2_trainval/val/pre-event/val-disaster_00000002_pre_disaster.tif
  tests/datasets/test_bright.py
Labels: testing

#2508 Add DL4GAMAlps dataset
  docs/api/datasets.rst
  docs/api/datasets/non_geo_datasets.csv
  pyproject.toml
  requirements/datasets.txt
  requirements/min-reqs.old
  tests/data/dl4gam_alps/data.py
  tests/data/dl4gam_alps/dataset_large.tar.gz
  tests/data/dl4gam_alps/dataset_large/g_0008/g_0008_patch_0.nc
  tests/data/dl4gam_alps/dataset_large/g_0008/g_0008_patch_1.nc
  tests/data/dl4gam_alps/dataset_large/g_0009/g_0009_patch_0.nc
  tests/data/dl4gam_alps/dataset_large/g_0009/g_0009_patch_1.nc
  tests/data/dl4gam_alps/dataset_large/g_0030/g_0030_patch_0.nc
  tests/data/dl4gam_alps/dataset_large/g_0030/g_0030_patch_1.nc
  tests/data/dl4gam_alps/dataset_large/g_0035/g_0035_patch_0.nc
  tests/data/dl4gam_alps/dataset_large/g_0035/g_0035_patch_1.nc
  tests/data/dl4gam_alps/dataset_small.tar.gz
  tests/data/dl4gam_alps/dataset_small/g_0008/g_0008_patch_0.nc
  tests/data/dl4gam_alps/dataset_small/g_0009/g_0009_patch_0.nc
  tests/data/dl4gam_alps/dataset_small/g_0030/g_0030_patch_0.nc
  tests/data/dl4gam_alps/dataset_small/g_0035/g_0035_patch_0.nc
  tests/data/dl4gam_alps/splits.csv
  tests/datasets/test_dl4gam.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/dl4gam.py
Labels: documentation, datasets, testing, dependencies

#2587 Wrong md5sum in digital typhoon
  torchgeo/datasets/digital_typhoon.py
Labels: datasets

#2603 VHR-10 plot fix
  torchgeo/datasets/vhr10.py
Labels: datasets

#2583 Add EverWatch dataset
  docs/api/datasets.rst
  docs/api/datasets/non_geo_datasets.csv
  tests/data/everwatch/data.py
  tests/data/everwatch/everwatch-benchmark.zip
  tests/data/everwatch/everwatch-benchmark/test.csv
  tests/data/everwatch/everwatch-benchmark/test1.png
  tests/data/everwatch/everwatch-benchmark/test2.png
  tests/data/everwatch/everwatch-benchmark/train.csv
  tests/data/everwatch/everwatch-benchmark/train1.png
  tests/data/everwatch/everwatch-benchmark/train2.png
  tests/data/everwatch/everwatch-benchmark/train3.png
  tests/datasets/test_everwatch.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/everwatch.py
Labels: documentation, datasets, testing

#2533 SSL4EO-S12: add additional metadata
  torchgeo/datasets/sentinel.py
  torchgeo/datasets/ssl4eo.py
Labels: datasets

#2513 Trainers: add Instance Segmentation Task
  pyproject.toml
  requirements/min-reqs.old
  tests/conf/vhr10_ins_seg.yaml
  tests/conf/vhr10_obj_det.yaml
  tests/datasets/test_vhr10.py
  tests/trainers/test_detection.py
  tests/trainers/test_instance_segmentation.py
  torchgeo/datasets/vhr10.py
  torchgeo/models/fcsiam.py
  torchgeo/trainers/__init__.py
  torchgeo/trainers/detection.py
  torchgeo/trainers/instance_segmentation.py
Labels: datasets, models, testing, trainers, dependencies, backwards-incompatible
