Repository torchgeo/torchgeo, pull requests merged in 2025-05, with the labels that each got.

#2759 Plot Method Added to MMEarth Dataset
  tests/datasets/test_mmearth.py
  torchgeo/datasets/mmearth.py
Labels: datasets, testing

#2766 Samplers: yield instead of return
  torchgeo/samplers/batch.py
  torchgeo/samplers/single.py
Labels: samplers

#2768 CopernicusPretrain: returns -> yields
  torchgeo/datasets/copernicus/pretrain.py
Labels: datasets

#2774 CLI: silence jsonargparse deprecation warning
  pyproject.toml
Labels: dependencies

#2776 Add VHR10DataModule to docs
  docs/api/datamodules.rst
Labels: documentation

#2760 Add PatternNet datamodule
  docs/api/datamodules.rst
  tests/conf/patternnet.yaml
  tests/data/patternnet/PatternNet.zip
  tests/data/patternnet/PatternNet/images/airplane/airplane001.jpg
  tests/data/patternnet/PatternNet/images/airplane/airplane002.jpg
  tests/data/patternnet/PatternNet/images/airplane/airplane003.jpg
  tests/data/patternnet/PatternNet/images/bridge/bridge001.jpg
  tests/data/patternnet/PatternNet/images/bridge/bridge002.jpg
  tests/data/patternnet/PatternNet/images/bridge/bridge003.jpg
  tests/datasets/test_patternnet.py
  tests/trainers/test_classification.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/patternnet.py
Labels: documentation, testing, datamodules

#2784 NonGeoDataset Tutorial: correct Sphinx directive
  docs/tutorials/contribute_non_geo_dataset.ipynb
Labels: documentation

#2778 Add SKIPP'D data module to the docs
  docs/api/datamodules.rst
Labels: documentation

#2422 Add ChangeDetectionTask
  tests/conf/oscd.yaml
  tests/datamodules/test_oscd.py
  tests/datasets/test_oscd.py
  tests/trainers/conftest.py
  tests/trainers/test_change.py
  torchgeo/datamodules/oscd.py
  torchgeo/datasets/oscd.py
  torchgeo/trainers/__init__.py
  torchgeo/trainers/change.py
Labels: datasets, testing, trainers, datamodules, backwards-incompatible

#2742 Sat-SlideMix Augmentation
  tests/transforms/test_spatial.py
  torchgeo/transforms/__init__.py
  torchgeo/transforms/spatial.py
Labels: testing, transforms

#2794 Docs: PyTorch docs site has moved
  docs/conf.py
Labels: documentation

#2752 ObjectDetection/InstanceSegmentationTask: fix support for non-RGB images
  tests/conf/vhr10_ins_seg.yaml
  tests/trainers/test_detection.py
  tests/trainers/test_instance_segmentation.py
  torchgeo/trainers/detection.py
  torchgeo/trainers/instance_segmentation.py
  torchgeo/trainers/utils.py
Labels: testing, trainers

#2477 Temporal transform: rearrange temporal and channel dimensions
  docs/conf.py
  tests/transforms/test_temporal.py
  torchgeo/transforms/__init__.py
  torchgeo/transforms/temporal.py
Labels: documentation, testing, transforms
