Repository torchgeo/torchgeo, pull requests merged in 2025-01, with the labels that each got.

#2429 Add MDAS dataset
  docs/api/datasets.rst
  docs/api/datasets/non_geo_datasets.csv
  tests/data/mdas/Augsburg_data_4_publication.zip
  tests/data/mdas/Augsburg_data_4_publication/sub_area_1/3K_DSM_sub_area1.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_1/3K_RGB_sub_area1.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_1/EeteS_EnMAP_10m_sub_area1.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_1/EeteS_EnMAP_30m_sub_area1.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_1/EeteS_Sentinel_2_10m_sub_area1.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_1/HySpex_sub_area1.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_1/Sentinel_1_sub_area1.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_1/Sentinel_2_sub_area1.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_1/osm_buildings_sub_area1.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_1/osm_landuse_sub_area1.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_1/osm_water_sub_area1.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_2/3K_DSM_sub_area2.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_2/3K_RGB_sub_area2.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_2/EeteS_EnMAP_10m_sub_area2.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_2/EeteS_EnMAP_30m_sub_area2.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_2/EeteS_Sentinel_2_10m_sub_area2.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_2/HySpex_sub_area2.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_2/Sentinel_1_sub_area2.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_2/Sentinel_2_sub_area2.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_2/osm_buildings_sub_area2.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_2/osm_landuse_sub_area2.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_2/osm_water_sub_area2.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_3/3K_DSM_sub_area3.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_3/3K_RGB_sub_area3.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_3/EeteS_EnMAP_10m_sub_area3.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_3/EeteS_EnMAP_30m_sub_area3.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_3/EeteS_Sentinel_2_10m_sub_area3.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_3/HySpex_sub_area3.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_3/Sentinel_1_sub_area3.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_3/Sentinel_2_sub_area3.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_3/osm_buildings_sub_area3.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_3/osm_landuse_sub_area3.tif
  tests/data/mdas/Augsburg_data_4_publication/sub_area_3/osm_water_sub_area3.tif
  tests/data/mdas/data.py
  tests/datasets/test_mdas.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/mdas.py
Labels: documentation, datasets, testing

#2428 IDTReeS: remove support for plotting lidar point cloud
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  docs/conf.py
  pyproject.toml
  requirements/datasets.txt
  requirements/min-reqs.old
  tests/datasets/test_idtrees.py
  torchgeo/datasets/idtrees.py
Labels: documentation, datasets, testing, dependencies, backwards-incompatible

#2521 SatlasPretrain: fix table hyperlink
  torchgeo/datasets/satlas.py
Labels: datasets

#2522 ZueriCrop: rehost on HF
  docs/api/datasets/non_geo_datasets.csv
  tests/datasets/test_zuericrop.py
  torchgeo/datasets/zuericrop.py
Labels: documentation, datasets, testing

#2532 ETCI2021: fix file list when 'vv' in directory name
  torchgeo/datasets/etci2021.py
Labels: datasets

#2450 Add MMFlood dataset
  docs/api/datamodules.rst
  docs/api/datasets.rst
  docs/api/datasets/geo_datasets.csv
  tests/conf/mmflood.yaml
  tests/data/mmflood/activations.json
  tests/data/mmflood/activations.tar.000.gz.part
  tests/data/mmflood/activations.tar.001.gz.part
  tests/data/mmflood/activations/EMSR000-0/DEM/EMSR000-0.tif
  tests/data/mmflood/activations/EMSR000-0/DEM/EMSR000-1.tif
  tests/data/mmflood/activations/EMSR000-0/DEM/EMSR000-2.tif
  tests/data/mmflood/activations/EMSR000-0/mask/EMSR000-0.tif
  tests/data/mmflood/activations/EMSR000-0/mask/EMSR000-1.tif
  tests/data/mmflood/activations/EMSR000-0/mask/EMSR000-2.tif
  tests/data/mmflood/activations/EMSR000-0/s1_raw/EMSR000-0.tif
  tests/data/mmflood/activations/EMSR000-0/s1_raw/EMSR000-1.tif
  tests/data/mmflood/activations/EMSR000-0/s1_raw/EMSR000-2.tif
  tests/data/mmflood/activations/EMSR001-0/DEM/EMSR001-0.tif
  tests/data/mmflood/activations/EMSR001-0/DEM/EMSR001-1.tif
  tests/data/mmflood/activations/EMSR001-0/hydro/EMSR001-0.tif
  tests/data/mmflood/activations/EMSR001-0/hydro/EMSR001-1.tif
  tests/data/mmflood/activations/EMSR001-0/mask/EMSR001-0.tif
  tests/data/mmflood/activations/EMSR001-0/mask/EMSR001-1.tif
  tests/data/mmflood/activations/EMSR001-0/s1_raw/EMSR001-0.tif
  tests/data/mmflood/activations/EMSR001-0/s1_raw/EMSR001-1.tif
  tests/data/mmflood/activations/EMSR003-0/DEM/EMSR003-0.tif
  tests/data/mmflood/activations/EMSR003-0/DEM/EMSR003-1.tif
  tests/data/mmflood/activations/EMSR003-0/hydro/EMSR003-0.tif
  tests/data/mmflood/activations/EMSR003-0/mask/EMSR003-0.tif
  tests/data/mmflood/activations/EMSR003-0/mask/EMSR003-1.tif
  tests/data/mmflood/activations/EMSR003-0/s1_raw/EMSR003-0.tif
  tests/data/mmflood/activations/EMSR003-0/s1_raw/EMSR003-1.tif
  tests/data/mmflood/activations/EMSR004-0/DEM/EMSR004-0.tif
  tests/data/mmflood/activations/EMSR004-0/hydro/EMSR004-0.tif
  tests/data/mmflood/activations/EMSR004-0/mask/EMSR004-0.tif
  tests/data/mmflood/activations/EMSR004-0/s1_raw/EMSR004-0.tif
  tests/data/mmflood/data.py
  tests/datasets/test_mmflood.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/mmflood.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/mmflood.py
Labels: documentation, datasets, testing, datamodules

#2520 Add BRIGHT dataset
  docs/api/datasets.rst
  docs/api/datasets/non_geo_datasets.csv
  tests/data/bright/data.py
  tests/data/bright/dfc25_track2_trainval.zip
  tests/data/bright/dfc25_track2_trainval/holdout_setlevel.txt
  tests/data/bright/dfc25_track2_trainval/train/post-event/bata-explosion_00000014_post_disaster.tif
  tests/data/bright/dfc25_track2_trainval/train/post-event/bata-explosion_00000047_post_disaster.tif
  tests/data/bright/dfc25_track2_trainval/train/post-event/bata-explosion_00000049_post_disaster.tif
  tests/data/bright/dfc25_track2_trainval/train/post-event/turkey-earthquake_00000413_post_disaster.tif
  tests/data/bright/dfc25_track2_trainval/train/pre-event/bata-explosion_00000014_pre_disaster.tif
  tests/data/bright/dfc25_track2_trainval/train/pre-event/bata-explosion_00000047_pre_disaster.tif
  tests/data/bright/dfc25_track2_trainval/train/pre-event/bata-explosion_00000049_pre_disaster.tif
  tests/data/bright/dfc25_track2_trainval/train/pre-event/turkey-earthquake_00000413_pre_disaster.tif
  tests/data/bright/dfc25_track2_trainval/train_setlevel.txt
  tests/data/bright/dfc25_track2_trainval/val/post-event/val-disaster_00000001_post_disaster.tif
  tests/data/bright/dfc25_track2_trainval/val/post-event/val-disaster_00000002_post_disaster.tif
  tests/data/bright/dfc25_track2_trainval/val/pre-event/val-disaster_00000001_pre_disaster.tif
  tests/data/bright/dfc25_track2_trainval/val/pre-event/val-disaster_00000002_pre_disaster.tif
  tests/data/bright/dfc25_track2_trainval/val_setlevel.txt
  tests/datasets/test_bright.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/bright.py
Labels: documentation, datasets, testing

#2540 Fix file-specific test coverage
  .github/workflows/tests.yaml
  docs/user/contributing.rst
  pyproject.toml
Labels: documentation, testing, dependencies

#2534 MDAS: silence matplotlib deprecation warning
  torchgeo/datasets/mdas.py
Labels: datasets

#2545 BigEarthNet: Remove unnecessary line
  torchgeo/datasets/bigearthnet.py
Labels: datasets

#2549 Tutorials: fix broken hyperlinks in Customization docs
  docs/tutorials/customization.rst
Labels: documentation
