Repository torchgeo/torchgeo, pull requests merged in 2025-04, with the labels that each got.

#2601 GeoDatasets should use separate values for x and y resolution
  requirements/min-reqs.old
  tests/data/raster/data.py
  tests/data/raster/res_2-1_epsg_32631/res_2-1_epsg_32631.tif
  tests/data/raster/res_2-1_epsg_4087/res_2-1_epsg_4087.tif
  tests/data/raster/res_2-1_epsg_4326/res_2-1_epsg_4326.tif
  tests/data/raster/res_2-2_epsg_32631/res_2-2_epsg_32631.tif
  tests/data/raster/res_2-2_epsg_4087/res_2-2_epsg_4087.tif
  tests/data/raster/res_2-2_epsg_4326/res_2-2_epsg_4326.tif
  tests/data/raster/res_4-4_epsg_32631/res_4-4_epsg_32631.tif
  tests/data/raster/res_4-4_epsg_4087/res_4-4_epsg_4087.tif
  tests/data/raster/res_4-4_epsg_4326/res_4-4_epsg_4326.tif
  tests/data/raster/res_8-8_epsg_32631/res_8-8_epsg_32631.tif
  tests/data/raster/res_8-8_epsg_4087/res_8-8_epsg_4087.tif
  tests/data/raster/res_8-8_epsg_4326/res_8-8_epsg_4326.tif
  tests/datamodules/test_geo.py
  tests/datasets/test_cbf.py
  tests/datasets/test_geo.py
  tests/datasets/test_openbuildings.py
  tests/datasets/test_sentinel.py
  tests/datasets/test_splits.py
  tests/samplers/test_batch.py
  tests/samplers/test_single.py
  torchgeo/datasets/agb_live_woody_density.py
  torchgeo/datasets/astergdem.py
  torchgeo/datasets/cbf.py
  torchgeo/datasets/cdl.py
  torchgeo/datasets/chesapeake.py
  torchgeo/datasets/cms_mangrove_canopy.py
  torchgeo/datasets/eddmaps.py
  torchgeo/datasets/enmap.py
  torchgeo/datasets/enviroatlas.py
  torchgeo/datasets/esri2020.py
  torchgeo/datasets/eudem.py
  torchgeo/datasets/eurocrops.py
  torchgeo/datasets/gbif.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/globbiomass.py
  torchgeo/datasets/inaturalist.py
  torchgeo/datasets/iobench.py
  torchgeo/datasets/l7irish.py
  torchgeo/datasets/l8biome.py
  torchgeo/datasets/landcoverai.py
  torchgeo/datasets/landsat.py
  torchgeo/datasets/mmflood.py
  torchgeo/datasets/nccm.py
  torchgeo/datasets/nlcd.py
  torchgeo/datasets/openbuildings.py
  torchgeo/datasets/sentinel.py
  torchgeo/datasets/south_america_soybean.py
  torchgeo/samplers/batch.py
  torchgeo/samplers/single.py
  torchgeo/samplers/utils.py
Labels: datasets, testing, samplers, dependencies

#2699 Update FTW documentation
  torchgeo/datasets/ftw.py
Labels: datasets

#2691 Update list of related libraries
  docs/user/alternatives.rst
  docs/user/metrics/downloads.csv
  docs/user/metrics/features.csv
  docs/user/metrics/github.csv
Labels: documentation

#2647 Earthquake detection use case tutorial
  .github/workflows/release.yaml
  .github/workflows/tutorials.yaml
  docs/tutorials/case_studies.rst
  docs/tutorials/earthquake_detection.ipynb
Labels: documentation, testing

#2692 Panopticon Model
  docs/api/models.rst
  docs/api/weights/agnostic.csv
  hubconf.py
  tests/models/test_panopticon.py
  torchgeo/models/__init__.py
  torchgeo/models/panopticon.py
Labels: documentation, models, testing

#2701 0.7.0 release
  .github/workflows/release.yaml
  docs/api/datasets/copernicus_bench.csv
  docs/api/datasets/non_geo_datasets.csv
  docs/tutorials/custom_segmentation_trainer.ipynb
  docs/user/installation.rst
  pyproject.toml
  tests/datasets/test_geo.py
  tests/trainers/test_detection.py
  tests/trainers/test_segmentation.py
  torchgeo/__init__.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/openbuildings.py
  torchgeo/datasets/sen12ms.py
  torchgeo/datasets/sentinel.py
  torchgeo/samplers/utils.py
Labels: documentation, datasets, testing, samplers, dependencies

#2708 fix typo in contribute_datamodule
  docs/tutorials/contribute_datamodule.ipynb
Labels: documentation

#2706 Fix typo in geospatial tutorial
  docs/tutorials/geospatial.ipynb
Labels: documentation

#2705 README: update VHR-10, semantic segmentation examples
  README.md
Labels: documentation

#2723 PyTorch Tutorial: use transforms
  docs/tutorials/pytorch.ipynb
Labels: documentation

#2722 GridGeoSampler: add default stride
  tests/samplers/test_single.py
  torchgeo/samplers/single.py
Labels: testing, samplers

#2720 PreChippedGeoSampler: fix test type hints
  tests/samplers/test_single.py
Labels: testing

#2710 CopernicusFM: ensure test metadata is always within range
  tests/models/test_copernicusfm.py
Labels: testing

#2721 Earthquake detection tutorial faster testing
  docs/tutorials/earthquake_detection.ipynb
Labels: documentation

#2729 Update TorchGeo paper citation
  CITATION.cff
  README.md
Labels: documentation

#2731 FTW Plot Predictions
  torchgeo/datasets/ftw.py
Labels: datasets

#2735 FTW Plot Typo
  torchgeo/datasets/ftw.py
Labels: datasets

#2730 Add GeoDeep to docs
  docs/user/alternatives.rst
  docs/user/metrics/downloads.csv
  docs/user/metrics/features.csv
  docs/user/metrics/github.csv
Labels: documentation

#2709 Plot Method Added to EDDMapS Dataset
  tests/datasets/test_eddmaps.py
  torchgeo/datasets/eddmaps.py
Labels: datasets, testing

#2734 Related Libraries: DeepForest used to support TensorFlow
  docs/user/alternatives.rst
  docs/user/metrics/features.csv
Labels: documentation

#2733 Models API Incomplete
  tests/models/test_api.py
  torchgeo/models/api.py
Labels: models, testing

#2741 Plot Method Added to GBIF Dataset
  tests/datasets/test_gbif.py
  torchgeo/datasets/gbif.py
Labels: datasets, testing

#2719 FTW U-Net Models
  docs/api/models.rst
  docs/api/weights/sentinel2.csv
  hubconf.py
  tests/models/test_api.py
  tests/models/test_unet.py
  torchgeo/models/__init__.py
  torchgeo/models/api.py
  torchgeo/models/unet.py
Labels: documentation, models, testing

#2743 Plot Method Added to iNaturalist Dataset
  tests/datasets/test_inaturalist.py
  torchgeo/datasets/inaturalist.py
Labels: datasets, testing

#2744 InstanceSegmentationTask: denormalize images before plotting
  torchgeo/trainers/instance_segmentation.py
Labels: trainers

#2758 docs: add srai library to the alternatives
  docs/user/alternatives.rst
  docs/user/metrics/downloads.csv
  docs/user/metrics/features.csv
  docs/user/metrics/github.csv
Labels: documentation
